@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
.mast {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #111;
}

.mast:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.9);
}

.mast > header {
    z-index: 2;
    position: relative;
}

.mast__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 50%;
}

.mast__header {
    padding: 5%;
}

.mast__title span {
    animation: letter-glow 0.7s 0s ease both;
}

.mast__title span:nth-child(1) {
    animation-delay: 0.05s;
}

.mast__title span:nth-child(2) {
    animation-delay: 0.1s;
}

.mast__title span:nth-child(3) {
    animation-delay: 0.15s;
}

.mast__title span:nth-child(4) {
    animation-delay: 0.2s;
}

.mast__title span:nth-child(5) {
    animation-delay: 0.25s;
}

.mast__title span:nth-child(6) {
    animation-delay: 0.3s;
}

.mast__title span:nth-child(7) {
    animation-delay: 0.35s;
}

.mast__title span:nth-child(8) {
    animation-delay: 0.4s;
}

.mast__title span:nth-child(9) {
    animation-delay: 0.45s;
}

.mast__title span:nth-child(10) {
    animation-delay: 0.5s;
}

.mast__title span:nth-child(11) {
    animation-delay: 0.55s;
}

.mast__title span:nth-child(12) {
    animation-delay: 0.6s;
}

.mast__title span:nth-child(13) {
    animation-delay: 0.65s;
}

.mast__title span:nth-child(14) {
    animation-delay: 0.7s;
}

.mast__title span:nth-child(15) {
    animation-delay: 0.75s;
}

.mast__title span:nth-child(16) {
    animation-delay: 0.8s;
}

.mast__title span:nth-child(17) {
    animation-delay: 0.85s;
}

.mast__title span:nth-child(18) {
    animation-delay: 0.9s;
}

.mast__title span:nth-child(19) {
    animation-delay: 0.95s;
}

.mast__title span:nth-child(20) {
    animation-delay: 1s;
}

.mast__title span:nth-child(21) {
    animation-delay: 1.05s;
}

.mast__title span:nth-child(22) {
    animation-delay: 1.1s;
}

.mast__title span:nth-child(23) {
    animation-delay: 1.15s;
}

.mast__title span:nth-child(24) {
    animation-delay: 1.2s;
}

.mast__title span:nth-child(25) {
    animation-delay: 1.25s;
}

.mast__text {
    font-size: 1em;
    margin: 0 0 0.5em;
    line-height: 1.5;
    white-space: pre;
}

.mast__text span {
    animation: letter-glow 0.7s 0s ease both;
}

.mast__text span:nth-child(1) {
    animation-delay: 0.05s;
}

.mast__text span:nth-child(2) {
    animation-delay: 0.1s;
}

.mast__text span:nth-child(3) {
    animation-delay: 0.15s;
}

.mast__text span:nth-child(4) {
    animation-delay: 0.2s;
}

.mast__text span:nth-child(5) {
    animation-delay: 0.25s;
}

.mast__text span:nth-child(6) {
    animation-delay: 0.3s;
}

.mast__text span:nth-child(7) {
    animation-delay: 0.35s;
}

.mast__text span:nth-child(8) {
    animation-delay: 0.4s;
}

.mast__text span:nth-child(9) {
    animation-delay: 0.45s;
}

.mast__text span:nth-child(10) {
    animation-delay: 0.5s;
}

.mast__text span:nth-child(11) {
    animation-delay: 0.55s;
}

.mast__text span:nth-child(12) {
    animation-delay: 0.6s;
}

.mast__text span:nth-child(13) {
    animation-delay: 0.65s;
}

.mast__text span:nth-child(14) {
    animation-delay: 0.7s;
}

.mast__text span:nth-child(15) {
    animation-delay: 0.75s;
}

.mast__text span:nth-child(16) {
    animation-delay: 0.8s;
}

.mast__text span:nth-child(17) {
    animation-delay: 0.85s;
}

.mast__text span:nth-child(18) {
    animation-delay: 0.9s;
}

.mast__text span:nth-child(19) {
    animation-delay: 0.95s;
}

.mast__text span:nth-child(20) {
    animation-delay: 1s;
}

.mast__text span:nth-child(21) {
    animation-delay: 1.05s;
}

.mast__text span:nth-child(22) {
    animation-delay: 1.1s;
}

.mast__text span:nth-child(23) {
    animation-delay: 1.15s;
}

.mast__text span:nth-child(24) {
    animation-delay: 1.2s;
}

.mast__text span:nth-child(25) {
    animation-delay: 1.25s;
}

.mast__text span:nth-child(26) {
    animation-delay: 1.3s;
}

.mast__text span:nth-child(27) {
    animation-delay: 1.35s;
}

.mast__text span:nth-child(28) {
    animation-delay: 1.4s;
}

.mast__text span:nth-child(29) {
    animation-delay: 1.45s;
}

.mast__text span:nth-child(30) {
    animation-delay: 1.5s;
}

.mast__text span:nth-child(31) {
    animation-delay: 1.55s;
}

.mast__text span:nth-child(32) {
    animation-delay: 1.6s;
}

.mast__text span:nth-child(33) {
    animation-delay: 1.65s;
}

.mast__text span:nth-child(34) {
    animation-delay: 1.7s;
}

.mast__text span:nth-child(35) {
    animation-delay: 1.75s;
}

.mast__text span:nth-child(36) {
    animation-delay: 1.8s;
}

.mast__text span:nth-child(37) {
    animation-delay: 1.85s;
}

.mast__text span:nth-child(38) {
    animation-delay: 1.9s;
}

.mast__text span:nth-child(39) {
    animation-delay: 1.95s;
}

.mast__text span:nth-child(40) {
    animation-delay: 2s;
}

.mast__text span:nth-child(41) {
    animation-delay: 2.05s;
}

.mast__text span:nth-child(42) {
    animation-delay: 2.1s;
}

.mast__text span:nth-child(43) {
    animation-delay: 2.15s;
}

.mast__text span:nth-child(44) {
    animation-delay: 2.2s;
}

.mast__text span:nth-child(45) {
    animation-delay: 2.25s;
}

.mast__text span:nth-child(46) {
    animation-delay: 2.3s;
}

.mast__text span:nth-child(47) {
    animation-delay: 2.35s;
}

.mast__text span:nth-child(48) {
    animation-delay: 2.4s;
}

.mast__text span:nth-child(49) {
    animation-delay: 2.45s;
}

.mast__text span:nth-child(50) {
    animation-delay: 2.5s;
}

.mast__text span:nth-child(51) {
    animation-delay: 2.55s;
}

.mast__text span:nth-child(52) {
    animation-delay: 2.6s;
}

.mast__text span:nth-child(53) {
    animation-delay: 2.65s;
}

.mast__text span:nth-child(54) {
    animation-delay: 2.7s;
}

.mast__text span:nth-child(55) {
    animation-delay: 2.75s;
}

.mast__text span:nth-child(56) {
    animation-delay: 2.8s;
}

.mast__text span:nth-child(57) {
    animation-delay: 2.85s;
}

.mast__text span:nth-child(58) {
    animation-delay: 2.9s;
}

.mast__text span:nth-child(59) {
    animation-delay: 2.95s;
}

.mast__text span:nth-child(60) {
    animation-delay: 3s;
}

.mast__text span:nth-child(61) {
    animation-delay: 3.05s;
}

.mast__text span:nth-child(62) {
    animation-delay: 3.1s;
}

.mast__text span:nth-child(63) {
    animation-delay: 3.15s;
}

.mast__text span:nth-child(64) {
    animation-delay: 3.2s;
}

.mast__text span:nth-child(65) {
    animation-delay: 3.25s;
}

.mast__text span:nth-child(66) {
    animation-delay: 3.3s;
}

.mast__text span:nth-child(67) {
    animation-delay: 3.35s;
}

.mast__text span:nth-child(68) {
    animation-delay: 3.4s;
}

.mast__text span:nth-child(69) {
    animation-delay: 3.45s;
}

.mast__text span:nth-child(70) {
    animation-delay: 3.5s;
}

.mast__text span:nth-child(71) {
    animation-delay: 3.55s;
}

.mast__text span:nth-child(72) {
    animation-delay: 3.6s;
}

.mast__text span:nth-child(73) {
    animation-delay: 3.65s;
}

.mast__text span:nth-child(74) {
    animation-delay: 3.7s;
}

.mast__text span:nth-child(75) {
    animation-delay: 3.75s;
}

.mast__text span:nth-child(76) {
    animation-delay: 3.8s;
}

.mast__text span:nth-child(77) {
    animation-delay: 3.85s;
}

.mast__text span:nth-child(78) {
    animation-delay: 3.9s;
}

.mast__text span:nth-child(79) {
    animation-delay: 3.95s;
}

.mast__text span:nth-child(80) {
    animation-delay: 4s;
}

.mast__text span:nth-child(81) {
    animation-delay: 4.05s;
}

.mast__text span:nth-child(82) {
    animation-delay: 4.1s;
}

.mast__text span:nth-child(83) {
    animation-delay: 4.15s;
}

.mast__text span:nth-child(84) {
    animation-delay: 4.2s;
}

.mast__text span:nth-child(85) {
    animation-delay: 4.25s;
}

.mast__text span:nth-child(86) {
    animation-delay: 4.3s;
}

.mast__text span:nth-child(87) {
    animation-delay: 4.35s;
}

.mast__text span:nth-child(88) {
    animation-delay: 4.4s;
}

.mast__text span:nth-child(89) {
    animation-delay: 4.45s;
}

.mast__text span:nth-child(90) {
    animation-delay: 4.5s;
}

.mast__text span:nth-child(91) {
    animation-delay: 4.55s;
}

.mast__text span:nth-child(92) {
    animation-delay: 4.6s;
}

.mast__text span:nth-child(93) {
    animation-delay: 4.65s;
}

.mast__text span:nth-child(94) {
    animation-delay: 4.7s;
}

.mast__text span:nth-child(95) {
    animation-delay: 4.75s;
}

.mast__text span:nth-child(96) {
    animation-delay: 4.8s;
}

.mast__text span:nth-child(97) {
    animation-delay: 4.85s;
}

.mast__text span:nth-child(98) {
    animation-delay: 4.9s;
}

.mast__text span:nth-child(99) {
    animation-delay: 4.95s;
}

.mast__text span:nth-child(100) {
    animation-delay: 5s;
}

.mast__text span:nth-child(101) {
    animation-delay: 5.05s;
}

.mast__text span:nth-child(102) {
    animation-delay: 5.1s;
}

.mast__text span:nth-child(103) {
    animation-delay: 5.15s;
}

.mast__text span:nth-child(104) {
    animation-delay: 5.2s;
}

.mast__text span:nth-child(105) {
    animation-delay: 5.25s;
}

.mast__text span:nth-child(106) {
    animation-delay: 5.3s;
}

.mast__text span:nth-child(107) {
    animation-delay: 5.35s;
}

.mast__text span:nth-child(108) {
    animation-delay: 5.4s;
}

.mast__text span:nth-child(109) {
    animation-delay: 5.45s;
}

.mast__text span:nth-child(110) {
    animation-delay: 5.5s;
}

.mast__text span:nth-child(111) {
    animation-delay: 5.55s;
}

.mast__text span:nth-child(112) {
    animation-delay: 5.6s;
}

.mast__text span:nth-child(113) {
    animation-delay: 5.65s;
}

.mast__text span:nth-child(114) {
    animation-delay: 5.7s;
}

.mast__text span:nth-child(115) {
    animation-delay: 5.75s;
}

.mast__text span:nth-child(116) {
    animation-delay: 5.8s;
}

.mast__text span:nth-child(117) {
    animation-delay: 5.85s;
}

.mast__text span:nth-child(118) {
    animation-delay: 5.9s;
}

.mast__text span:nth-child(119) {
    animation-delay: 5.95s;
}

.mast__text span:nth-child(120) {
    animation-delay: 6s;
}

.mast__text span:nth-child(121) {
    animation-delay: 6.05s;
}

.mast__text span:nth-child(122) {
    animation-delay: 6.1s;
}

.mast__text span:nth-child(123) {
    animation-delay: 6.15s;
}

.mast__text span:nth-child(124) {
    animation-delay: 6.2s;
}

.mast__text span:nth-child(125) {
    animation-delay: 6.25s;
}

.mast__text span:nth-child(126) {
    animation-delay: 6.3s;
}

.mast__text span:nth-child(127) {
    animation-delay: 6.35s;
}

.mast__text span:nth-child(128) {
    animation-delay: 6.4s;
}

.mast__text span:nth-child(129) {
    animation-delay: 6.45s;
}

.mast__text span:nth-child(130) {
    animation-delay: 6.5s;
}

.mast__text span:nth-child(131) {
    animation-delay: 6.55s;
}

.mast__text span:nth-child(132) {
    animation-delay: 6.6s;
}

.mast__text span:nth-child(133) {
    animation-delay: 6.65s;
}

.mast__text span:nth-child(134) {
    animation-delay: 6.7s;
}

.mast__text span:nth-child(135) {
    animation-delay: 6.75s;
}

.mast__text span:nth-child(136) {
    animation-delay: 6.8s;
}

.mast__text span:nth-child(137) {
    animation-delay: 6.85s;
}

.mast__text span:nth-child(138) {
    animation-delay: 6.9s;
}

.mast__text span:nth-child(139) {
    animation-delay: 6.95s;
}

.mast__text span:nth-child(140) {
    animation-delay: 7s;
}

.mast__text span:nth-child(141) {
    animation-delay: 7.05s;
}

.mast__text span:nth-child(142) {
    animation-delay: 7.1s;
}

.mast__text span:nth-child(143) {
    animation-delay: 7.15s;
}

.mast__text span:nth-child(144) {
    animation-delay: 7.2s;
}

.mast__text span:nth-child(145) {
    animation-delay: 7.25s;
}

.mast__text span:nth-child(146) {
    animation-delay: 7.3s;
}

.mast__text span:nth-child(147) {
    animation-delay: 7.35s;
}

.mast__text span:nth-child(148) {
    animation-delay: 7.4s;
}

.mast__text span:nth-child(149) {
    animation-delay: 7.45s;
}

.mast__text span:nth-child(150) {
    animation-delay: 7.5s;
}

.mast__text span:nth-child(151) {
    animation-delay: 7.55s;
}

.mast__text span:nth-child(152) {
    animation-delay: 7.6s;
}

.mast__text span:nth-child(153) {
    animation-delay: 7.65s;
}

.mast__text span:nth-child(154) {
    animation-delay: 7.7s;
}

.mast__text span:nth-child(155) {
    animation-delay: 7.75s;
}

.mast__text span:nth-child(156) {
    animation-delay: 7.8s;
}

.mast__text span:nth-child(157) {
    animation-delay: 7.85s;
}

.mast__text span:nth-child(158) {
    animation-delay: 7.9s;
}

.mast__text span:nth-child(159) {
    animation-delay: 7.95s;
}

.mast__text span:nth-child(160) {
    animation-delay: 8s;
}

.mast__text span:nth-child(161) {
    animation-delay: 8.05s;
}

.mast__text span:nth-child(162) {
    animation-delay: 8.1s;
}

.mast__text span:nth-child(163) {
    animation-delay: 8.15s;
}

.mast__text span:nth-child(164) {
    animation-delay: 8.2s;
}

.mast__text span:nth-child(165) {
    animation-delay: 8.25s;
}

.mast__text span:nth-child(166) {
    animation-delay: 8.3s;
}

.mast__text span:nth-child(167) {
    animation-delay: 8.35s;
}

.mast__text span:nth-child(168) {
    animation-delay: 8.4s;
}

.mast__text span:nth-child(169) {
    animation-delay: 8.45s;
}

.mast__text span:nth-child(170) {
    animation-delay: 8.5s;
}

.mast__text span:nth-child(171) {
    animation-delay: 8.55s;
}

.mast__text span:nth-child(172) {
    animation-delay: 8.6s;
}

.mast__text span:nth-child(173) {
    animation-delay: 8.65s;
}

.mast__text span:nth-child(174) {
    animation-delay: 8.7s;
}

.mast__text span:nth-child(175) {
    animation-delay: 8.75s;
}

.mast__text span:nth-child(176) {
    animation-delay: 8.8s;
}

.mast__text span:nth-child(177) {
    animation-delay: 8.85s;
}

.mast__text span:nth-child(178) {
    animation-delay: 8.9s;
}

.mast__text span:nth-child(179) {
    animation-delay: 8.95s;
}

.mast__text span:nth-child(180) {
    animation-delay: 9s;
}

.mast__text.sa span {
    animation: letter-glow 0.7s 0s ease both;
}

.mast__text.sa span:nth-child(1) {
    animation-delay: 0.05s;
}

.mast__text.sa span:nth-child(2) {
    animation-delay: 0.1s;
}

.mast__text.sa span:nth-child(3) {
    animation-delay: 0.15s;
}

.mast__text.sa span:nth-child(4) {
    animation-delay: 0.2s;
}

.mast__text.sa span:nth-child(5) {
    animation-delay: 0.25s;
}

.mast__text.sa span:nth-child(6) {
    animation-delay: 0.3s;
}

.mast__text.sa span:nth-child(7) {
    animation-delay: 0.35s;
}

.mast__text.sa span:nth-child(8) {
    animation-delay: 0.4s;
}

.mast__text.sa span:nth-child(9) {
    animation-delay: 0.45s;
}

.mast__text.sa span:nth-child(10) {
    animation-delay: 0.5s;
}

.mast__text.sa span:nth-child(11) {
    animation-delay: 0.55s;
}

.mast__text.sa span:nth-child(12) {
    animation-delay: 0.6s;
}

.mast__text.sa span:nth-child(13) {
    animation-delay: 0.65s;
}

.mast__text.sa span:nth-child(14) {
    animation-delay: 0.7s;
}

.mast__text.sa span:nth-child(15) {
    animation-delay: 0.75s;
}

.mast__text.sa span:nth-child(16) {
    animation-delay: 0.8s;
}

.mast__text.sa span:nth-child(17) {
    animation-delay: 0.85s;
}

.mast__text.sa span:nth-child(18) {
    animation-delay: 0.9s;
}

.mast__text.sa span:nth-child(19) {
    animation-delay: 0.95s;
}

.mast__text.sa span:nth-child(20) {
    animation-delay: 1s;
}

.mast__text.sa span:nth-child(21) {
    animation-delay: 1.05s;
}

.mast__text.sa span:nth-child(22) {
    animation-delay: 1.1s;
}

.mast__text.sa span:nth-child(23) {
    animation-delay: 1.15s;
}

.mast__text.sa span:nth-child(24) {
    animation-delay: 1.2s;
}

.mast__text.sa span:nth-child(25) {
    animation-delay: 1.25s;
}

.mast__text.sa span:nth-child(26) {
    animation-delay: 1.3s;
}

.mast__text.sa span:nth-child(27) {
    animation-delay: 1.35s;
}

.mast__text.sa span:nth-child(28) {
    animation-delay: 1.4s;
}

.mast__text.sa span:nth-child(29) {
    animation-delay: 1.45s;
}

.mast__text.sa span:nth-child(30) {
    animation-delay: 1.5s;
}

.mast__text.sa span:nth-child(31) {
    animation-delay: 1.55s;
}

.mast__text.sa span:nth-child(32) {
    animation-delay: 1.6s;
}

.mast__text.sa span:nth-child(33) {
    animation-delay: 1.65s;
}

.mast__text.sa span:nth-child(34) {
    animation-delay: 1.7s;
}

.mast__text.sa span:nth-child(35) {
    animation-delay: 1.75s;
}

.mast__text.sa span:nth-child(36) {
    animation-delay: 1.8s;
}

.mast__text.sa span:nth-child(37) {
    animation-delay: 1.85s;
}

.mast__text.sa span:nth-child(38) {
    animation-delay: 1.9s;
}

.mast__text.sa span:nth-child(39) {
    animation-delay: 1.95s;
}

.mast__text.sa span:nth-child(40) {
    animation-delay: 2s;
}

.mast__text.sa span:nth-child(41) {
    animation-delay: 2.05s;
}

.mast__text.sa span:nth-child(42) {
    animation-delay: 2.1s;
}

.mast__text.sa span:nth-child(43) {
    animation-delay: 2.15s;
}

.mast__text.sa span:nth-child(44) {
    animation-delay: 2.2s;
}

.mast__text.sa span:nth-child(45) {
    animation-delay: 2.25s;
}

.mast__text.sa span:nth-child(46) {
    animation-delay: 2.3s;
}

.mast__text.sa span:nth-child(47) {
    animation-delay: 2.35s;
}

.mast__text.sa span:nth-child(48) {
    animation-delay: 2.4s;
}

.mast__text.sa span:nth-child(49) {
    animation-delay: 2.45s;
}

.mast__text.sa span:nth-child(50) {
    animation-delay: 2.5s;
}

.mast__text.sa span:nth-child(51) {
    animation-delay: 2.55s;
}

.mast__text.sa span:nth-child(52) {
    animation-delay: 2.6s;
}

.mast__text.sa span:nth-child(53) {
    animation-delay: 2.65s;
}

.mast__text.sa span:nth-child(54) {
    animation-delay: 2.7s;
}

.mast__text.sa span:nth-child(55) {
    animation-delay: 2.75s;
}

.mast__text.sa span:nth-child(56) {
    animation-delay: 2.8s;
}

.mast__text.sa span:nth-child(57) {
    animation-delay: 2.85s;
}

.mast__text.sa span:nth-child(58) {
    animation-delay: 2.9s;
}

.mast__text.sa span:nth-child(59) {
    animation-delay: 2.95s;
}

.mast__text.sa span:nth-child(60) {
    animation-delay: 3s;
}

.mast__text.sa span:nth-child(61) {
    animation-delay: 3.05s;
}

.mast__text.sa span:nth-child(62) {
    animation-delay: 3.1s;
}

.mast__text.sa span:nth-child(63) {
    animation-delay: 3.15s;
}

.mast__text.sa span:nth-child(64) {
    animation-delay: 3.2s;
}

.mast__text.sa span:nth-child(65) {
    animation-delay: 3.25s;
}

.mast__text.sa span:nth-child(66) {
    animation-delay: 3.3s;
}

.mast__text.sa span:nth-child(67) {
    animation-delay: 3.35s;
}

.mast__text.sa span:nth-child(68) {
    animation-delay: 3.4s;
}

.mast__text.sa span:nth-child(69) {
    animation-delay: 3.45s;
}

.mast__text.sa span:nth-child(70) {
    animation-delay: 3.5s;
}

.mast__text.sa span:nth-child(71) {
    animation-delay: 3.55s;
}

.mast__text.sa span:nth-child(72) {
    animation-delay: 3.6s;
}

.mast__text.sa span:nth-child(73) {
    animation-delay: 3.65s;
}

.mast__text.sa span:nth-child(74) {
    animation-delay: 3.7s;
}

.mast__text.sa span:nth-child(75) {
    animation-delay: 3.75s;
}

.mast__text.sa span:nth-child(76) {
    animation-delay: 3.8s;
}

.mast__text.sa span:nth-child(77) {
    animation-delay: 3.85s;
}

.mast__text.sa span:nth-child(78) {
    animation-delay: 3.9s;
}

.mast__text.sa span:nth-child(79) {
    animation-delay: 3.95s;
}

.mast__text.sa span:nth-child(80) {
    animation-delay: 4s;
}

.mast__text.sa span:nth-child(81) {
    animation-delay: 4.05s;
}

.mast__text.sa span:nth-child(82) {
    animation-delay: 4.1s;
}

.mast__text.sa span:nth-child(83) {
    animation-delay: 4.15s;
}

.mast__text.sa span:nth-child(84) {
    animation-delay: 4.2s;
}

.mast__text.sa span:nth-child(85) {
    animation-delay: 4.25s;
}

.mast__text.sa span:nth-child(86) {
    animation-delay: 4.3s;
}

.mast__text.sa span:nth-child(87) {
    animation-delay: 4.35s;
}

.mast__text.sa span:nth-child(88) {
    animation-delay: 4.4s;
}

.mast__text.sa span:nth-child(89) {
    animation-delay: 4.45s;
}

.mast__text.sa span:nth-child(90) {
    animation-delay: 4.5s;
}

.mast__text.sa span:nth-child(91) {
    animation-delay: 4.55s;
}

.mast__text.sa span:nth-child(92) {
    animation-delay: 4.6s;
}

.mast__text.sa span:nth-child(93) {
    animation-delay: 4.65s;
}

.mast__text.sa span:nth-child(94) {
    animation-delay: 4.7s;
}

.mast__text.sa span:nth-child(95) {
    animation-delay: 4.75s;
}

.mast__text.sa span:nth-child(96) {
    animation-delay: 4.8s;
}

.mast__text.sa span:nth-child(97) {
    animation-delay: 4.85s;
}

.mast__text.sa span:nth-child(98) {
    animation-delay: 4.9s;
}

.mast__text.sa span:nth-child(99) {
    animation-delay: 4.95s;
}

.mast__text.sa span:nth-child(100) {
    animation-delay: 5s;
}

.mast__text.sa span:nth-child(101) {
    animation-delay: 5.05s;
}

.mast__text.sa span:nth-child(102) {
    animation-delay: 5.1s;
}

.mast__text.sa span:nth-child(103) {
    animation-delay: 5.15s;
}

.mast__text.sa span:nth-child(104) {
    animation-delay: 5.2s;
}

.mast__text.sa span:nth-child(105) {
    animation-delay: 5.25s;
}

.mast__text.sa span:nth-child(106) {
    animation-delay: 5.3s;
}

.mast__text.sa span:nth-child(107) {
    animation-delay: 5.35s;
}

.mast__text.sa span:nth-child(108) {
    animation-delay: 5.4s;
}

.mast__text.sa span:nth-child(109) {
    animation-delay: 5.45s;
}

.mast__text.sa span:nth-child(110) {
    animation-delay: 5.5s;
}

.mast__text.sa span:nth-child(111) {
    animation-delay: 5.55s;
}

.mast__text.sa span:nth-child(112) {
    animation-delay: 5.6s;
}

.mast__text.sa span:nth-child(113) {
    animation-delay: 5.65s;
}

.mast__text.sa span:nth-child(114) {
    animation-delay: 5.7s;
}

.mast__text.sa span:nth-child(115) {
    animation-delay: 5.75s;
}

.mast__text.sa span:nth-child(116) {
    animation-delay: 5.8s;
}

.mast__text.sa span:nth-child(117) {
    animation-delay: 5.85s;
}

.mast__text.sa span:nth-child(118) {
    animation-delay: 5.9s;
}

.mast__text.sa span:nth-child(119) {
    animation-delay: 5.95s;
}

.mast__text.sa span:nth-child(120) {
    animation-delay: 6s;
}

.mast__text.sa span:nth-child(121) {
    animation-delay: 6.05s;
}

.mast__text.sa span:nth-child(122) {
    animation-delay: 6.1s;
}

.mast__text.sa span:nth-child(123) {
    animation-delay: 6.15s;
}

.mast__text.sa span:nth-child(124) {
    animation-delay: 6.2s;
}

.mast__text.sa span:nth-child(125) {
    animation-delay: 6.25s;
}

.mast__text.sa span:nth-child(126) {
    animation-delay: 6.3s;
}

.mast__text.sa span:nth-child(127) {
    animation-delay: 6.35s;
}

.mast__text.sa span:nth-child(128) {
    animation-delay: 6.4s;
}

.mast__text.sa span:nth-child(129) {
    animation-delay: 6.45s;
}

.mast__text.sa span:nth-child(130) {
    animation-delay: 6.5s;
}

.mast__text.sa span:nth-child(131) {
    animation-delay: 6.55s;
}

.mast__text.sa span:nth-child(132) {
    animation-delay: 6.6s;
}

.mast__text.sa span:nth-child(133) {
    animation-delay: 6.65s;
}

.mast__text.sa span:nth-child(134) {
    animation-delay: 6.7s;
}

.mast__text.sa span:nth-child(135) {
    animation-delay: 6.75s;
}

.mast__text.sa span:nth-child(136) {
    animation-delay: 6.8s;
}

.mast__text.sa span:nth-child(137) {
    animation-delay: 6.85s;
}

.mast__text.sa span:nth-child(138) {
    animation-delay: 6.9s;
}

.mast__text.sa span:nth-child(139) {
    animation-delay: 6.95s;
}

.mast__text.sa span:nth-child(140) {
    animation-delay: 7s;
}

.mast__text.sa span:nth-child(141) {
    animation-delay: 7.05s;
}

.mast__text.sa span:nth-child(142) {
    animation-delay: 7.1s;
}

.mast__text.sa span:nth-child(143) {
    animation-delay: 7.15s;
}

.mast__text.sa span:nth-child(144) {
    animation-delay: 7.2s;
}

.mast__text.sa span:nth-child(145) {
    animation-delay: 7.25s;
}

.mast__text.sa span:nth-child(146) {
    animation-delay: 7.3s;
}

.mast__text.sa span:nth-child(147) {
    animation-delay: 7.35s;
}

.mast__text.sa span:nth-child(148) {
    animation-delay: 7.4s;
}

.mast__text.sa span:nth-child(149) {
    animation-delay: 7.45s;
}

.mast__text.sa span:nth-child(150) {
    animation-delay: 7.5s;
}

.mast__text.sa span:nth-child(151) {
    animation-delay: 7.55s;
}

.mast__text.sa span:nth-child(152) {
    animation-delay: 7.6s;
}

.mast__text.sa span:nth-child(153) {
    animation-delay: 7.65s;
}

.mast__text.sa span:nth-child(154) {
    animation-delay: 7.7s;
}

.mast__text.sa span:nth-child(155) {
    animation-delay: 7.75s;
}

.mast__text.sa span:nth-child(156) {
    animation-delay: 7.8s;
}

.mast__text.sa span:nth-child(157) {
    animation-delay: 7.85s;
}

.mast__text.sa span:nth-child(158) {
    animation-delay: 7.9s;
}

.mast__text.sa span:nth-child(159) {
    animation-delay: 7.95s;
}

.mast__text.sa span:nth-child(160) {
    animation-delay: 8s;
}

.mast__text.sa span:nth-child(161) {
    animation-delay: 8.05s;
}

.mast__text.sa span:nth-child(162) {
    animation-delay: 8.1s;
}

.mast__text.sa span:nth-child(163) {
    animation-delay: 8.15s;
}

.mast__text.sa span:nth-child(164) {
    animation-delay: 8.2s;
}

.mast__text.sa span:nth-child(165) {
    animation-delay: 8.25s;
}

.mast__text.sa span:nth-child(166) {
    animation-delay: 8.3s;
}

.mast__text.sa span:nth-child(167) {
    animation-delay: 8.35s;
}

.mast__text.sa span:nth-child(168) {
    animation-delay: 8.4s;
}

.mast__text.sa span:nth-child(169) {
    animation-delay: 8.45s;
}

.mast__text.sa span:nth-child(170) {
    animation-delay: 8.5s;
}

.mast__text.sa span:nth-child(171) {
    animation-delay: 8.55s;
}

.mast__text.sa span:nth-child(172) {
    animation-delay: 8.6s;
}

.mast__text.sa span:nth-child(173) {
    animation-delay: 8.65s;
}

.mast__text.sa span:nth-child(174) {
    animation-delay: 8.7s;
}

.mast__text.sa span:nth-child(175) {
    animation-delay: 8.75s;
}

.mast__text.sa span:nth-child(176) {
    animation-delay: 8.8s;
}

.mast__text.sa span:nth-child(177) {
    animation-delay: 8.85s;
}

.mast__text.sa span:nth-child(178) {
    animation-delay: 8.9s;
}

.mast__text.sa span:nth-child(179) {
    animation-delay: 8.95s;
}

.mast__text.sa span:nth-child(180) {
    animation-delay: 9s;
}

@keyframes letter-glow {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
    }
    66% {
        opacity: 1;
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    }
    77% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
    }
}

html,
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #a5b5c1;
    font-weight: 300;
    letter-spacing: .5px;
    background: #050865;
    display: inline-block;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.list-group-item {
    padding: 10px 15px 10px 0;
    background: none;
    border: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

.color_white {
    color: #fff;
}

.color_black {
    color: #435065;
}

.color_blue {
    color: #0061FF;
}

.color_red {
    color: #E52C4B;
}

.color_pink {
    color: #FF0058;
}

.color_green {
    color: #1ecc8b;
}

.color_green2 {
    color: #21ffd6;
}

.color_grey {
    color: #1d3650;
}

.color_grey2 {
    color: #a5b5c1;
}

.color_blue2 {
    background-image: linear-gradient(to right top, #4952e2 40%, #0061FF) !important;
    color: transparent !important;
    -webkit-background-clip: text;
}

.background_white {
    background: #fff;
}

.background_black {
    background: #435065 !important;
}

.background_dark {
    background: #435065 !important;
}

.background_blue {
    background: #0061FF !important;
}

.background_grey {
    background: #1d3650;
}

.background_pink {
    background: #FF0058 !important;
}

.background_green {
    background: #1ecc8b !important;
}

.background_green2 {
    background: linear-gradient(to top right, #2bebff, #00ff72) !important;
}

.background_black2 {
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.75), transparent) !important;
}

.background_blue2 {
    background: linear-gradient(to top right, #4952e2, #0061FF) !important;
}

.background_red2 {
    background: linear-gradient(to right, #E52C4B, #D02744) !important;
}

.background_purple {
    background: linear-gradient(to right, #4d2aaa, #3f228a) !important;
}

.bg_no {
    background: none !important;
}

.bg_img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    transition: .3s ease;
}

.bg_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bg_video {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg_video video {
    min-width: 100vw;
    min-height: 100vh;
}

/*.background_dots {
    background: url(../img/pattern.png) repeat;
    height: 100%;
    opacity: .2;
    position: fixed;
    width: 100%;
    z-index: 0;
}*/
.background_dots {
    background: url(../img/pattern.png) repeat;
    height: 100%;
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: 0;
    top: 0;
}

.background_youtube {
    z-index: -11;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background_youtube img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#particles,
#particles-js {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-filter: url("#goo");
    filter: url("#goo");
}

body .vegas-container {
    position: fixed;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh !important;
}

.opacity_25 {
    opacity: 0.25;
}

.opacity_5 {
    opacity: 0.5;
}

.opacity_75 {
    opacity: 0.75;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    margin: 0;
}

h1,
.h1 {
    font-size: 48px;
}

.letter-spacing_2 {
    letter-spacing: 2px;
}

.letter-spacing_1 {
    letter-spacing: 1px;
}

.letter-spacing_05 {
    letter-spacing: 0.5px;
}

.relative {
    position: relative;
}

.text_shadow {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.overlay_black_25 {
    z-index: 0;
    background: #1d3650;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay_black_5 {
    z-index: 0;
    background: #1d3650;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay_black_7 {
    z-index: 0;
    background: #1d3650;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay_black_75 {
    z-index: 0;
    background: #a044f1;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay_gradient {
    z-index: 0;
    background: linear-gradient(to right, rgba(5, 8, 101, 0.8), rgba(0, 24, 49, 0));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.space_5 {
    height: 5vh;
    width: 100%;
    display: table;
}

.space_10 {
    height: 10vh;
    width: 100%;
    display: table;
}

.space_15 {
    height: 15vh;
    width: 100%;
    display: table;
}

.space_20 {
    height: 20vh;
    width: 100%;
    display: table;
}

.space_30 {
    height: 30vh;
    width: 100%;
    display: table;
}

.font_bold {
    font-weight: 700;
}

.font_serif {
    font-family: 'Libre Baskerville', serif;
}

.text_bordered {
    position: relative;
}

.text_bordered:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 13px;
    left: 0;
    width: 100%;
    height: 12px;
    background: linear-gradient(to top right, #2bebff, #00ff72);
    box-shadow: 0 5px 20px -4px #999;
}

.no_padding {
    padding: 0;
}




.button-book-main {display: inline-block;box-shadow: 0 4px 15px 0 rgba(255, 152, 0, 0.38); margin-bottom: 0; padding: 15px 40px; border-radius: 50px; background-color: #ffd313; font-size: 14px; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; background: rgb(255,211,19); background: -moz-linear-gradient(left, rgba(255,211,19,1) 0%, rgba(255,152,0,1) 100%); background: -webkit-linear-gradient(left, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%); background: linear-gradient(to right, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd313', endColorstr='#ff9800',GradientType=1 ); }
.button-contact-main{display: inline-block;box-shadow: 0 4px 15px 0 rgba(160, 68, 241, 0.45);margin-bottom: 0;padding: 15px 40px;border-radius: 50px;background-color: #a044f1;font-size: 14px;color: #fff;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;background: rgb(143, 55, 219);background: -moz-linear-gradient(left, rgba(255,211,19,1) 0%, rgba(255,152,0,1) 100%);background: -webkit-linear-gradient(left, rgb(144, 56, 220) 0%,rgb(182, 104, 251) 100%);background: linear-gradient(to right, rgb(141, 54, 217) 0%,rgb(185, 107, 253) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd313', endColorstr='#ff9800',GradientType=1 );}




.btn i {
    margin-right: 5px;
    margin-left: 0;
}

.btn.bordered {
    color: #fff;
    background: none;
    border: 2px solid #fff;
}

.d_table {
    display: table;
    width: 100%;
    height: 100vh;
}

.d_table_v {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.d_table_b {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 100px 0 35px;
}

.img_shadow {
    box-shadow: 0 25px 70px 0 rgba(0, 0, 0, 0.25);
}

.img-rounded {
    border-radius: 10px;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: transparent;
}

.big-title {
    font-size: 55px;
}

.copyright {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 13px;
    color: #fff;
    opacity: .5;    z-index: 9;
}

.loader_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(5, 8, 101, 0.8), rgba(0, 24, 49, 0.5));
    z-index: 999999;
}

.loader {
    display: inline-block;
    width: 3em;
    height: 3em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
}

.loader {
    position: absolute;
    top: calc(50% - 1.5em);
    left: calc(50% - 1.5em);
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #a044f1;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 50%;
    box-shadow: -1.5em 0 0 #a044f1;
    animation: loader 1s linear infinite;
}

.loader:after {
    top: 50%;
    bottom: 0;
    animation-delay: .25s;
}

@keyframes loader {
    0%,
    100% {
        box-shadow: -1.5em 0 0 transparent;
        background-color: #a044f1;
    }
    50% {
        box-shadow: -1.5em 0 0 #a044f1;
        background-color: transparent;
    }
}

.oop {
    opacity: 0;
    transition: 0.3s ease;
}

.brand {
    position: relative;
    top: 0;
    left: 0;
    width: 130px;
    text-align: center;
    margin:0 auto 40px
}

.left {
    height: 100vh;
    position: fixed;
    width: 100vw;
    display: table;
    padding: 5vh 5vw;
    z-index: 1;
    left: 0;
    top: 0;
    text-align: center;
    transition: left .5s ease, opacity .5s ease;
}

.left.hidee {
    left: -15vw;
    opacity: .1;
}

.left.hideee {
    left: -15vw;
    opacity: 0;
}

.left .content {
    /*display: table-cell;*/
    vertical-align: middle;
    height: 100%;
}

.left .content h2 {
    font-size:40px;
}

.left .content p {
    opacity: .7;
}

.left .content p{    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;}

.left .content .btn.background_green2 {
    color: #000;
}

.right {
    background: #fff;
    height: 100vh;
    width: 50vw;
    position: fixed;
    top: 0;
    right: -65vw;
    z-index: 9;
    transition: right .5s ease;
    overflow-y: scroll;
}

.right.active {
    right: 0;
}

.right .title {
    margin: 0;
    color: #a044f1;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
}

#about {
    padding: 30px;
}

#about p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: justify;
}


.contact {
    position: relative;
    padding: 30px;
}

.contact p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: justify;
}

.contact-info p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.contact .contact_info > div {
    display: inline-block;
    margin-right: 15%;
}

.contact .contact_info > div:nth-child(3) {
    margin-right: 0;
}

.contact .item {
    width: 33%;
    float: left;
    text-align: center;
    padding: 15px 0;
}

.contact .item img {
    margin: 0 auto 15px;
}

.contact #contact-form {
    text-align: left;
}

.form-register .form-control {
    line-height: 54px;
    height: 54px;
    width: 100%;
    background: #fff;
    display: block;
    margin: 2px 0 0;
    padding: 0 25px;
    border-radius: 5px;
    transition: .3s ease;
    border: 1px solid #ffffff;
    color: #1d3650;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: .5px;
    box-shadow: none;
}


.form-register.form-control:hover,
.form-register.form-control:focus {
    background: #fff;
    border: 1px solid #21ffd6;
    box-shadow: 0 5px 50px -15px #999;
}

.form-register.form-group textarea {
    min-height: 150px !important;
    resize: none;
}

.contact .btn-send {
    background: none;
    border: none;
    color: #1d3650;
    padding: 0;
}

.Submit-form-button{ border:none; outline:none;display: inline-block;box-shadow: 0 4px 15px 0 rgba(255, 152, 0, 0.38); margin-bottom: 0; padding: 15px 40px; border-radius: 50px; background-color: #ffd313; font-size: 14px; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; background: rgb(255,211,19); background: -moz-linear-gradient(left, rgba(255,211,19,1) 0%, rgba(255,152,0,1) 100%); background: -webkit-linear-gradient(left, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%); background: linear-gradient(to right, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd313', endColorstr='#ff9800',GradientType=1 ); }


.contact .btn {
    box-shadow: 0 6px 45px -10px #cacaca;
}

.contact .btn:hover {
    color: #1d3650;
    background: linear-gradient(to top right, #2bebff, #00ff72) !important;
    box-shadow: 0 10px 45px -10px #a0a0a0;
}

.contact::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #a5b5c1;
}

.contact:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #a5b5c1;
    opacity: 1;
}

.contact::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #a5b5c1;
    opacity: 1;
}

.contact:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a5b5c1;
}

.subscribe_section {
    height: 100vh;
    width: 40vw;
    position: fixed;
    top: 0;
    right: -40vw;
    z-index: 9;
    padding: 5vh 5vw;
    color: #fff;
    overflow: hidden;
    transition: right .5s ease;
}

.subscribe_section.active {
    right: 0;
}

.subscribe_section .subscribe label {
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: .5px;
}

.subscribe_section .subscribe #mail-sub {
    width: 100%;
    height: 54px;
    padding: 0 15px;
    line-height: 54px;
    color: #fff;
    letter-spacing: .5px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    background: none;
    box-shadow: none;
    border: 2px solid #fff;
}

.subscribe_section .subscribe #mail-sub:focus {
    box-shadow: 0 5px 75px -15px #000 !important;
}

.subscribe_section .subscribe::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
    letter-spacing: .5px;
}

.subscribe_section .subscribe:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
    letter-spacing: .5px;
}

.subscribe_section .subscribe::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
    letter-spacing: .5px;
}

.subscribe_section .subscribe:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
    letter-spacing: .5px;
}

.social {
    position: absolute;
    bottom: 10px;
    left: 5vw;
    z-index: 8;
}

.social li {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 5px 0;
    font-size: 20px;
    text-align: center;
    box-shadow: none;
    color: #fff;
}

.social li:hover {
    box-shadow: 0 5px 50px -5px #ffffff;
}

.social li:hover:nth-child(1) {
    background: #306dc4;
}

.social li:hover:nth-child(2) {
    background: #1edcff;
}

.social li:hover:nth-child(3) {
    background: #3384bc;
}

.social li:hover:nth-child(4) {
    background: #f2143a;
}

.close-ss {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 7;
    display: none;
}

.close-ss.active {
    display: inline-block;
}

.close-mob {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 30px;
    z-index: 99;
}

@media all and (min-width: 1900px) {
    #team .item img {
        height: 250px;
    }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
    .right {
        width: 80vw;
        right: -85vw;
    }
    .left {
        width: 90vw;
    }
}

@media all and (max-width: 991px) {
    .right {
        width: 100vw;
        right: -105vw;
    }
    .left {
        width: 100vw;
    }
    .subscribe_section {
        width: 100vw;
        right: -105vw;
    }
}

@media all and (max-width: 767px) {
    .big-title,
    .left .content h2,
    .right .title {
        font-size: 36px;
    }
    .text_bordered:before {
        bottom: 5px;
    }
    .btn { margin-bottom: 20px;
       /* line-height: 45px;
        height: 45px;
        font-size: 12px;*/
    }
    body {
        font-size: 12px;
    }
    .social li {
        width: 20px;
        font-size: 14px;
    }
    .services .service:nth-child(1) {
        border: none;
        margin-bottom: 25px;
    }
    #works .item img {
        height: 175px;
    }
    #team .item {
        width: 48%;
        margin-bottom: 25px;
    }
    #team .item img {
        height: 150px;
    }
    .contact .item {
        width: 100%;
    }
    .countdown li {
        font-size: 36px;
    }
    .countdown li span {
        font-size: 12px;
    }
}


/*# sourceMappingURL=style.css.map */