	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/06/2018 15:53
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-team:before { content: "\f100"; }
.flaticon-placeholder:before { content: "\f101"; }
.flaticon-lesson:before { content: "\f102"; }
.flaticon-scissors:before { content: "\f103"; }
.flaticon-bell-covering-hot-dish:before { content: "\f104"; }
.flaticon-birthday-cake:before { content: "\f105"; }
.flaticon-wedding-couple:before { content: "\f106"; }
.flaticon-public-speech:before { content: "\f107"; }
.flaticon-meeting:before { content: "\f108"; }
.flaticon-trophy:before { content: "\f109"; }
.flaticon-football:before { content: "\f10a"; }
.flaticon-running-man:before { content: "\f10b"; }
.flaticon-microphone:before { content: "\f10c"; }
.flaticon-music-and-multimedia:before { content: "\f10d"; }