/*----------------------------
         Add CSS file
----------------------------*/
@import "bootstrap/css/bootstrap.min.css";
@import 'font-awesome/css/font-awesome.css';
@import 'owlcarousel/css/owl.carousel.min.css';
@import 'flaticon/font/flaticon.css';

/*----------------------------
Add font
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/*----------------------------
   element      
----------------------------*/
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html { text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;}
.nopadding-left{padding-left:0;}
.nopadding-right{padding-right:0;}
.nopadding{padding-left:0;padding-right:0;}
.mb10{padding-left:10px;padding-right:10px;}
.tabbody{margin-right: -10px; margin-left: -10px;}
*{margin:0; padding:0}
a{ text-decoration:none;}
a:hover{ text-decoration:none !important;}
header, nav, section, article, aside, footer { display:block;}
html {font-size: 100%;}
body {font-size: 12px;font-family: 'Open Sans', sans-serif;line-height: 26px;color: #777;-webkit-font-smoothing: antialiased;font-weight: normal;}
h1, h2, h3, h4, h5, h6 {padding: 5px 0 15px 0;color: #333;font-weight: normal;-webkit-font-smoothing: antialiased;}
:-ms-input-placeholder{color: #000;}
/*----------------------------
         HEADER TOP
------------------------*/

/* Atribute Navigation =================================*/ 
/*----------------------------
         HEADER MAIN NAVBAR
----------------------------*/
.header {position: relative;clear: both;display: inline-block;width: 100%;z-index: 99;background: #29054a;}
header.fixed{position:fixed; background: #fff;box-shadow: 0 0 30px rgba(217, 224, 249, 0.31);}
.header .container{max-width: 95%}
.logo {display: inline-block; width: 75px; } 
.logo img{width: 100%}
.fixed  .login-btn {color:#fff  !important;}


/*** 
====================================================================
  navigation
====================================================================
***/
.main-menu .navbar-nav {position: relative; margin: 0px; }
.main-menu .navbar-nav > li{position:relative;padding: 15px 10px;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;} 
.main-menu .navbar-nav > li > a{position:relative;display:block;color: #ffffff;text-align:center;line-height:25px;letter-spacing:0px;opacity:1;font-weight:600;font-size:14px;text-transform:uppercase;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;} 
.main-menu .navbar-nav > li.dropdown > a{padding-right: 15px; } 
.main-menu .navbar-nav > li > ul{position:absolute; left:0px; top:120%; width:240px; padding:0px; z-index:100; display:none; background:#ffffff; border-top:2px solid #fcc005; -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); }
.main-menu .navbar-nav > li > ul > li{position:relative; width:100%; border-bottom:1px solid rgba(0,0,0,0.10); } 
.main-menu .navbar-nav > li > ul > li:last-child{border-bottom:none; } 
.main-menu .navbar-nav > li > ul > li > a{position:relative; display:block; padding:10px 15px; line-height:24px; font-weight:400; font-size:14px; text-transform:capitalize; color:#292929; -moz-transition:all 300ms ease; -webkit-transition:all 300ms ease; -ms-transition:all 300ms ease; -o-transition:all 300ms ease; transition:all 300ms ease; } 
.main-menu .navbar-nav > li > ul > li:hover > a{color:#ffffff; background:#fcc005; } 
.main-menu .navbar-nav > li > ul > li.dropdown > a:after{font-family: 'Fontawesome'; content: "\f105"; position:absolute; right:10px; top:12px; width:10px; height:20px; display:block; color:#292929; font-weight: 900; line-height:20px; font-size:16px; text-align:center; z-index:5; } 
.main-menu .navbar-nav > li > ul > li.dropdown:hover > a:after{color:#ffffff; } 
.main-menu .navbar-nav > li > ul > li > ul{position:absolute; left:100%; top:20px; width:240px; padding:0px; z-index:100; display:none; background:#ffffff; border-top:2px solid #fcc005; -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); } 
.main-menu .navbar-nav > li > ul > li > ul > li{position:relative; width:100%; border-bottom:1px solid rgba(0,0,0,0.10); } 
.main-menu .navbar-nav > li > ul > li > ul > li:last-child{border-bottom:none; } 
.main-menu .navbar-nav > li > ul > li > ul > li > a{position:relative; display:block; padding:10px 15px; line-height:24px; font-weight:400; font-size:14px; text-transform:capitalize; color:#292929; -moz-transition:all 300ms ease; -webkit-transition:all 300ms ease; -ms-transition:all 300ms ease; -o-transition:all 300ms ease; transition:all 300ms ease; } 
.main-menu .navbar-nav > li > ul > li > ul > li:hover > a{color:#ffffff; background:#fcc005; } 
.main-menu .navbar-nav > li > ul > li > ul > li.dropdown > a:after{font-family: 'FontAwesome'; content: "\f105"; position:absolute; right:10px; top:11px; width:10px; height:20px; display:block; color:#292929; line-height:20px; font-size:16px; font-weight:normal; text-align:center; z-index:5; } 
.main-menu .navbar-nav > li > ul > li > ul > li.dropdown:hover > a:after{color:#ffffff; } 
.main-menu .navbar-nav > li.dropdown:hover > ul{visibility:visible; opacity:1; top:100%; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; -o-transition: all 300ms ease; transition: all 300ms ease; } 
.main-menu .navbar-nav > li.dropdown:hover > ul{-webkit-transition: all 300ms ease;-moz-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;transition: all 300ms ease;} 
.main-menu .navbar-nav > li > ul{position:absolute; left:0px; top:100%; width:220px; padding:0px 0px; z-index:100; background:#2b2b2b; border-top:2px solid #5cb1c9; -webkit-transform:scaleY(0); -ms-transform:scaleY(0); -moz-transform:scaleY(0); transform:scaleY(0); -webkit-transform-origin:top; -ms-transform-origin:top; -moz-transform-origin:top; transform-origin:top; -webkit-transition:all 300ms ease; -ms-transition:all 300ms ease; -moz-transition:all 300ms ease; transition:all 300ms ease; -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); } 
.main-menu .navbar-nav > li > ul.from-right{left:auto; right:0px; } 
.main-menu .navbar-nav > li > ul > li{position:relative; width:100%; border-bottom:1px solid rgba(255,255,255,0.10); } 
.main-menu .navbar-nav > li > ul > li:last-child{border-bottom:none; }
.main-menu .navbar-nav > li > ul > li > a{position:relative; display:block; padding:10px 20px; line-height:24px; font-weight:400; font-size:14px; color:#ffffff; text-align:left; text-transform:capitalize; transition:all 500ms ease; -moz-transition:all 500ms ease; -webkit-transition:all 500ms ease; -ms-transition:all 500ms ease; -o-transition:all 500ms ease; } 
.main-menu .navbar-nav > li > ul > li:hover > a{color:#ffffff; background:#5cb1c9; } 
.main-menu .navbar-nav > li > ul > li > ul{position:absolute; left:100%; top:-2px; width:220px; padding:0px; z-index:100; display:none; background:#2b2b2b; border-top:2px solid #fcc005; -webkit-transform:scaleY(0); -ms-transform:scaleY(0); -moz-transform:scaleY(0); transform:scaleY(0); -webkit-transform-origin:top; -ms-transform-origin:top; -moz-transform-origin:top; transform-origin:top; -webkit-transition:all 300ms ease; -ms-transition:all 300ms ease; -moz-transition:all 300ms ease; transition:all 300ms ease; -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); } 
.main-menu .navbar-nav > li > ul > li > ul > li{position:relative; width:100%; border-bottom:1px solid rgba(255,255,255,0.10); } 
.main-menu .navbar-nav > li > ul > li > ul > li:last-child{border-bottom:none; } 
.main-menu .navbar-nav > li > ul > li  > ul > li > a{position:relative; display:block; padding:10px 20px; line-height:24px; font-weight:400; font-size:14px; color:#ffffff; text-align:left; text-transform:capitalize; transition:all 500ms ease; -moz-transition:all 500ms ease; -webkit-transition:all 500ms ease; -ms-transition:all 500ms ease; -o-transition:all 500ms ease; } 
.main-menu .navbar-nav > li > ul > li  > ul > li > a:hover{color:#ffffff; background:#5cb1c9; } 
.main-menu .navbar-nav > li.dropdown:hover > ul{-webkit-transform:scaleY(1);-ms-transform:scaleY(1);-moz-transform:scaleY(1);transform:scaleY(1);top:100%;display:  block;} 
.main-menu .navbar-nav li > ul > li.dropdown:hover > ul{-webkit-transform:scaleY(1); -ms-transform:scaleY(1); -moz-transform:scaleY(1); transform:scaleY(1); visibility:visible; opacity:1; transition:all 500ms ease; -moz-transition:all 500ms ease; -webkit-transition:all 500ms ease; -ms-transition:all 500ms ease; -o-transition:all 500ms ease; } 
.fixed .main-menu .navbar-nav > li > a{color: #000;}
.login-btn {box-shadow: 0 4px 15px 0 rgba(255, 152, 0, 0.38); margin-bottom: 0; padding: 10px 50px; border-radius: 50px; background-color: #ffd313; font-size: 14px; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; background: rgb(255,211,19); background: -moz-linear-gradient(left, rgba(255,211,19,1) 0%, rgba(255,152,0,1) 100%); background: -webkit-linear-gradient(left, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%); background: linear-gradient(to right, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd313', endColorstr='#ff9800',GradientType=1 ); }

/***====================================================================
	login forms
====================================================================***/
.user-infor-section {padding: 40px 0;    background: #f7f9f8; } 
.we-login-content-box {padding:5em  7em;position: relative; display: block;  box-shadow:0 10px 40px rgba(15,60,216,.2); background: #fff; }
.we-login-content-top h1{font-family: 'Open Sans', sans-serif;font-weight: bold;font-size:40px;color: #000;margin-top: 0;text-align: left;} 
.we-login-content-top p {text-align: left; line-height: 28px; color: #000; font-size: 14px; letter-spacing: 0.5px; } 

.social-login-box {margin:20px 0; }
.facebook-btn  {font-size: 14px;margin-bottom:10px;font-weight: bold;text-align: center;color: #385c8e;background-color: #fff;cursor: pointer;width: 100%;padding:8px 30px;display:  inline-block;vertical-align:  middle;box-shadow: 0px 0px 6px #e4e4e4;text-transform:  uppercase;border-radius:  3px;border: 1px solid #385c8e;}
.google-btn {font-size: 14px;margin-bottom:10px;font-weight: bold;text-align: center;color: #f14336;background-color: #fff;cursor: pointer;width: 100%;padding: 8px 30px;display:  inline-block;vertical-align:  middle;box-shadow: 0px 0px 6px #e4e4e4;text-transform:  uppercase;border-radius:  3px;border: 1px solid #f14336;}
.facebook-btn span,
.google-btn span {padding-right: 15px; vertical-align: middle; } 
.facebook-btn:hover{color: #385c8e;}
.google-btn:hover{color: #f14336;}

.or{margin: auto;padding-top: 20px;padding-bottom: 58px;width: 100%;height: 12px;color: #4c52606b;font-size: 12px;font-weight: 500;line-height: 13px;} 
.panel__divider{width: 100%; position: relative; margin: auto; overflow: hidden; vertical-align: middle; text-transform: uppercase; font-size: 12px; font-weight: 700;    text-align: center; } 
.panel__divider:after, 
.panel__divider:before{display: inline-block;position: relative;background-color: #4c52601c;width: 100px;height: 1px;vertical-align: middle;content: '';} 
.panel__divider:after{right: 15px; margin-left: -50%; } 
.panel__divider:before{left: 15px; margin-right: -50%; }


.we-login-content-section {padding: 60px 50px; display: flex; align-items: center; height: 100%; }

.main-inner{padding: 5em 0;}
.we-heading h2 {text-align: left;font-weight: bold;font-size: 24px;color: #000;margin:  0;letter-spacing:  0.5px;} 
.we-heading p{text-align: left;line-height:28px;color: #999999;font-size: 13px;letter-spacing: 0.5px;font-style:  italic;} 

.we-form-box .form-group{position: relative; margin-bottom: 30px;}

.we-form-box input.form-control:focus ~ label,
.we-form-box input.form-control:not(:focus):valid ~ label{ top: -35px;opacity: 1;}
.we-form-box label{color: #000;font-size: 13px;position: absolute;pointer-events: none;left: 0;top: 0;-webkit-transition: .2s ease all;-moz-transition: .2s ease all;transition: .2s ease all;padding: 10px;text-transform:  uppercase;font-weight: 600;}

.we-form-box  input.form-control{color: #000;display: block;padding: 10px;width: 100%;transition: all 700ms ease 0s;background: #ffffff;border: 1px solid #ebebec;font-size: 14px;outline:  none;}
.we-form-box  input.form-control:focus {color: #000;border: 1px solid #a044f1;box-shadow: 0px 0px 6px #e4e4e4;}




.we-form-box label.checkbox-inline{text-align: center;line-height:28px;color: #010101;font-size: 14px;} 

.Submit-form-button{background: rgb(159,67,239);background: -moz-linear-gradient(left, rgba(159,67,239,1) 0%, rgba(98,7,178,1) 100%);background: -webkit-linear-gradient(left, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);background: linear-gradient(to right, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f43ef', endColorstr='#6207b2',GradientType=1 );border: none;color: #fff;font-weight: bold;outline: none;text-align: center;padding: 10px 45px;font-size: 16px;border-radius: 6px;width: 100%;box-shadow: 0 4px 15px 0 rgba(152, 60, 232, 0.42);} 
.Submit-form-button:hover {color: #fff;box-shadow: none;}
.login-form-link1{text-align: center;}
.login-form-link1 a{color: #000; text-align: center;}

/***
====================================================================
	footer
====================================================================
***/
.footer { padding:2em 0 1em 0; background-color: #272727; }
.footer .container {
    max-width: 95%;
}
.footer-title{position: relative; margin-bottom:30px;}
.footer-title h2{font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 18px;color: #fff;line-height: 24px;margin-top: 0;border-bottom: 1px solid #313131;text-align:  center;text-transform:  uppercase;} 
.footer-title h2:after {position: absolute;content: '';width: 87px; margin:0 auto;right: 0;height: 1px;left: 0px;bottom: 0px;background-color:#fff;}
.footer-links{ margin:0; padding:0;}
.footer-links ul{ margin:0; padding:0; list-style:none;}
.footer-links li {display: inline-block;width: 100%;text-align:  left;border-bottom: 1px solid #313131;padding: 5px;}
.footer-links li a {color: #fff;padding: 0 15px;font-family: 'Lato', sans-serif; text-align: left;text-decoration: none;font-size: 14px; letter-spacing:1px;}
.footer-links li a i{padding-right:10px;}
.footer-links li:last-child{ border-bottom: none; }

.footer-widget-content{ text-align: center; }
.footer-widget-content p{font-family: 'Open Sans', sans-serif;font-weight: normal;font-size: 14px;color:#fff;line-height: 24px;} 
.footer-logo{ margin:0; padding:0; list-style:none;}
.footer-logo li {display: inline-block;}


 .fwidget-list li {display: block; margin-bottom: 10px; } 
 .fwidget-list li.f-address {margin-bottom: 22px;display: block;font-size: 14px;letter-spacing: 0;font-weight: 400;color: #fff;font-family: 'Open Sans',sans-serif;}
 .fwidget-list li.f-address span {display: block; margin-top: 8px; }
.fwidget-list li i{padding-right:10px;}
.fwidget-list li a {display: block;font-size: 14px;letter-spacing: 0;font-weight: 400;color: #fff;font-family: 'Open Sans',sans-serif;}
.fwidget-list li a:hover {color:#67b9cc; }



.f-social {text-align: left;}
.f-social ul li {    margin: 0 5px 0 0; display: inline-block; } 
.f-social ul li a {display: block; height: 35px; width: 35px; color: #dadada;  border: 1px solid #dadada; border-radius: 50%; text-align: center; line-height: 35px; font-size: 15px; }
.f-social ul li a:hover {color: #fff;border: 1px solid #67b9cc;background: #67b9cc;}

.footer-bottom {background:#1c1c1c; padding: 10px;}
.footer-bottom p{color: #fff;font-size: 14px; letter-spacing:1px;     margin: 0;  text-align: center; }
.copyright a{color:#fff;font-size: 14px; letter-spacing:1px;}


/***
====================================================================
	step
====================================================================
***/

.step-infor-section {padding: 40px 0;    background: #f7f9f8; } 
.step-infor-box-content{padding:20px;position: relative;display: block;background: #fff;margin-bottom: 20px;}
.step-infor-list-box {background: #ffffff; padding: 20px; margin-bottom: 10px; } 
.step-infor-list-box .step-infor-box-content{margin-bottom: 0px;    padding: 0px;}
.step-infor-box-content h2 {color: #000;font-family: 'Open Sans',sans-serif;font-size: 18px;font-weight: 700;text-align: left;} 
.step-infor-box-content p {font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}

.desc_wrap {    color: #000; margin: 0; padding: 0; list-style-type: square; list-style-position: inside; } 
.desc_wrap li {margin: 5px auto; }
.desc_wrap li span.desc_title_helper{font-family: 'Open Sans',sans-serif;color: #000;font-size: 13px;font-weight: 700;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}
.desc_wrap li span.desc_title_helper_examples{font-family: 'Open Sans',sans-serif;color: #6a6a6a;font-size: 13px;font-weight: 400;letter-spacing: 1px;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}
.step-infor-form-box{padding: 30px 0 0 0;}

.step-infor-form-box {width: 50%;}

.desc_wrap-example{padding: 0px 0;      display: flex;vertical-align: middle;}
.desc_wrap-example span{padding: 5px;font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}
.desc_wrap-example span a{color: #ff9b01 !important; cursor: pointer;}
.we-form-box .form-group{position: relative; margin-bottom: 30px;}

.we-form-box .form-control:focus ~ label,
.we-form-box .form-control:not(:focus):valid ~ label{ top: -35px;opacity: 1;}
.we-form-box label{color: #000;font-size: 13px;position: absolute;pointer-events: none;left: 0;top: 0;-webkit-transition: .2s ease all;-moz-transition: .2s ease all;transition: .2s ease all;padding: 10px;text-transform:  uppercase;font-weight: 600;}

.we-form-box  .form-control{color: #000;display: block;padding: 10px;width: 100%;transition: all 700ms ease 0s;background: #ffffff;border: 1px solid #ebebec;font-size: 14px;outline:  none;}
.we-form-box  .form-control:focus {color: #000;border: 1px solid #a044f1;box-shadow: 0px 0px 6px #e4e4e4;}

.sqft_area {position: relative; width: 200px;  } 
.sqft_input{color: #000;width: 100%; display: inline-block; padding: 10px; transition: all 700ms ease 0s; background: #ffffff; border: 1px solid #ebebec; font-size: 14px; outline: none; }
.sqft_icon {display: inline-block; position: absolute; background-color: #a044f1; border-radius: 0px 5px 5px 0; color: #fafafa; font-size: 14px; padding: 8px; right: 0; top: 0; }

.custom-control-label{font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}


.file-uploader {display: block; width: 100%; padding: 16px; background: #fafbfd; border-radius: 6px; line-height: normal; margin: 0 auto; text-align: left; }
.file-uploader-input {padding: 56px 0; background: #fff; border: 2px dashed #c2cdda; text-align: center; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; overflow: hidden; }
 .file-uploader-input-button {padding: 12px 18px; background: #673AB7; background: -moz-linear-gradient(-45deg,#a044f1 0,#673AB7 100%); background: -webkit-linear-gradient(-45deg,#a044f1 0,#673AB7 100%); background:linear-gradient(135deg,#a044f1 0,#673AB7 100%); background-size: 140% auto; background-position: center; color: #fff;display: inline-block; margin: 0; padding: 14px 20px; border: none; border-radius: 6px; outline: 0; font-weight: 700; cursor: pointer; vertical-align: middle; text-decoration: none; }
.file-uploader-input img {display: block; max-width: 64px; margin: 0 auto; margin-bottom: 30px; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.file-uploader-input-inner {text-align: center; margin: 0 auto; }
.file-uploader-input h3 {background: none; border: none; font-size: 18px; font-weight: bold; color: #555a6b; white-space: normal; }

.step-btn-box{text-align: right;}
.back-btn{box-shadow:0 4px 15px 0 rgba(119, 61, 199, 0.26); margin-bottom: 0; padding: 10px 50px; border-radius: 50px; background-color: #ffd313; font-size: 14px; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: bold;background: #673AB7; background: -moz-linear-gradient(-45deg,#a044f1 0,#673AB7 100%);    background: -webkit-linear-gradient(-45deg,#a044f1 0,#673AB7 100%); background: linear-gradient(135deg,#a044f1 0,#673AB7 100%); } 
.next-btn{box-shadow: 0 4px 15px 0 rgba(255, 152, 0, 0.38); margin-bottom: 0; padding: 10px 50px; border-radius: 50px; background-color: #ffd313; font-size: 14px; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; background: rgb(255,211,19); background: -moz-linear-gradient(left, rgba(255,211,19,1) 0%, rgba(255,152,0,1) 100%); background: -webkit-linear-gradient(left, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%); background: linear-gradient(to right, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd313', endColorstr='#ff9800',GradientType=1 ); }
.next-btn:hover,
.back-btn:hover{color: #fff}



.currency-change-list {padding: 10px 0 0 0; text-align: left; margin: 0 auto; } 
.currency-change-list ul {margin: 0; padding: 0; list-style: none; }
.currency-change-list ul li {display: inline-block; } 
.checkbox-box input[type=checkbox]+label {cursor: pointer; font-size: 14px; } 
.checkbox-box input[type=checkbox]+label {background-color: #fff; padding:10px; display: inline-block; position: relative; color: #000; width:50px;border-radius: 5px; height: 50px; border:1px solid #eee;text-align: center; font-weight: bold; }
.checkbox-box input[type="checkbox"], 
.checkbox-box input[type="checkbox"] {position: absolute; opacity: 0; z-index: 1; }

.checkbox-box input[type=checkbox]+label:after {content: ' '; width: 50px; position: absolute; top: 0; left: 0; height: 50px; }
.checkbox-box input[type=checkbox]+label:before {content: ' '; border-radius: 5px; width: 50px; position: absolute; top: 0; left: 0; z-index: 999; height: 50px; display: none; border:1px solid #9d43ed; display: none; }
.checkbox-box input[type=checkbox]:checked+label{color:#9d43ed;} 
.checkbox-box input[type=checkbox]:checked+label:before {display: block; color:#9d43ed; }

.btn-Availability{border:none; outline:none;box-shadow:0 4px 15px 0 rgba(119, 61, 199, 0.26); margin-bottom: 0; padding: 10px 50px; border-radius: 50px; background-color: #ffd313; font-size: 14px; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: bold;background: #673AB7; background: -moz-linear-gradient(-45deg,#a044f1 0,#673AB7 100%);    background: -webkit-linear-gradient(-45deg,#a044f1 0,#673AB7 100%); background: linear-gradient(135deg,#a044f1 0,#673AB7 100%); } 

.listing-change-list-box{position: relative;z-index: 9;margin-bottom: 20px;background: #fff;padding: 20px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;border-radius: 2px;border: 1px solid #eee;} 
.listing-change-list-box:hover{-webkit-box-shadow: 0 0px 30px rgba(15, 60, 216, 0.08);box-shadow:0 0px 30px rgba(15, 60, 216, 0.08);} 

.listing-change-list-box h2 {color: #a044f1;font-family: 'Open Sans',sans-serif;font-size: 18px;font-weight: 700;text-align: left;} 
.listing-change-list {padding: 10px 0 0 0; text-align: left; margin: 0 auto; } 
.listing-change-list-box ul{margin: 0; padding: 0; list-style: none; }
.listing-change-list-box ul li {display: inline-block;width: 100%;} 
.listing-change-list-box p {font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 600;letter-spacing: 1px;text-align: justify;     /* fallback */      /* fallback */ /* number of lines to show */background: #f7f9f8;padding: 10px;margin-bottom: 3px;}

.pricing_area {position: relative; width: 200px;  }
.pricing_area-input{color: #000;width: 100%;padding-left: 45px; display: inline-block; padding: 10px; transition: all 700ms ease 0s; background: #ffffff; border: 1px solid #ebebec; font-size: 14px; outline: none; }
.pricing_area-icon {display: inline-block;position: absolute;background-color: #a044f1;border-radius: 5px 0px 0px 5px;color: #fafafa;font-size: 14px;padding: 8px 15px;left: 0;top: 0;}
.pricing_area label{ padding-left: 45px;}


.amens-checkboxe-list{list-style: none;padding: 0; margin: 0;}
.amens-checkboxe-list li{display: inline-block; width: 19%;}
.checkbox-box-amenities{display:inline-block; width:100%;position: relative;padding-left: 35px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;text-align: justify;margin-bottom: 10px;} .checkbox-box-amenities input {position: absolute; opacity: 0; cursor: pointer; }
.checkbox-box-amenities input {position: absolute; left: 0;opacity: 0; cursor: pointer; width: 100%; height: 100% }
.checkbox-box-amenities label{position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #eee; } 
.checkbox-box-amenities:hover input ~ label {background-color: #ccc; }
.checkbox-box-amenities input:checked ~ label {background-color: #a44bf2; }
.checkbox-box-amenities label:after {content: ""; position: absolute; display: none; }
.checkbox-box-amenities input:checked ~ label:after {display: block; } 
.checkbox-box-amenities label:after {left: 10px; top:7px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.btn-button{ outline:none; border:none;box-shadow:0 4px 15px 0 rgba(119, 61, 199, 0.26); margin-bottom: 0; padding: 10px 50px; border-radius: 50px; background-color: #ffd313; font-size: 14px; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: bold;background: #673AB7; background: -moz-linear-gradient(-45deg,#a044f1 0,#673AB7 100%);    background: -webkit-linear-gradient(-45deg,#a044f1 0,#673AB7 100%); background: linear-gradient(135deg,#a044f1 0,#673AB7 100%); } 
.btn-button:hover
{color: #fff}
