/* Spritesheet */

.icn {
	display: block;
	background-image: url('../../../images/map/sprites.png');
	background-repeat: no-repeat;
}
.icn span { display: none; }

.icon-1 {
	background-position: 0 0;
	width: 100px;
	height: 27px;
}
.icon-2 {
	background-position: 0 -64px;
	width: 70px;
	height: 22px;
}
.icon-3 {
	background-position: 0 -128px;
	width: 11px;
	height: 11px;
	opacity: 0.6;
}
	.icon-3:hover {
		opacity: 1;
	}
.icon-4 {
	background-position: 0 -191px;
	width: 22px;
	height: 23px;
	opacity: 0.6;
}
	.icon-4:hover {
		opacity: 1;
	}
.icon-5 {
	background-position: 0 -255px;
	width: 22px;
	height: 23px;
	opacity: 0.6;
}
	.icon-5:hover {
		opacity: 1;
	}
.icon-6 {
	background-position: 0 -448px;
	width: 13px;
	height: 10px;
	opacity: 0.6;
}
	.icon-6:hover {
		opacity: 1;
	}
.icon-7 {
	background-position: 0 -897px;
	width: 61px;
	height: 59px;
}
.mob_open .icon-7 {
	background-position: -64px -897px;
	width: 61px;
	height: 59px;
}
.icon-8 {
	background-position: -64px -640px;
	width: 22px;
	height: 19px;
}
.icon-9 {
	background-position: -64px -704px;
	width: 22px;
	height: 19px;
}
.icon-10 {
	background-position: -64px -576px;
	width: 25px;
	height: 24px;
}

.icon-11 {
	background-position: -128px -640px;
	width: 33px;
	height: 28px;
}
.icon-12 {
	background-position: -128px -704px;
	width: 33px;
	height: 28px;
}
.icon-13 {
	background-position: -64px -512px;
	width: 36px;
	height: 36px;
}

.research-advocacy .icon-13 {
	background-position: -192px -512px;
}

.creative-residencies .icon-13 {
	background-position: -256px -512px;
}

.regional-communities .icon-13 {
	background-position: -320px -512px;
}

.icon-14 {
	background-position: -192px -640px;
	width: 33px;
	height: 28px;
}
.icon-15 {
	background-position: -192px -704px;
	width: 33px;
	height: 28px;
}
.icon-16 {
	background-position: -64px -448px;
	width: 34px;
	height: 34px;
	position: absolute;
	bottom: 10px;
	right: 5px;
}

.icon-3, .icon-4, .icon-5, .icon-6 {
	-webkit-transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-o-transition: opacity .1s ease-in-out;
	transition: opacity .1s ease-in-out;
}


.public-logo {
	background-position: -128px 0;
	width: 260px;
	height: 174px;
}

.public-logo-sm {
	background-position: -436px -125px;
	width: 180px;
	height: 120px;
}

.green-facebook {
	background-position: -128px -192px;
	width: 28px;
	height: 27px;
}

	.green-facebook:hover {
		opacity: 0.8;
		/* background-position:  -128px -256px; */
	}

.green-instagram {
	background-position: -192px -192px;
	width: 28px;
	height: 27px;
}

	.green-instagram:hover {
		opacity: 0.8;
		/* background-position: -192px -256px; */
	}

.green-twitter {
	background-position: -256px -192px;
	width: 27px;
	height: 26px;
}

	.green-twitter:hover {
		opacity: 0.8;
		/* background-position: -256px -256px; */
	}

.white-arrow {
	background-position: 0 -384px;
	width: 14px;
	height: 11px;
	display: inline-block;
	margin-left: 10px;
}

.clear-filter {
	background-position: -128px -448px;
	width: 8px;
	height: 8px;
	display: inline-block;
	margin-left: 10px;
}

.map-icn {
	background-position: -64px -320px;
	width: 22px;
	height: 22px;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 7px;
}

.left-black-arrow {
	background-position: -58px -377px;
	width: 14px;
	height: 11px;
	left: 0;
	position: relative;
	top: 5px;
}

.right-black-arrow {
	background-position: -118px -377px;
	width: 14px;
	height: 11px;
	right: 0;
	position: relative;
	top: 5px;
}

.menu-link {
	background-position: -128px -320px;
	width: 27px;
	height: 19px;
}

.menu-link-close {
	background-position: -192px -320px;
	width: 20px;
	height: 20px;
}

.icn-share {
	background-position: -320px -192px;
	width: 27px;
	height: 26px;
}
.icn-share:hover {
	background-position: -320px -256px;
}

.icn-facebook-white {
	background-position: -182px -379px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
}
.icn-instagram-white {
	background-position: -250px -379px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
}
.icn-twitter-white {
	background-position: -312px -376px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

.icn-social-ig {
	background-position: -320px -576px;
	width: 22px;
	height: 23px;
	opacity: 0.6;
}
	.icn-social-ig:hover {
		opacity: 1;
	}

/* Swapping out for mobile sizes */
@media only screen and (max-width: 480px) {
	.icn { background-image: url('../../images/sprites.png'); }
/*
	.icon-1 {
		background-position: -128px -832px;
		width: 145px;
		height: 42px;
	}
*/
	.icon-4 {
		background-position: 0 -512px;
		width: 34px;
		height: 34px;
	}
	.icon-5 {
		background-position: 0 -576px;
		width: 34px;
		height: 34px;
	}
	.icn-social-ig {
		background-position: -192px -576px;
		width: 35px;
		height: 34px;
	}
	
	.public-logo,
	.public-logo-sm {
		background-position: -444px -1px;
		width: 130px;
		height: 87px;
	}

	
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
	.icn { background-image: url(../../images/sprites@2x.png); background-size: 960px 960px; }
	
	.drop-select p {  background: url(../../images/arrow-drop@2x.png) no-repeat 90% center; background-size: 9px 4px; }
	
	#main-nav ul li.active a,
	#main-nav ul li:hover a
	{ background-image: url(../../images/arrow-menu-active@2x.png); background-size: 12px 5px; }
	
	.btn.readmore { background-image: url(../../images/arrow-readmore@2x.png); background-size: 13px 9px; }
	
	#main-nav .sub-menu li.active a,
	#main-nav .sub-menu li:hover a
	{ background: url(../../images/arrow-submenu-active@2x.png) no-repeat bottom center; background-size: 9px 5px; }
	
	.view-all {	background: url(../../images/arrow-viewall@2x.png) no-repeat center right; background-size: 13px 9px; }
	
	.ajaxloader { background: url(../../images/loading@2x.gif) no-repeat right center; background-size: 12px 12px; }
	
}