/*---------------------------------------------- RESET */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}p,ul,ol{margin:0 0 20px}ul,ol{padding:0 0 0 2.5em}label{cursor:pointer}button{cursor:pointer;border:0;outline:0}input[type="submit"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner{border:0}input[type="submit"]:focus,input[type="button"]:focus{outline:0}


/*---------------------------------------------- GLOBAL SETTINGS */


html, body{ height: 100%; }

body {
	background: #fff;
	font: 14px/21px 'Montserrat', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

.proxima { font-family: 'proxima-nova', 'Montserrat', "HelveticaNeue", Helvetica, Arial, sans-serif; }
.monteserrat { font-family: 'Montserrat', "HelveticaNeue", Helvetica, Arial, sans-serif; }

/*---------------------------------------------------- FORMATTING */

h1, h2, h3, h4, h5, h6 { font-weight: 600; text-transform: uppercase; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; line-height: 1.2em; }
h1 { font-size: 46px; margin-bottom: 20px;}
h2 { font-size: 35px; margin-bottom: 20px; }
h3 { font-size: 18px; margin-bottom: 20px; }
h4 { font-size: 15px; margin-bottom: 20px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

p { margin: 0 0 20px 0; font-family: 'proxima-nova', 'Montserrat', "HelveticaNeue", Helvetica, Arial, sans-serif; }
em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }

.title { text-transform: uppercase; font-weight: 600; font-family: 'Montserrat'; }

/*	Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px auto 30px; height: 0; }

a {
	color: #444444;
	text-decoration: none;
	outline: 0;
	-webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out, background-color .3s ease-in-out;
	-o-transition: color .3s ease-in-out, background-color .3s ease-in-out;
	transition: color .3s ease-in-out, background-color .3s ease-in-out;
}
a:hover, a:focus { color: #000; }
p a { line-height: inherit; }

#content .page p a {
	color: #df2683;
}

#content .page p a:hover,
#content .page p a:focus {
	color: #b93c7b;
}

.field { position: relative; margin-bottom: 20px; }

label {
	font-size: 15px;
	color: #6d6d6d;
	z-index: 1;
	font-family: 'proxima-nova';
}
.field label {
	position: absolute;
	top: 15px;
	left: 20px;
}

input, textarea {
	border: 1px solid #e2e2e2;
	padding: 15px 20px;
	color: #6d6d6d;
	font-size: 15px;
	font-family: 'proxima-nova';
	margin: 0px;
	-webkit-box-shadow: 0px 0px 0px #fff;
	-moz-box-shadow: 0px 0px 0px #fff;
	-o-box-shadow: 0px 0px 0px #fff;
	box-shadow: 0px 0px 0px #fff;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	transition: border-color .2s ease-out,-webkit-box-shadow .2s ease-out;
	-webkit-transition: border-color .2s ease-out,-webkit-box-shadow .2s ease-out;
	-moz-transition: border-color .2s ease-out,-moz-box-shadow .2s ease-out;
}
textarea { min-height: 100px; }

.styled { 
    overflow:hidden; /* this hides the select's drop button */
    padding:0; 
    margin:0; 
    background: url(../../images/arrow-drop-form.png) no-repeat 85% center;
    /* this is the new drop button, in image form */
    width:12em; 
    transition: border-color .2s ease-out,-webkit-box-shadow .2s ease-out;
	-webkit-transition: border-color .2s ease-out,-webkit-box-shadow .2s ease-out;
	-moz-transition: border-color .2s ease-out,-moz-box-shadow .2s ease-out;
    -webkit-box-shadow: 0px 0px 0px #fff;
	-moz-box-shadow: 0px 0px 0px #fff;
	-o-box-shadow: 0px 0px 0px #fff;
	box-shadow: 0px 0px 0px #fff;
    border: 1px solid #e2e2e2;
}

.styled select,
#timeline-drop select { 
    width:135%; /* this percentage effectively extends the drop down button out of view */
    background-color:transparent; /* this hides the select's background making any styling visible from the div */
    background-image:none; 
    -webkit-appearance: none /* this is required for Webkit browsers */; 
    border:none; 
    border-radius: 0;
    padding: 14px 15px 13px; /* padding should be added to the select, not the div */
    box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	font-size: 14px;
	color: #959595;
	z-index: 1;
	font-family: 'proxima-nova';
	-moz-user-focus: none;
}
/*

input:focus, textarea:focus, .styled:active {
	outline: none;
	-webkit-box-shadow: 0 0 6px 0 rgba(236,0,140,0.5) !important;
    -moz-box-shadow: 0 0 6px 0 rgba(236,0,140,0.5) !important;
    box-shadow: 0 0 6px 0 rgba(236,0,140,0.5) !important;
	border: 1px solid rgba(236,0,140,0.5) !important;
}

select:focus {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	outline: none; 
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.ie7 div.styled {border:none; }
.ie7 div.styled select { 
    width:100%; 
    background-color:white; 
    border: 1px solid #e2e2e2;
    padding: 14px 15px 13px;
}
*/

ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { margin-bottom: 12px; }

.relative { position: relative; }



/* =WordPress Core - Do not remove these classes
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}


/* =Shortcodes
-------------------------------------------------------------- */

.cols_2_left, .cols_2_right, .cols_3_left, .cols_3_middle, .cols_3_right {
	margin: 0 0 1.5em;
}

.cols_2_left {
	float: left;
	width: 47%;
}

.cols_2_right {
	float: right;
	width: 47%;
}

.cols_3_left {
	float: left;
	width: 30%;
}

.cols_3_middle {
	float: left;
	width: 30%;
	margin-left: 5%;
}

.cols_3_right {
	float: right;
	width: 30%;
}



/*------------------------------------------------------ LAYOUT */

nav ul { margin: 0px; padding: 0px; }


/* --------------------------------------------------- Homepage */
#hp-intro {
	background: url(../../images/bg-intro.jpg) no-repeat center center;
	background-size: cover;
}

/* --------------------------------------------------- Content */

#breadcrumbs {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #f3f3f3;
	margin: 0px; padding: 0px;
}
	#breadcrumbs li {
		display: inline-block;
		line-height: 4em;
		margin-bottom: 0px;
		color: #111111;
		font-size: 11px;
		text-transform: uppercase;
	}
	#breadcrumbs li a { text-decoration: underline; }
#content { padding: 40px 0 80px; position: relative; }

/* about */

h2.text-block {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
}
h2.text-block span {
	display: inline-block;
	padding: 15px;
}
h2.text-block-center {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	text-align: center;
}

.feature-text { text-align: center; }
.feature-text.brace { width: 760px; }
.feature-text p { font-size: 16px; line-height: 1.7em; margin-bottom: 20px; }
.feature-text .btn { margin-top: 50px; font-size: 20px; padding: 30px 50px; }

#slide-timeline { display: none; }

.box {
	color: #111;
	font-size: 16px;
	font-weight: 600;
	padding: 25px 22px;
	display: inline-block;
	border: 1px solid #f3f3f3;
	line-height: 1em;
	text-transform: uppercase;
	margin-top: 50px;
	font-size: 20px;
	padding: 30px 50px;
}

#timeline {
	width: 100%;
	overflow-x: hidden;
	padding-top: 356px;
	background: url(../../images/pixel-111.png) repeat-x center center;
	position: relative;
}
#timeline .prev, #timeline .next {
	position: absolute;
	top: 48%;
	z-index: 100;
}
#timeline .prev { left: 0px; }
#timeline .next { right: 0px; }

#timeline-overflow { width: 20000em; height: 10px; padding: 0 0 0 110px; }

#timeline article {
	height: 238px;
	width: 220px;
	float: left;
	text-align: center;
	font-size: 13px;
	padding-top: 60px;
	cursor: pointer;
	background: url(../../images/pixel-111.png)repeat-y center center;
	position: relative;
}
	#timeline article p { margin-bottom: 0px; }

#timeline article .padding {
	background-color: #fff;
	display: block;
	padding-bottom: 20px;
}
#timeline article.odd {
	position: relative;
	top: -356px;
	padding-top: 0px;
	padding-bottom: 60px;
	margin-top: 60px;
}

.timeline-dot {
	position: absolute;
	top: -3px;
	width: 9px;
	height: 9px;
	background-color: #d7d7d7;
	display: block;
	left: 106px;
	z-index: 1;
	border-radius: 50%;
}
#timeline article.odd .timeline-dot { top:auto; bottom: -3px; }
#timeline article.active .timeline-dot { background-color: #0F1E51; }

#timeline span.text-block { background-color: #d7d7d7; padding: 5px 15px; }
#timeline .active span.text-block { background-color: #0F1E51; }
#timeline h3.title {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
}

#timeline .title-timeline { margin-bottom: 20px; }
#timeline .title-timeline span { margin-left: 0px; display: inline-block; }

/* date slider styling */
#timeline-slider { clear: both; }
#timeline-slider h4 { display: block; }
#timeline-slider h4.title { width: 200px; }
#timeline-slider h4.date { width: 55px; text-align: center; }
	#timeline-slider h4.date.left { text-align: left; }
	#timeline-slider h4.date.right { text-align: right; }

.ui-slider {
	position: relative;
	text-align: left;
	background: url(../../images/pixel-111.png) repeat-x center center;
	width: 650px;
	height: 19px;
	display: block;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	width: 11px;
	height: 11px;
	margin: 4px;
	display: block;
	background: url(../../images/pixel-pink.png) repeat-y center center;
}

/* Profile Flip Hexagons */

#team-profiles.brace {
	width: 80%;
	padding: 0 10%;
}

#profile-perspective {
	width: 100%;
	margin: 0 auto;
	margin-top: 100px;
}

#profiles {
}

.flip-container {
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	position: relative;
	float: left;
	margin: -55px 5px 5px 5px;
}

	.flip-container.indent {
		margin-left: 110px;
	}

	.flip-container:hover .profile,
	.flip-container.hover .profile {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-o-transform: rotate(360deg);
		transform: rotateY(360deg);
		/*-ms-transform: rotate(360deg);*/
		/*-ms-filter: "FlipH";*/
	}

	.flip-container, .profile {
		width: 200px;
		height: 230px;
	}

	.flipper {
		/*-o-transform-style: preserve-3d;
		-o-transition: 0.6s;
		-ms-transform-style: preserve-3d;
		-ms-transition: 0.6s;
		-webkit-transition: 0.6s;
		-webkit-transform-style: preserve-3d;
		-moz-transition: 0.6s;
		-moz-transform-style: preserve-3d;
		transition: 0.6s;
		transform-style: preserve-3d;
		position: relative;*/
	}

	.profile {
		position: absolute;
		top: 0;
		left: 0;

		-webkit-transition: all 0.5s linear;
        /*-ms-transition: all 0.5s linear;*/
        -moz-transition: all 0.5s linear;
        transition: all 0.5s linear;

        -webkit-backface-visibility: hidden;
        /*-ms-backface-visibility: hidden;*/
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
	}

	.profile.front {
	}

	.profile.back {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-o-transform: rotate(180deg);
		/*-ms-transform: rotate(180deg);*/
		transform: rotateY(180deg);
	}

	.hexagon {
		position: absolute;
		width: 200px;
		height: 400px;
		top: -85px;
		overflow: hidden;
		visibility: hidden;
		-webkit-transform: rotate(120deg);
		-moz-transform: rotate(120deg);
		-o-transform: rotate(120deg);
		-ms-transform: rotate(120deg);
		transform: rotate(120deg);
		cursor: pointer;
	}

	.hexagon .hexagon-sub {
		overflow: hidden;
		width: 100%;
		height: 100%;
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		transform: rotate(-60deg);
	}

	.hexagon .hexagon-sub .hexagon-sub-sub {
		overflow: hidden;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		/*
		background-position: 50% 70%;
		background-color: #fff;
		-webkit-background-size: 125%;
		-moz-background-size: 125%;
		background-size: 125%;
		*/

		background-position: 50% 50%;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		background-size: 100%;

		visibility: visible;

		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		transform: rotate(-60deg);

		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.profile.back .hexagon .hexagon-sub .hexagon-sub-sub {
		background-color: #3cd0cb;
		text-align: center;
		display: table;
	}
	.profile.back .hexagon .hexagon-sub .hexagon-sub-sub p {
		color: #fff;
		text-transform: uppercase;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: 14px;
		margin: 0px;
	}
	.profile.back .hexagon .hexagon-sub .hexagon-sub-sub strong {
		width: 100%;
		display: block;
		font-size: 20px;
	}


/* timeline drop menu */

#timeline-date-container {
	padding-bottom: 10px;
	overflow: hidden;
}

#timeline-date {
	border-bottom: 1px solid #f3f3f3;
	position: relative;
}
#timeline-date .drop-select ul {
	margin-top: 78px; text-align: center;
}

#timeline-dates-container {
	float: left;
	width: 50%;
}

#timeline-dates { margin: 0px; padding: 0px; width: 2000px; }
#timeline-dates li {
	float: left;
	text-align: center;
	margin: 0px; padding: 0px;
}
#timeline-dates li a {
	display: block;
	padding: 30px 0;
	width: 50px;
	font-size: 16px;
	font-weight: 600;
	color: #8a8a8a;
	text-align: center;
	position: relative;
	cursor: default;
}
#timeline-dates li.active a {
	cursor: pointer;
	color: #169785;
}
#timeline-dates li span.dot {
	position: absolute;
	bottom: -4px;
	left: 21px;
	background-color: #169785;
	display: inline-block;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	-webkit-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}
#timeline-dates li.active:hover a { color: #169785; }
	#timeline-dates li.active:hover span.dot { background-color: #169785; }

#timeline-date .prev, #timeline-date .next {
	position: absolute;
	top: 25px;
	background-color: #cccccc;
	text-indent: -9999em;
	opacity: 1;
	z-index: 10;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
#timeline-date .prev { left: 0px; }
#timeline-date .next { right: 0px; }
	#timeline-date .prev:hover, #timeline-date .next:hover { opacity: .6; }


#timeline-drop {
	float: left;
    padding:0;
    margin:0;
	padding-left: 50px;
	overflow:hidden; /* this hides the select's drop button */
    width:12em;
	border: 1px solid #fff;
	background: url(../../images/arrow-drop.png) no-repeat 90% 57% #fff;
	z-index: 5;
}

	#timeline-drop:active {
	}

	#timeline-drop:hover {
	}

	#timeline-drop select {
		cursor: pointer;
		padding: 30px 5px 20px 18px;
		margin: 0 0 0 0;
		text-transform: uppercase;
	}

#timeline-drop .drop-selected {
	color: #e02783;
	font-weight: 600;
	font-size: 16px;
	border: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}
	#timeline-drop li { font-size: 12px; }

	#timeline-date.events #timeline-drop .drop-selected { color: #169785; }
	#timeline-date.events #timeline-dates li:hover a { color: #169785; }
	#timeline-date.events #timeline-dates li:hover span.dot { background-color: #169785; }

/* option bar */
#category-options { padding: 20px 0 30px; }
	#category-options .drop-select ul { text-align: center; font-size: 12px; }

#category-options .rss {
	margin: 10px 0 0 15px;
	opacity: 1;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
	#category-options .rss:hover { opacity: .6; }


.tags {
	width: 50%;
	text-transform: uppercase;
	font-size: 13px;
	color: #444444;
	cursor: pointer;
	padding-top: 10px;
}
	.tags .tag{
		background: url(../../images/icon-tag-cross.png) no-repeat 85% center #acacac;
		color: #fff;
		font-size: 11px;
		margin-top: -5px;
		margin-right: 3px;
		padding: 5px 20px 5px 8px;
		-webkit-transition: background-color .3s ease-in-out;
		-moz-transition: background-color .3s ease-in-out;
		-o-transition: background-color .3s ease-in-out;
		transition: background-color .3s ease-in-out;
	}
	.tags .tag:hover { background-color: #444444; }

.masonry {
	margin: 0 auto;
	display: none;
}

/* News categories */
.news.list article {
	margin-bottom: 20px;
	text-align: center;
	width: 300px;
}

	.news article img { display: block; position: relative; top: 1px; width: 100%; }

	.news article .text {
		font-size: 14px;
		border: 1px solid #f3f3f3;
		color: #575757;
		padding: 45px 25px 40px;
	}

	.news article p {
		font-size: 16px;
		line-height: 1.7em;
	}

	.news article .title {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 600;
		line-height: 20px;
		color: #9f9d9d;
		margin-bottom: 20px;
	}
	#content .news article .title a {
		font-size: 16px;
		color: #444;
	}
	.news article .credits-wrap {
		border: 1px solid #f3f3f3;
		border-top: 0px;
		padding: 10px;
	}


	.news article .btn.readmore { margin-bottom: 0px; }
	.news article .credits {
		color: #9f9d9d;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 0px;
		font-size: 11px;
		line-height: 16px;
	}

	.credits .text-grey { color: #6e6e6e }
	#content article.news .credits a { color: #e02783; }
	#content article.events .credits a { color: #169785; }
	#content article.media .credits a { color: #18a1b1; }

	/*
	.cat-dot {
		border-radius: 50%;
		color: #fff;
		background-color: #e02783;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		width: 46px;
		line-height: 2.3em;
		display: block;
		position: absolute;
		top: 185px;
		left: 127px;
		margin: 0 auto;
	}
	*/
    .cat-dot {
        color: #fff;
        background-color: #e02783;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        width: 100px;
        line-height: 3.2em;
        display: block;
        position: absolute;
        top: 185px;
        left: 100px;
        margin: 0 auto;
        text-transform: uppercase;
    }
	.news .cat-dot { background-color: #e02783; }
	.events .cat-dot { background-color: #169785; }
	.media .cat-dot { background-color: #18a1b1; }

	#content .news article a:hover { color: #e02783; }
	#content .news .btn.readmore { background-color: #e02783; }
	#content .news .btn.readmore:hover { color: #fff; background-color: #bc0d64; }

	#content article.events a:hover { color: #169785; }
	#content .events .btn.readmore { background-color: #169785; }
	#content .events .btn.readmore:hover { color: #fff; background-color: #0f908a; }


	/* Media */
	.media .cat-dot { background-color: #18a1b1; }
	#content article.media a:hover { color: #18a1b1; }
	#content .media .btn.readmore { background-color: #18a1b1; }
	#content .media .btn.readmore:hover { color: #fff; background-color: #28ccff; }



/* Event/News Single */
#content.single article {
	font-size: 16px;
	line-height: 1.7em;
	padding-left: 70px;
	width: 630px;
	float: left;
}
#content.single article p,
#content.single article li {
	line-height: 1.7em;
}

#content.single article li {
	list-style: disc;
	font-family: 'proxima-nova', 'Montserrat', "HelveticaNeue", Helvetica, Arial, sans-serif;
}

#content.single article li li {
	line-height: 1.0em;
}

#content.single { padding-top: 90px; }
#content.single.project { padding-top: 40px; }

#content.single.project article {
	width: 710px;
}

	#content.single h2 {
		font-size: 20px;
		line-height: 1.1em;
		/* height: 85px; Not sure why this was set - may have broken something else? */
		margin-bottom: 20px;
	}
	#content.single h2 small {
		display: block;
		width: 100%;
		font-size: 14px;
		color: #9f9d9d;
		font-family: 'proxima-nova';
		margin-top: 10px;
	}
	#content.single article a {
		color: #e02783;
	}
		/* Updated to supersede #adadad grey links  */
		#content.single article.events a {
			color: #169785;
		}
		#content.single article.media a {
			color: #18a1b1;
		}

		#content.single article.events a:hover { color: #169785; }
		#content.single article.news a:hover { color: #e02783; }
		#content.single article.media a:hover { color: #28ccff; }

	.sidebar { border-top: 5px solid #e02783; }
	.events .sidebar { border-top: 5px solid #169785; }
	.media .sidebar { border-top: 5px solid #18a1b1; }

	.single .cat-dot {
        position: relative;
        top: auto;
        left: auto;
        margin: 0 0 20px 0;
	}

	.article-text { margin-bottom: 50px; }

	.featured { width: 100%; height: auto; display: block; margin-bottom: 20px; }
	.article-images {
		width: 100%;
		overflow: hidden;
		position: relative;
		margin-bottom: 30px;
	}
	.article-images .prev, .article-images .next {
		position: absolute;
		top: 45%;
		z-index: 10;
	}
	.article-images .prev { left: -1px; }
	.article-images .next { right: -1px; }
	.article-images ul {
		margin: 0px;
		padding: 0px;
		width: 2000em;
	}
	.article-images li {
		margin: 0px;
		padding: 0px;
		margin-right: 20px;
		width: 311px;
		display: block;
		float: left;
	}

	.article-images li img { width: 100%; height: auto; }


/* Single sidebar */

	#content.wsidebar .sidebar {
		float: right;
		width: 180px;
		font-size: 13px;
		color: #a7a7a7;
		line-height: 1.6em;
		padding: 20px 0;
		font-family: 'Montserrat';
	}
	#content.wsidebar .sidebar ul { margin: 0px; padding: 0px; }
	#content.wsidebar .sidebar ul li { margin-bottom: 0px; }
	#content.wsidebar .sidebar ul li.divider {
		border-top: 1px solid #f3f3f3;
		margin-top: 20px;
		padding-top: 20px;
	}
	#content.wsidebar .sidebar .title {
		margin-bottom: 0px;
		width: 100%;
		display: block;
		color: #6e6e6e;
		font-size: 13px;
		line-height: 1.5em;
	}
	#content.wsidebar .sidebar a { display: block; }
	#content.wsidebar .sidebar li.cats a { display: inline; }

	#content.single article a:hover { color: #e02783; }

	.sidebar .internal-nav { font-size: 12px; }
	#content.wsidebar .sidebar .internal-nav .title { margin-bottom: 10px; display: block; }
	#content.wsidebar .sidebar .internal-nav a { margin-bottom: 5px; }


#projects-container {
	position: relative;
    background: url(../../images/bg-projects.png) no-repeat center top;
    background-size: cover;
}
	#projects-container .loading-mask {
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		background: #fff;
		opacity: 0.8;
		z-index: 50;
	}
	#projects-container .loading-animation {
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 77px;
		height: 77px;
		margin: 0 auto;
		z-index: 60;
		background: url(../../images/loadericon-77x77.gif) top left no-repeat transparent;
	}

/* Project List */
#content.projectlist {
	padding-top: 50px;
	text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

	#content.projectlist ul {
		display: inline-block;
		text-transform: uppercase;
		font-weight: 600;
		text-align: right;
		margin: 0 5% 80px 0;
        padding: 0 25px 0 0;
		background: url(../../images/pixel-111.png) repeat-y right top;
		vertical-align: top;
        width: 30%;
	}
	#content.projectlist ul li {
		position: relative;
		right: -4px;
		top: 15px;
	}
    #content.projectlist ul li:after {
        display: block;
        content: '';
        height: 0;
        clear: both;
        overflow: hidden;
    }
	#content.projectlist li.title {
		margin-bottom: 15px;
		position: relative;
		top: -5px;
	}
    #content.projectlist .dot {
        width: 9px;
        height: 9px;
        display: block;
        border-radius: 50%;
        position: absolute;
        right: -25px;
        top: 11px;
    }
    #content.projectlist li.title .dot {
        top: 5px;
    }
	#content.projectlist ul a {
        float: right;
		color: #ffffff;
		font-size: 11px;
		padding: 5px 10px;
		position: relative;
		white-space: nowrap;
	}
	#content.projectlist .title { color: #444444; font-size: 14px; }

	.projects-art-in-place a { background-color: #169785; }
	/*
	.projects-studio-practice-and-residencies a { background-color: #0F1E51; }
	.projects-aboriginal-creative-development a { background-color: #18a1b1; }
	*/
	.projects-studio-practice-and-residencies a { background-color: #18a1b1; }
	.projects-aboriginal-creative-development a { background-color: #0F1E51; }
	.projects-community-development-programming a { background-color: #572f66; }

@media only screen and (max-width: 1024px) {

    #content.projectlist ul {
        margin-right: 0;
        width: 45%;
    }
}
@media only screen and (max-width: 768px) {

    #content.projectlist ul {
        margin-right: 0;
        width: 80%;
    }
}

#content.projectlist.archive {
	display: block;
	padding-top: 50px;
}

	#content.projectlist.archive li.title {
		margin-bottom: 15px;
	}

/* arrow */
#content.projectlist ul a:after {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #169785;
	border-width: 5px;
    top: 16px;
	margin-top: -5px;
	-webkit-transition: border-left-color .3s ease-in-out;
	-moz-transition: border-left-color .3s ease-in-out;
	-o-transition: border-left-color .3s ease-in-out;
	transition: border-left-color .3s ease-in-out;
}

ul.project-tags a:after {
	border-left-color: #572f66;
}

#content.projectlist ul.projects-art-in-place a:after{ border-left-color: #169785; }
/*
#content.projectlist ul.projects-studio-practice-and-residencies a:after { border-left-color: #0F1E51; }
#content.projectlist ul.projects-aboriginal-creative-development a:after { border-left-color: #18a1b1; }
*/
#content.projectlist ul.projects-studio-practice-and-residencies a:after { border-left-color: #18a1b1; }
#content.projectlist ul.projects-aboriginal-creative-development a:after { border-left-color: #0F1E51; }
#content.projectlist ul.projects-community-development-programming a:after { border-left-color: #572f66; }

/* arrow hover */
#content.projectlist ul.projects-art-in-place li:hover a { background-color: #108474; }
#content.projectlist ul.projects-art-in-place li:hover a:after { border-left-color: #108474; }
/*
#content.projectlist ul.projects-studio-practice-and-residencies li:hover a { background-color: #08143b; }
#content.projectlist ul.projects-studio-practice-and-residencies li:hover a:after { border-left-color: #08143b; }

#content.projectlist ul.projects-aboriginal-creative-development li:hover a { background-color: #0c8d9c; }
#content.projectlist ul.projects-aboriginal-creative-development li:hover a:after { border-left-color: #0c8d9c; }
*/
#content.projectlist ul.projects-studio-practice-and-residencies li:hover a { background-color: #0c8d9c; }
#content.projectlist ul.projects-studio-practice-and-residencies li:hover a:after { border-left-color: #0c8d9c; }

#content.projectlist ul.projects-aboriginal-creative-development li:hover a { background-color: #08143b; }
#content.projectlist ul.projects-aboriginal-creative-development li:hover a:after { border-left-color: #08143b; }

#content.projectlist ul.projects-community-development-programming li:hover a { background-color: #431f50; }
#content.projectlist ul.projects-community-development-programming li:hover a:after { border-left-color: #431f50; }

/* dot */

	#content.projectlist .projects-art-in-place .dot { background-color: #169785; }
	/*
	#content.projectlist .projects-studio-practice-and-residencies .dot { background-color: #0F1E51; }
	#content.projectlist .projects-aboriginal-creative-development .dot { background-color: #18a1b1; }
	*/
	#content.projectlist .projects-studio-practice-and-residencies .dot { background-color: #18a1b1; }
	#content.projectlist .projects-aboriginal-creative-development .dot { background-color: #0F1E51; }
	#content.projectlist .projects-community-development-programming .dot { background-color: #572f66; }
	#content.projectlist .title .dot { background-color: #444; }



ul#project-labels {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
	ul#project-labels li {
		position: absolute;
		transform-origin: 100% 50%;
		-ms-transform-origin: 100% 50%;
		-webkit-transform-origin: 100% 50%;
		font-weight: 600;
	}
	ul#project-labels .dot	{
		width: 9px;
		height: 9px;
		display: block;
		border-radius: 50%;
		position: absolute;
		right: -25px;
		top: 5px;
	}
	ul#project-labels li a {
		color: #ffffff;
		font-size: 14px;
		padding: 5px 10px;
		position: relative;
		background-color: #919191;
		white-space: nowrap;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
	}
		ul#project-labels li.research-advocacy a { background-color: #169785; }
		/*
		ul#project-labels li.studio-practice-and-residencies a { background-color: #0F1E51; }
		ul#project-labels li.aboriginal-creative-development a { background-color: #18a1b1; }
		*/
		ul#project-labels li.studio-practice-and-residencies a { background-color: #18a1b1; }
		ul#project-labels li.aboriginal-creative-development a { background-color: #0F1E51; }

		ul#project-labels li.community-development-programming a { background-color: #572f66; }
		ul#project-labels li.no-colour a { background-color: #919191 !important; }

		/* arrow hover */
		ul#project-labels li.research-advocacy:hover a { background-color: #108474; }
		ul#project-labels li.research-advocacy:hover a:after { border-left-color: #108474; }

		/*
		ul#project-labels li.studio-practice-and-residencies:hover a { background-color: #08143b; }
		ul#project-labels li.studio-practice-and-residencies:hover a:after { border-left-color: #08143b; }
		ul#project-labels li.aboriginal-creative-development:hover a { background-color: #0c8d9c; }
		ul#project-labels li.aboriginal-creative-development:hover a:after { border-left-color: #0c8d9c; }
		*/

		ul#project-labels li.studio-practice-and-residencies:hover a { background-color: #0c8d9c; }
		ul#project-labels li.studio-practice-and-residencies:hover a:after { border-left-color: #0c8d9c; }

		ul#project-labels li.aboriginal-creative-development:hover a { background-color: #08143b; }
		ul#project-labels li.aboriginal-creative-development:hover a:after { border-left-color: #08143b; }

		ul#project-labels li.community-development-programming:hover a { background-color: #431f50; }
		ul#project-labels li.community-development-programming:hover a:after { border-left-color: #431f50; }

	ul#project-labels li a:after {
		left: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-left-color: #919191;
		border-width: 5px;
		top: 50%;
		margin-top: -5px;
		-webkit-transition: border-left-color .3s ease-in-out;
		-moz-transition: border-left-color .3s ease-in-out;
		-o-transition: border-left-color .3s ease-in-out;
		transition: border-left-color .3s ease-in-out;
	}
		ul#project-labels li.research-advocacy a:after { border-left-color: #169785; }
		/*
		ul#project-labels li.studio-practice-and-residencies a:after { border-left-color: #0F1E51; }
		ul#project-labels li.aboriginal-creative-development a:after { border-left-color: #18a1b1; }
		*/
		ul#project-labels li.studio-practice-and-residencies a:after { border-left-color: #18a1b1; }
		ul#project-labels li.aboriginal-creative-development a:after { border-left-color: #0F1E51; }
		ul#project-labels li.community-development-programming a:after { border-left-color: #572f66; }
		ul#project-labels li.no-colour a:after { border-left-color: #919191 !important; }

	ul#project-labels li .information {
		display: none;
	}

	#selected-project {
		display: none;
		position: absolute;
		z-index: 100;
	}

		#selected-project .information {
			width: 300px;
		}

		#selected-project .information h2 {
			position: relative;
			display: none;
			padding: 17px 15px;
			margin: 0 0 5px;
			color: #fff;
			background: #df2683;
			font-size: 18px;
			display: inline-block;
			line-height: 26px;
		}
			#selected-project.research-advocacy .information h2 { background-color: #169785; }
			/*
			#selected-project.studio-practice-and-residencies .information h2 { background-color: #0F1E51; }
			#selected-project.aboriginal-creative-development .information h2 { background-color: #18a1b1; }
			*/
			#selected-project.studio-practice-and-residencies .information h2 { background-color: #18a1b1; }
			#selected-project.aboriginal-creative-development .information h2 { background-color: #0F1E51; }
			#selected-project.community-development-programming .information h2 { background-color: #572f66; }

		#selected-project .information h2 a.close {
			display: block;
			text-indent: -9999px;
			border-radius: 8px;
			height: 16px;
			width: 16px;
			background: #df2683;
			position: absolute;
			top: -18px;
			right: -18px;
			background-image: url(../../images/cross.png);
			background-position: 4px 4px;
			background-repeat: no-repeat;
		}
			#selected-project.research-advocacy .information h2 a.close { background-color: #169785; }
			/*
			#selected-project.studio-practice-and-residencies .information h2 a.close { background-color: #0F1E51; }
			#selected-project.aboriginal-creative-development .information h2 a.close { background-color: #18a1b1; }
			*/
			#selected-project.studio-practice-and-residencies .information h2 a.close { background-color: #18a1b1; }
			#selected-project.aboriginal-creative-development .information h2 a.close { background-color: #0F1E51; }
			#selected-project.community-development-programming .information h2 a.close { background-color: #572f66; }

		#selected-project .information p {
			display: none;
			color: #000;
			margin: 0 0 10px 10px;
			padding: 15px 20px;
			background: #fff;
			opacity: 0.8;
			font-size: 16px;
			line-height: 1.7em;
		}

		#selected-project .information a.view-more {
			display: none;
			background: url(../../images/view-more-arrow.png) no-repeat #df2683;
			background-position: right 10px top 11px;
			margin: 10px 0 0 25px;
			color: #ffffff;
			font-size: 13px;
			padding: 7px 30px 7px 10px;
			font-weight: 600;
			position: relative;
			white-space: nowrap;
			text-transform: uppercase;
		}
			#selected-project.research-advocacy .information a.view-more { background-color: #169785; }
			/*
			#selected-project.studio-practice-and-residencies .information a.view-more { background-color: #0F1E51; }
			#selected-project.aboriginal-creative-development .information a.view-more { background-color: #18a1b1; }
			*/
			#selected-project.studio-practice-and-residencies .information a.view-more { background-color: #18a1b1; }
			#selected-project.aboriginal-creative-development .information a.view-more { background-color: #0F1E51; }
			#selected-project.community-development-programming .information a.view-more { background-color: #572f66; }

#content.projectlist.archive,
#content.projectlist.featured {
	text-align: center;
	min-height: 240px;
	display: block;
}
#content.projectlist.featured {
	display: none;
}
#content.projectlist.archive ul,
#content.projectlist.featured ul { display: inline-block; }

#content.projectlist.archive ul a { background-color: #aaaaaa; color: #fff; }
#content.projectlist.featured ul a { background-color: #df2683; color: #fff; }
#content.projectlist.archive ul a:after { border-left-color: #aaaaaa; }
#content.projectlist.featured ul a:after { border-left-color: #df2683; }
#content.projectlist.archive .title .dot { background-color: #000; }
#content.projectlist.featured .title .dot { background-color: #000; }
#content.projectlist.archive .dot { background-color: #aaaaaa; }
#content.projectlist.featured .dot { background-color: #df2683; }

#content.projectlist.archive ul li:hover a,
#content.projectlist.featured ul li:hover a { background-color: #f3f3f3; color: #333; }
#content.projectlist.archive ul li:hover a:after,
#content.projectlist.featured ul li:hover a:after { border-left-color: #f3f3f3; }


/* project network */
#content.projectnetwork {
	background: url(../../images/bg-projectnetwork.png) no-repeat center 30px;
	min-height: 550px;
}

.project-info {
	display: none;
	width: 930px;
	height: 446px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #fff;
	border-right: 5px solid #0F1E51;
	z-index: 99;
	padding-bottom: 230px;
}
.project-info.active { display: block; }

.project-info .close {
	position: absolute;
	top: -1px;
	right: -36px;
	display: block;
	cursor: pointer;
}

.project-text { padding: 50px; padding-bottom: 30px; overflow-y: scroll; height: 366px; }
.project-text h2 { line-height: 1em; }
.project-text p { font-size: 16px; line-height: 1.7em; }
.project-text .left { width: 62%; }
.project-sidebar {
	width: 26%;
	display: block;
	margin-top: 45px;
	border-top: 5px solid #e02783;
	padding-top: 25px;
}
	.project-sidebar p {
		font-size: 13px;
		color: #a7a7a7;
		line-height: 1.6em;
		margin-bottom: 18px;
	}
	.project-sidebar p .title {
		text-transform: uppercase;
		color: #6e6e6e;
		font-family: 'Montserrat';
		width: 100%;
		display: block;
		font-weight: 600;
		line-height: 1.6em;
	}
	.project-sidebar .btn.readmore {
		display: block;
		background-color: #e02783;
		font-size: 13px;
		padding: 11px 40px 11px 15px;
		margin-top: 10px;
		margin-bottom: 0px;
	}
		.project-sidebar .btn.readmore:hover { background-color: #08143b; }


/* colours for project types */


/* pink */

.project-info.aboriginal-creative-development {
	border-color: #e02783;
}

.aboriginal-creative-development .project-text h2 { color: #e02783; }

.aboriginal-creative-development .project-sidebar {
	border-color: #e02783;
}

.aboriginal-creative-development p.title {
	color: #e02783;
}

.aboriginal-creative-development .project-sidebar .btn.readmore {
	background-color: #e02783;
}

	.aboriginal-creative-development .project-sidebar .btn.readmore:hover {
		background-color: #08143b;
	}

/* green */

.project-info.research-advocacy {
	border-color: #169785;
}

.research-advocacy .project-text h2 { color: #169785; }

.research-advocacy .project-sidebar {
	border-color: #169785;
}

.research-advocacy p.title {
	color: #169785;
}

.research-advocacy .project-sidebar .btn.readmore {
	background-color: #169785;
}

	.research-advocacy .project-sidebar .btn.readmore:hover {
		background-color: #0d938d;
	}

/* blue */

.project-info.studio-practice-and-residencies {
	border-color: #18a1b1;
}

.studio-practice-and-residencies .project-text h2 { color: #18a1b1; }

.studio-practice-and-residencies .project-sidebar {
	border-color: #18a1b1;
}

.studio-practice-and-residencies p.title {
	color: #18a1b1;
}

.studio-practice-and-residencies .project-sidebar .btn.readmore {
	background-color: #18a1b1;
}

	.studio-practice-and-residencies .project-sidebar .btn.readmore:hover {
		background-color: #00a3d6;
	}


/* purple */

.project-info.community-development-programming {
	border-color: #572f66;
}

.community-development-programming .project-text h2 { color: #572f66; }

.community-development-programming .project-sidebar {
	border-color: #572f66;
}

.community-development-programming p.title {
	color: #572f66;
}

.community-development-programming .project-sidebar .btn.readmore {
	background-color: #572f66;
}

	.community-development-programming .project-sidebar .btn.readmore:hover {
		background-color: #851e82;
	}

#project-carousel-wrap {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	height: 220px;
}
	#project-carousel-wrap .prev, #project-carousel-wrap .next {
		position: absolute;
		top: 110px;
		z-index: 110;
	}
	#project-carousel-wrap .prev { left: 0px; }
	#project-carousel-wrap .next { right: 0px; }

	#project-carousel {
		position: relative;
		width: 100%;
	}

.project-images { position: relative; }
.project-images .prev, .project-images .next { position: absolute; top: 90px; /* z-index: 99999 Showing over the top of the zoom, so changing! */ z-index:800; }
.project-images .prev { left: 0px; }
.project-images .next { right: 0px; }

.project-images ul {
	height: 220px;
	overflow-y: hidden;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.project-images ul li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/* Project single */
#content.project.single h2.title-feature { font-size: 36px; height: 100px; }
#content.project.single .sidebar { top: 0px; }
#content.project.single article { margin: 0px; padding: 0px; }
#content.single h4 { margin-bottom: 0px; }

#content.single-project article.news a {
	color: #e02783;
}



/* Membership page */

.membership .feature-text { padding-bottom: 30px; }
.latest-list {
	width: auto;
	border-top: 1px solid #f3f3f3;
	/*border-bottom: 1px solid #f3f3f3;*/
	padding-top: 60px;
}

	.latest-list.members-section .left,
	.latest-list.members-section .right {
		width: 45%;
	}

	.page-template-template-publications-php .latest-list { border-top: 0px; padding-top: 20px; }
.latest-list.brace { padding-bottom: 45px; margin-bottom: 45px; }

.latest-list .title {
	font-size: 20px;
	text-align: center;
	margin-bottom: 25px;
}
	.latest-list .divider {
		margin-top: 50px;
		clear: both;
	}

.latest-list ul {
	border-top: 1px solid #f3f3f3;
	padding: 0px;
	margin: 0px;
}
.latest-list ul li {
	border-bottom: 1px solid #f3f3f3;
	font-size: 14px;
	margin: 0px;
}
.latest-list ul li a,
.latest-list ul li h4.nolink {
	display: block;
	padding: 20px 25px 0px 65px;
	color: #111111;
	margin-bottom: 0;
}

.latest-list.members-section ul li a {
	padding-bottom: 20px;
}

.latest-list ul li p { margin: 0px; padding: 0px; line-height: 1.7em; }
.latest-list ul .title {
	font-size: 16px;
	font-family: 'Montserrat';
	font-weight: 600;
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
}

.latest-list ul li p.intro {
	display: block;
	padding: 0px 25px 0 65px;
	color: #111111;
}

.latest-list .publications li { background: url(../../images/icon-publications.png) no-repeat 5px 25px; text-align: left; }
.latest-list .discounts li { background: url(../../images/icon-discounts.png) no-repeat 5px 25px; }

.latest-list li .title {
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

.latest-list ul li .image-info {
	padding: 20px 0px 20px 65px;
	display: block;
	position: relative;
	width: auto;
}

	.latest-list.members-section ul li .image-info {
		padding-top: 20px;
	}

	li .image-info .images {
		max-width: 300px;
		width: auto;
		position: relative;
		float: left;
		margin-right: 40px;
	}

	li .image-info .images .main-image {
		display: block;
		margin: 0;
		margin-bottom: 20px;
	}

	li .image-info .images .main-image img {
		display: block;
		border: 3px solid #b7b7b7;
	}

	li .image-info .images .thumbs a {
		width: 33.3%;
		height: 85px;
		display: block;
		padding: 0;
		float: left;
		text-indent: -9999px;
		border: 3px solid #b7b7b7;
	}

	li .image-info .images .thumbs a {
		background-size: cover;
	}

	li .image-info .info {
		position: relative;
		width: auto;
	}

	li .image-info a.buy {
		width: 30px;
		margin: 0 10px 20px 0;
		background-position: 80% center;
		display: inline-block;
		padding-bottom: 14px !important;
	}

	li .image-info a.read {
		width: 100px;
		margin: 0 0 20px;
		background-position: 87% center;
		display: inline-block;
		padding-bottom: 14px !important;
	}

	.membersonly .btn.buy.pink,
	.membersonly .btn.buy.pink:hover,
	.membersonly .btn.read.grey,
	.membersonly .btn.read.grey:hover { background-color: #b7b7b7; }


#latest-news {
	clear: both;
	text-align: center;
	border-bottom: 1px solid #f3f3f3;
}
#latest-news .title {
	font-size: 20px;
	text-align: center;
	margin-bottom: 35px;
}
#latest-news article { float: left; margin: 0 10px; position: relative; }
#latest-news .btn.grey { display: inline-block; margin-top: 45px; margin-bottom: 45px; }


/* members only documents */

.latest-list .publications {
	margin: 0;
}

.latest-list .publications li.membersonly { background-image: url(../../images/icon-publications-membersonly.png); }

.latest-list .publications li .title span {
	color: #b7b7b7;
	font-size: 11px;
	margin-top: 2px;
	position: relative;
	display: block;
}

#social-stream { padding: 50px 0; }
	#social-stream .left, #social-stream .right { width: 35%; padding-left: 7%; min-height: 54px; }

	#social-stream ul { margin: 0px; padding: 0px; }
	#social-stream ul li { margin-bottom: 0px; }
	#social-stream p { font-size: 14px; margin-bottom: 0px; }
	#social-stream a { color: #a1a1a1; }
	#social-stream a:hover { color: #e02783; }

	#social-stream .facebook { background: url(../../images/icon-facebook.png) no-repeat 10px 10px; }
	#social-stream .twitter { background: url(../../images/icon-twitter.png) no-repeat 10px 10px; }




/* PUBLIC Pages */

/*
#public header {
	height: 89px;
	border-bottom: 1px solid #f3f3f3;
}
*/

/* main nav */

a.menu-link-close {
	display: none;
}

#public header a.menu-link {
	display: block;
	position: absolute;
	right: 0;
	top: 41px;
}

#public header a.menu-link:hover {
	opacity: 0.6;
}

#public a.menu-link-close {
	display: block;
	position: absolute;
	right: 0;
	top: 5px;
}

#public header a.menu-link-close:hover {
	opacity: 0.6;
}

/* landing page banner */


#public .banner {
	position: relative;
	height: 460px;
	width: 100%;
}

	#public .banner.internal {
		position: relative;
		height: 260px;
		width: 100%;
	}

	#public .banner.map,
	#public .banner.minimal {
		height: 60px;
	}

#public .banner .image {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-position: center;
	background-size: cover !important;
	background-repeat: no-repeat;
	overflow: hidden;
}

#public .banner .image div {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover !important;
	background-repeat: no-repeat;
	-ms-behavior: url(/backgroundsize.min.htc);
}

#public .banner .image img {
	width: 100%;
}

#public .banner .public-logo {
	position: relative;
	margin: 0 auto;
	height: 260px;
	z-index: 2;
}

	#public .banner.internal .public-logo {
	}

	#public .banner.internal .public-logo-sm {
		position: relative;
		margin: 0 auto;
		top: 35px;
		z-index: 2;
	}


/* nav */

#public .banner nav {
	position: absolute;
	bottom: 0;
	z-index: 3;
	width: 100%;
	height: 60px;
	display: block;
}

#public .banner nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	height: 60px;
}

#public .banner nav li {
	width: 25%;
	text-align: center;
	float: left;
/*
	border-left: 1px solid #454545;
	border-top: 1px solid #454545;
*/
}




#public .banner.col5 li {
	width: 20%;
}
@media only screen and (max-width: 768px) {

	#public .banner.col5,
	#public .banner.col5 nav,
	#public .banner.col5 ul {
		height: 120px;
	}
	#public .banner.col5 li {
		margin-bottom: 0;
	}
	#public .banner.col5 li:nth-child(5n),
	#public .banner.col5 li:nth-child(5n-1),
	#public .banner.col5 li:nth-child(5n-2) {
		width: 33.3333%;
	}
	#public .banner.col5 li:nth-child(5n-3),
	#public .banner.col5 li:nth-child(5n-4) {
		width: 50%;
	}
}



#public .banner nav li:first-child {
	border-left: 0;
}

#public .banner nav a {
	font-size: 16px;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	width: 100%;
	height: 60px;
	display: block;
	text-transform: uppercase;
	color: #fff;
	line-height: 60px;
	font-weight: bold;
	-webkit-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}

#public .banner nav a:hover {
	background-color: #000;
	background-color: rgba(0,0,0,0.4);
}
/*

#public .banner nav .active {
	border-top: 1px solid #55a696;
	border-top: 1px solid rgba(85,166,150,0.85);
}
*/

#public .banner nav .active a {
	background-color: #55a696;
	background-color: rgba(85,166,150,0.85);

}


/* public title and social media */


#public #social-title {
	width: 100%;
	height: 80px;
	display: block;
	border-bottom: 1px solid #f3f3f3;
}

#public #social-title .brace {
	max-width: 810px;
	margin: 0 auto;
}

#social-title h2 {
	font-size: 15px;
	float: left;
	font-weight: normal;
	color: #7a7a7a;
	line-height: 14px;
	padding: 34px 0 0;
}

#social-title h2 strong {
	color: #262626;
}

#social-title .social {
	float: right;
	padding: 27px 0 0;
}

#social-title .social p {
	font-weight: bold;
	color: #a9a9a9;
	font-size: 11px;
	line-height: 15px;
	float: left;
	margin-right: 10px;
}

#social-title .social .icn {
	float: left;
	margin: 0 0 0 17px;
}


/* public landing page text */

#public #content article {
	max-width: 760px;
	margin: 0 auto;
}

#public #content article h3 {
	font-size: 18px;
	line-height: 25px;
	color: #444444;
	font-weight: bold;
	text-transform: none;
	margin: 0 0 40px;
}

#public #content article ul {
	list-style: square;
	margin-bottom: 40px;
}

#public #content article p,
#public #content article li {
	font-size: 16px;
	line-height: 25px;
}

#public #content article a {
	color: #55A698;
}

#public #content article.news a.btn {
	background-color: #e02783;
}
#public #content article.news a {
	color: #e02783;
}
#public #content .whats-on article .text p.title {
	margin-bottom: 15px;
}

/* Add this toolbox */
.addthis_button_more:before {
	content: ' ';
	display: block;
	background-image: url('images/sprites.png');
	background-repeat: no-repeat;
	background-position: -320px -192px;
	width: 27px;
	height: 26px;
	float: left;
	margin-right: 10px;
}
.addthis_button_more:hover:before{
	background-position: -320px -256px;
}
.addthis_button_more span {
	display: none;
}


/* Call to actions */
#public #content article {
	max-width: none;
}
.call-to-actions {
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 40px;
}
.call-to-action {
	float: left;
	width: 33.3%;
	padding: 0 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.call-to-action:nth-child(3n+1){
	clear: left;
}
.call-to-action img {
	width: 100%;
	display: block;
	margin-bottom: 10px;
}
.call-to-action p {
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}



/* public artists */

#public .artist-filters,
#public .maker-filters{
	text-align: center;
	max-width: 760px;
	margin: 0 auto;
}

#public .content-intro {
    max-width: 760px;
    margin: 0 auto;
}

#public ul.filter {
	list-style: none;
	padding: 0;
	margin: 0 auto 22px;
	display: inline-block;
	text-align: center;
	width: 100%;
}

#public ul.filter li {
	display: inline-block;
	float: left;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 0 15px;
	color: #ccc;
}

#public ul.filter li:first-child {
	margin-left: 0;
	margin-right: 20px;
	color: #000;
}

#public ul.filter li a {
	font-size: 13px;
	display: block;
}

#public ul.filter li a:hover {
	color: #55a696;
}

#public .filter-fields {
	text-align: left;
	border-bottom: 1px solid #f3f3f3;
	width: 100%;
	display: block;
}

#public .filter-fields .field {
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	float: left;
}

#public .filter-fields label {
	position: relative;
	left: auto;
	top: auto;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: #444;
	margin-right: 16px;
	float: left;
	line-height: 40px;
}

#public .filter-fields input {
	position: relative;
	padding: 10px 15px;
	width: 151px;
	float: left;
	font-size: 13px;
	color: #2d2e30;
}

#public .filter-fields .styled {
	float: left;
	width: 181px;
}

#public .filter-fields .styled select {
	padding: 12px 15px 11px;
	margin: 0;
	color: #2d2e30;
	font-size: 13px;
}

#public .filter-fields .field.filter-name {
	width: 40%;
	margin-right: 16px;
}

#public .filter-fields .field.filter-country {
	width: 44%;
}

#public .filter-fields button {
	background-color: #55a696;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	padding: 12px 14px;
	float: right;
	margin: 0;
	-webkit-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}

#public .filter-fields button:hover {
	background-color: #6fbbac;
}

#public .filter-results {
	text-align: left;
	padding: 34px 0;
	border-bottom: 1px solid #f3f3f3;
	text-transform: uppercase;
	font-weight: bold;
}

#public .filter-results p {
	display: inline-block;
	font-size: 14px;
	margin-bottom: 0;
}

#public .filter-results > span {
	background-color: #55a696;
	color: #fff;
	font-size: 11px;
	padding: 5px 10px;
	margin-left: 8px;
	margin-bottom: 8px;
	display: inline-block;
}


/* public artist tiles */


#public #content .artists {
	max-width: 826px;
	margin: 0 auto;
}

#public #content .artists article {
	width: 27%;
	max-width: 210px;
	float: left;
	margin: 42px 3.95% 0;
	text-align: center;
	min-height: 354px;
}

#public #content .artists.not-public article {
	cursor: pointer;
}

#public #content .artists article .image {
	width: 100%;
	height: auto;
	max-height: 140px;
	min-height: 140px;
	display: block;
	margin-bottom: 20px;
}
#public #content .artists article .image.small {
	display: block;
}
#public #content .artists article .image.large {
	display: none;
}

#public #content .artists article p {
	font-size: 14px;
	line-height: 14px;
	margin: 0 0 10px;
	word-wrap: break-word;
}

#public #content .artists article span,
.modal article span
 {
	display: block;
	width: 36px;
	height: 4px;
	background-color: #55a696;
	margin: 0 auto 20px;
}
.modal article span { margin: 0 0 20px; }
.modal article span.standard-only { display: none; }
#public #content .artists article span.modal-only { display: none; }

#public #content .artists article p.name {
	text-transform: uppercase;
	font-weight: bold;
}

#public #content .artists article p.summary,
#public #content .artists article div.summary{
	display: none;
}

#public #content .artists article a {
	color: #55a696;
	font-weight: 100;
}



/* public whats on section */

#public #content .program {
	text-align: center;
	margin: 0 0 40px;
}

#public #content .program-btn {
	text-transform: uppercase;
	color: #fff;
	background-color: #4a4d4c;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	padding: 20px 20px;
}

#public #content .program-btn:hover {
	background-color: #656766;
}



#public #content .whats-on article {
	width: 365px;
	text-align: center;
	font-size: 14px;
	border: 1px solid #f3f3f3;
	margin-bottom: 20px;
}

#public #content .whats-on .image {
	width: 100%;
	height: 207px;
	display: block;
}

#public #content .whats-on .text {
	padding: 20px 30px;
}

#public #content .whats-on .text p {
	font-size: 14px;
	line-height: 20px;
	color: #575757;
}

#public #content .whats-on .text p.title {
	font-size: 16px;
	color: #444444;
	margin: 0;
}

#public #content .whats-on a.btn {
	color: #fff;
	background-color: #55a696;
	margin-bottom: 20px;
}

#public #content .whats-on a.btn:hover {
	background-color: #6fbbac;
}

#public #content .whats-on p.date {
	color: #9f9d9d;
	text-transform: uppercase;
	font-weight: bold;
}

#public #content .whats-on p.credits {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}


/* public map */

#public .map-wrapper {
	position: relative;
}

#public .map {
	width: 100%;
	height: 550px;
	display: block;
	background-color: #333;
	position: relative;
	text-align: center;
}

#public .map-wrapper .map-btn {
	text-transform: uppercase;
	color: #fff;
	background-color: #4a4d4c;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	padding: 11px 23px 21px 18px;
	top: 50px;
	position: absolute;
	z-index: 2000;
}

#public .map-wrapper .map-btn:hover {
	background-color: #656766;
}


#public .map .pin {
	position: absolute;
	left: -42px;
	bottom: 0;
}

#public .map .pin .wrapper {
	padding: 3px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 0 5px 1px rgba(34,35,35,0.97);
	position: relative;
	z-index: 2;
}

#public .map .pin img {
	display: block;
	border-radius: 3px;
}

#public .map .pin .wrapper:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}

#public .map .pin .large {
	display: none;
}
#public .map .pin.active .small {
	display: none;
}
#public .map .pin.active .large {
	display: block;
}

#public .map .pin.active {
	width: 300px;
	padding: 4px;
	left: -154px;
}

#public .map .pin.active {
	width: 300px;
	padding: 4px;
}

#public .map .pin.active .image {
	width: 100%;
	height: 194px;
	display: block;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	position: relative;
}

#public .map .pin.active .image img {
	border-radius: 3px 3px 0 0;
	width: 100%;
}

#public .map .pin.active .image a.arrow {
	position: absolute;
	top: 90px;
	z-index: 200;
	background-color: rgba(255,255,255,0.8);
	display: block;
	width: 32px;
	height: 27px;
}

#public .map .pin.active .image a.arrow:hover {
	background-color: rgba(255,255,255,1.0);
}


#public .map .pin.active .text {
	padding: 20px 12px;
	text-align: left;
}

#public .map .pin.active .text p {
	font-size: 13px;
	line-height: 18px;
	margin: 0;
}

#public .map .pin.active .text p.artist {
	text-transform: uppercase;
	margin: 0;
}

#public .map .pin.active .text p.artist em {
	text-transform: none;
}

#public .map .pin.active .text p.title {
	margin: 10px 0 5px;
}

#public .map .pin.active .text p.description {
	max-height: 120px;
	padding-bottom: 10px;
	overflow-y: scroll;
	padding-right: 15px;
}
#public .map .pin.active .text p.description::-webkit-scrollbar {
    -webkit-appearance: none;
}
#public .map .pin.active .text p.description::-webkit-scrollbar:vertical {
    width: 11px;
}
#public .map .pin.active .text p.description::-webkit-scrollbar:horizontal {
    height: 11px;
}
#public .map .pin.active .text p.description::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
#public .map .pin.active .text p.description::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

#public .map .pin.active a.close {
	position: absolute;
	top: -13px;
	right: -13px;
	width: 26px;
	height: 26px;
	display: block;
	z-index: 999;
	text-indent: -9999px;
}

#public .map-nav {
	width: 100%;
	display: block;
	position: relative;
}

#public .map-nav .title {
	background-color: #282828;
	text-align: center;
	text-transform: uppercase;
	color: #b0b0b0;
	font-size: 13px;
	padding: 14px 0;

}

#public .map-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#public .map-nav li {
	float: left;
	display: block;
	width: 33.3%;
	text-align: center;
	margin: 0;
}

#public .map-nav li a {
	text-transform: uppercase;
	padding: 23px 0;
	display: block;
	font-weight: bold;
}

/* blobs */

#public .map .pin span {
	border-radius: 50%;
	height: 7px;
	width: 14px;
	position: absolute;
	bottom: -9px;
	left: 35px;
}

	#public .map .pin.active span {
		left: 147px;
		bottom: -5px;
	}


/* colours */

/* purple - william street */

#public .map .pin.william span {
	background-color: #943d9c;
}

#public .map .pin.active.william .image {
	border-color: #943d9c;
}

#public .map .pin.active.william .text a {
	color: #943d9c;
}

#public .map-nav li a.william {
	background-color: #d1d1d1;
	color: #707070;
}

#public .map-nav li a.william:hover {
	background-color: #e2e2e2;
}

#public .map-nav li a.william.active {
	background: #943d9c url(../../images/public-active-arrow.png) center top no-repeat;
	color: #fff;
}

#public .map .pin.active.william a.close {
	background-position: -384px -320px;
}

/* public - green */

#public .map .pin.public span {
	background-color: #55a696;
}

#public .map .pin.active.public .image {
	border-color: #55a696;
}

#public .map .pin.active.public .text a {
	color: #55a696;
}

#public .map-nav li a.public {
	background-color: #d1d1d1;
	color: #707070;
}

#public .map-nav li a.public:hover {
	background-color: #e2e2e2;
}

#public .map-nav li a.public.active {
	background: #55a696 url(../../images/public-active-arrow.png) center top no-repeat;
	color: #fff;
}

#public .map .pin.active.public a.close {
	background-position: -320px -320px;
}

/* local - grey */

#public .map .pin.local span {
	background-color: #6bc5e6;
}

#public .map .pin.active.local .image {
	border-color: #6bc5e6;
}

#public .map .pin.active.local .text a {
	color: #6bc5e6;
}

#public .map-nav li a.local {
	background-color: #d1d1d1;
	color: #707070;
}

#public .map-nav li a.local:hover {
	background-color: #e2e2e2;
}

#public .map-nav li a.local.active {
	background: #6bc5e6 url(../../images/public-active-arrow.png) center top no-repeat;
	color: #fff;
}

#public .map .pin.active.local a.close {
	background-position: -256px -320px;
}






/* Membership signup */

#membership-selector { padding-bottom: 40px; }
.membership-btn-wrap input { display: none; }
.membership-btn-wrap label {
	background-color: #b7b7b7;
	padding: 15px 30px;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	margin: 0 8px 15px;
	-webkit-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}
.membership-btn-wrap label.active,
.membership-btn-wrap label.active:hover { background-color: #0F1E51; }
.membership-btn-wrap label:hover { background-color: #ccc; }

.select-subscription fieldset,
.member-type-hidden,
.member-type-showing.active,
.practitioner-type-hidden {
    display: none;
}
.select-subscription fieldset.active,
.member-type-hidden.active,
.member-type-showing,
.practitioner-type-hidden.active {
    display: block;
}

.practitioner-downloads {
    text-align: center;
    margin: 0 0 20px;
}
.practitioner-downloads a {
    display: inline-block;
    padding: 10px 10px 10px 40px;
    margin: 0 10px;
    background: url(../../images/icon-publications.png) no-repeat 0 5px;
}

#member-text, #member-text div { display: none; }
#member-text .active { display: block; }
#member-text { padding-top: 60px; width: 820px; margin: 0 auto; font-size: 15px; text-align: left; }
#member-text ul li {
	font-weight: 200;
	font-family: 'proxima-nova', 'Montserrat', "HelveticaNeue", Helvetica, Arial, sans-serif;
	list-style-type: disc;
}

#membership-form { text-align: center; }
#membership-form .brace { width: 820px; margin: 0 auto; }

#membership-form .form-wrap {
	display: none;
}

#membership-form p.disclaimer { margin-bottom: 30px; }
#membership-form p { font-size: 15px; }
#membership-form p.fineprint { float: left; margin-bottom: 0px; font-size: 11px; }
#membership-form p small {
	text-align: left;
	display: block;
	line-height: 1.4em;
	color: #6d6d6d;
	font-size: inherit;
	padding-right: 20px;
}


#membership-form .field { float: left; margin-right: 20px; }
#membership-form .field.end { margin-right: 0px; }
#membership-form button { font-size: 15px; padding: 14px 40px 14px 20px; width: 100px; margin: 0 auto; }
#membership-form .btn.readmore {
	background-position: 80% center;
	margin: 0 auto;
	display: block;
}

#membership-form .drop-select { width: 100%; }
#membership-form .drop-select p {
	text-align: left;
	text-transform: none;
	font-size: 15px;
	background: url(../../images/arrow-drop-form.png) no-repeat 85% center;
	padding: 16px 10%;
	border-color: #e2e2e2;
}
#membership-form .drop-select#membership-referral-drop {
	width: 310px;
	margin-bottom: 40px;
}

#membership-form .practitioner-fields .field {
    width: 100%;
}

#membership-form textarea {
    width: 100%;
    resize: vertical;
}

.practitioner-terms input[type="checkbox"]  {
    -webkit-appearance: checkbox;
}

.practitioner-terms label {
    margin: 0 0 0 5px;
}

#membership-referral-drop.styled {
    background: url(../../images/arrow-drop-form.png) no-repeat 95% center;
}

#membership-referral-drop.drop-select p {
	background-position: 95% center;
	padding: 15px;
}

.width-100 { width: 100px; }
	.width-100 input { width: 58px; }
.width-160 { width: 160px; }
	.width-160 input { width: 118px }
.width-220 { width: 220px; }
	.width-220 input { width: 178px; }
.width-340 { width: 340px; }
	.width-340 input { width: 298px; }
.width-460 { width: 460px; }
	.width-460 input { width: 418px; }

/* Contact page */

#contact-details,
#regional-contact-details {
	text-align: center;
	font-size: 14px;
	padding-bottom: 45px;
	margin-bottom: 60px;
	border-bottom: 1px solid #f3f3f3;
}

#regional-contact-details {
	padding-bottom: 5px;
}

    #contact-details .details-left { width: 30%; display: block; margin-left: 20%; }
    #contact-details .details-right { width: 30%; display: block; margin-right: 20%; }

	/*#contact-details .left { width: 33%; display: block; }*/
	#contact-details .title { display: block; margin-bottom: 5px; }
	#contact-details p { margin-bottom: 0px; }

	#regional-contact-details .left { width: 21%; padding: 0 6%; display: block; margin-bottom: 40px; }
	#regional-contact-details .title { display: block; margin-bottom: 5px; }
	#regional-contact-details h2.title { margin-bottom: 30px; font-size: 16px }
	#regional-contact-details p { margin-bottom: 0px; }

#contact-form { padding-top: 30px; }

#contact-form p,
#contact-form input,
#contact-form label,
#contact-form textarea
{ font-size: 15px; color: #6d6d6d; }

#contact-form .field.full { width: 100%; }
	#contact-form .field.full textarea { width: 718px; }

#contact-form .field.third {  margin-right: 30px; }
	#contact-form .field.third input { width: 191px; }
	#contact-form .field.last { margin-right: 0px; }

#contact-form .field { float: left;  }


#hero-google-map {
	display: block;
	height: 315px;
	width: 100%;
	display: block;
}

p.success {
	color: #169785;
	font-weight: bold;
	text-align: center;
}

p.error {
	color: #e02783;
	font-weight: bold;
}

/*

#contact-form .field {
	float: left;
	display: block;
	width: 30%;
	margin-right: 5%;
}

#contact-form .field.last { margin-right: 0px; }

#contact-form label { left: 20px; }
#contact-form input { width: 84%; padding: 15px 20px; }

#contact-form .field.full label { left: 15px; }
#contact-form .field.full text-area { width: 90%; padding: 15px 5%; }

#contact-form .field.full { width: 100%; margin-right: 0px; }
*/
#contact-form .disclaimer { padding-top: 10px; }

#contact-form button { margin: 0px; }

#contact-form button.btn {
	background-position: 80% center;
	font-family: 'Montserrat', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Our Partners Page */


.partners article.partner-list {
	text-align: center;
	position: relative;
	margin: 40px auto;
	width: 960px;
}

.partners article .partner {
	width: 220px;
	display: inline-block;
	margin: 0 0 30px 22px;
	min-height: 282px;
	vertical-align: top;
}

	.partners article .partner.first {
		margin: 0 0 20px 0;
	}

	.partners article.principle-partner .partner {
		width: 100%;
		margin: 0 0 40px;
		min-height: 0;
	}

.partner .image {
	height: 130px;
	width: 220px;
	display: block;
	position: relative;
	margin: 0 0 20px;
}

	.partner .image span {
		display: none;
	}

	.principle-partner .partner .image {
		height: auto;
		width: 100%;
	}


.partner img {
	display: block;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.principle-partner .partner .image img {
	width: 100%;
	height: auto;
	position: relative;
}

.partner p {
	font-size: 16px;
	line-height: 1.7em;
	text-align: center;
}

.partner .title {
	font-weight: normal;
	font-size: 13px;
	margin: 0 0 5px;
}

	#content article .partner .title a {
		text-decoration: underline;
		color: #444;
	}

	#content article .partner .title a:hover {
		color: #000;
	}

/* --------------------------------------------------- login */

#staffLogin {
	width: 280px;
	margin: 0 auto;
}
	#staffLogin input {
		width: 238px;
	}
	#staffLogin button {
		width: 100%;
		padding: 15px 0px;
		background-position: 90% 50%;
	}

#staffLogin .field p {
	text-align: center;
}

	#staffLogin .field a {
		color: #e02783;
	}

	#staffLogin .field a:hover {
		color: #b93c7b;
	}

/* --------------------------------------------------- login */

.search-results .hentry {
	padding: 0 40px 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid #f3f3f3;
}
.search-results .read-more {
	width: 100%;
	clear: both;
	display: block;
	padding-top: 20px;
}
.search-results .read-more:hover { color: #0F1E51; }



/* --------------------------------------------------- extras */

.link-back {
	font-size: 11px;
}
	.link-back span {
		padding: 5px 7px;
		color: #fff;
		text-transform: uppercase;
		margin-left: 5px;
		font-weight: 600;
	}

	.news .link-back span { background-color: #e02783; }
	.events .link-back span { background-color: #169785; }
	.media .link-back span { background-color: #18a1b1; }



/*  --------------------------------------------------- CUSTOM CLASSES */

.brace {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.hidden { display: none; }

.clear { clear: both; }
.left { float: left; }
.right { float: right; }

.notification {
	padding: 10px 20px;
	background: #aaa;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 3px;
}

.ajaxloader {
	border-top: 1px solid #f3f3f3;
	font-size: 13px;
	color: #7c7c7c;
	margin: 0 auto;
	text-transform: uppercase;
	line-height: 3.5em;
	width: 120px;
	display: block;
	background: url(../../images/loading.gif) no-repeat right center;
}

.text-pink,
.text-pink a { color: #0F1E51; }
.text-big { font-size: 16px; line-height: 1.4em; }
.text-featured { font-size: 18px; line-height: 1.6em; font-family: 'Montserrat'; }

.title.fancy {
	background: url(../../images/pixel-111.png) repeat-x center center;
	display: block;
	text-align: center;
	padding: 30px 0;
}
	.title.fancy span {
		padding: 0 20px;
		background-color: #fff;
		display: inline-block;
	}
.title-feature {
	text-align: center;
	font-size: 36px;
}


.view-all {
	font-size: 12px;
	color: #6a6a6a;
	text-align: right;
	background: url(../../images/arrow-viewall.png) no-repeat center right;
	text-transform: uppercase;
	padding: 20px 25px 20px 0;
	display: block;
	line-height: 1em;
}

#posts-category-drop.styled {
	border: 1px solid #f3f3f3;
	background: url(../../images/arrow-drop.png) no-repeat 95% center;
}

	#posts-category-drop.styled:hover {
		border-color: #cccccc;
	}

	#posts-category-drop.styled select {
		cursor: pointer;
		padding: 11px 15px 11px;
	}

/* Custom drop menu */
.drop-select {
	position: relative;
	display: inline-block;
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
	}
.drop-select p { 
	margin: 0px;
	position: relative;
	z-index: 11;
	padding: 15px 45px 15px 18px;
	border: 1px solid #f3f3f3;
	color: #7c7c7c;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 1em;
	cursor: pointer;
	background: url(../../images/arrow-drop.png) no-repeat 90% center;
	-webkit-transition: border-color .3s ease-in-out;
	-moz-transition: border-color .3s ease-in-out;
	-o-transition: border-color .3s ease-in-out;
	transition: border-color .3s ease-in-out;	
}
	.drop-select:hover p { border-color: #cccccc; }
	
	.drop-select ul {
		display: none;
		position: absolute;
		top: 0px;
		z-index: 10;
		margin: 0px;
		padding: 0px;
		margin-top: 44px;
		width: 100%;
		background-color: #fff;
	}
		.drop-select.active ul { display: block; }
		
		.drop-select ul li {
			font-size: 12px;
			line-height: 3em;
			border-left: 1px solid #f3f3f3;
			border-right: 1px solid #f3f3f3;
			border-bottom: 1px solid #f3f3f3;
			color: #7c7c7c;
			margin: 0px;
			cursor: pointer;
			-webkit-transition: background-color .3s ease-in-out;
			-moz-transition: background-color .3s ease-in-out;
			-o-transition: background-color .3s ease-in-out;
			transition: background-color .3s ease-in-out;
		}
			.drop-select ul li:hover { background-color: #fcfcfc; }


/* content flip
#page_container {
  position: relative;
  margin: 0px auto;
  width: 100%;
  z-index: 1;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
#main_content {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all .45s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all .45s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all .45s linear;
  transform-style: preserve-3d;
  transition: all .45s linear;		  
  background: #fff;
}


.mob_open #main_content {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  -webkit-box-shadow: -5px 5px 5px #aaa;
  -moz-box-shadow: -5px 5px 5px #aaa;
  box-shadow: -5px 5px 5px #aaa;
}
.mob_open #main_content .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.mob_open #main_content .face.back {

  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateY(180deg);
  -o-box-sizing: border-box;
  transform: rotateY(180deg);
  color: white;
  text-align: center;
}
*/





/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/**** Canvas ****/

#frontpage-canvas-wrapper {
	position: relative;
	/* background: url(../../images/frontpage-bg.png) top left #fff; */
	/*background: url(../../images/frontpage-bg.png) top left #fff;*/
	background-color: #fcfcfc;
	width: 100%;
	height: 730px;
	overflow: hidden;
	display: none;
}

#temporary-filler {
	width: 100%;
	height: 730px;
}

#canvas-introduction,
#canvas-implode,
#canvas-points,
#canvas-polygon,
#canvas-points-back {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 730px;
}

#canvas-introduction {
	z-index: 60;
	overflow: hidden;
}

	#canvas-introduction h1 {
		position: absolute;
		top: 260px;
		left: 18%;
		font-weight: 500;
		font-size: 5.3em;
		line-height: 1.1em;
		padding-left: 0px;
		/*-webkit-transition: padding-left 10s ease-out;
		-moz-transition: padding-left 10s ease-out;
		-o-transition: padding-left 10s ease-out;
		-ms-transition: padding-left 10s ease-out;
		transition: padding-left 10s ease-out;*/
	}
		#canvas-introduction h1.active {
			padding-left: 200px;
		}
	
	#canvas-introduction h2 {
		position: absolute;
		top: 45px;
		left: -15%;
		-moz-opacity: 0.05;
  		opacity: 0.05;
		font-weight: 500;
  		font-size: 230px;
		line-height: 260px;
		/*-webkit-transition: padding-left 10s ease-out;
		-moz-transition: padding-left 10s ease-out;
		-o-transition: padding-left 10s ease-out;
		-ms-transition: padding-left 10s ease-out;
		transition: padding-left 10s ease-out;*/
	}
		#canvas-introduction h2.active {
			padding-left: 50px;
		}

#canvas-implode {
	z-index: 50;
	background-color: #fcfcfc;
}

#frontpage-canvas-wrapper ul#project-labels {
	z-index: 40;
}

#canvas-points {
	z-index: 30;
}

#canvas-polygon {
	z-index: 20;
}

#canvas-points-back {
	z-index: 10;
}

#canvas-wrapper {
	display: none;
}

#canvas-wrapper.list {
	/* background: url(../../images/bg-projects.png) no-repeat center top; */
}

#network-filter {
	display: block;
	position: absolute;
	left: 20px;
	bottom: 20px;
	background: #444;
	z-index: 2;
}

#network-filter span {
	display: block;
	padding: 10px 20px;
	color: #fff;
	clear: both;
	text-align: center;
	text-transform: uppercase;
}

#network-filter a {
	display: block;
	width: 53px;
	height: 30px;
	float: left;
	z-index: 2;
}

#network-filter a.disabled {
	opacity: 0.3;
}

#network-legend {
	display: block;
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 1;
}
#network-legend .title-slideout {
	position: absolute;
	left: 210px;
	bottom: -5px;
	z-index: 0;
	width: 200px;
	padding: 0px;
	font-size: 10px;
	background-color: rgba(255,255,255, .7);
	padding: 5px;
	text-align: left;
	display: none;
}


/* parent-container */

.parent-container {
	position: absolute;
	bottom: 100px;
	left: 100px;
	z-index: 9999;
}


/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444; }

.mfp-figure {
  line-height: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: center;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word; }

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  /* The shadow behind the image */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
.mfp-counter { display: none; }

.white-popup {
	position: relative;
	background: #FFF;
	padding: 40px 30px 15px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	font-weight: bold;
}

.white-popup a {
	color: #e02783;
}

/* */
#footer-logo p {
	margin-bottom: 0px;
}
#footer-logo p a {
	color: #9c9c9c;
}



#membership-form #recaptcha_widget_div {
	width: 442px;
	margin: 60px auto 30px;
}


/* Add in to the project advanced section */

.project-details-1,
.project-details-2 {
	position: absolute;
	top: 50%;
	z-index: 3;
	font-size: 18px;
	line-height: 33px;
	margin-top: -50px;
	height: 100px;
	width: auto;
	padding: 0 30px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.project-details-1 {
	left: 0;
	text-align: left;
}
.project-details-2 {
	right: 0;
	text-align: right;
}

.project-details-1 p,
.project-details-2 p {
	margin-bottom: 0;
}


/* artist modal */

.is-overlayOpen:after {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(0,0,0,.9);
	content: ' ';
}

.modal {
	display:none;
}
.is-overlayOpen .modal {
	position: fixed;
	width: 50%;
	height: 50%;
	background-color: #fff;
	display: block;
	left: 25%;
	top: 25%;
	z-index: 10000;
}
.is-overlayOpen .modal .close {
	color: #fff;
	text-align: right;
	position: absolute;
	right: 0;
	top: -40px;
	line-height: 40px;
	cursor: pointer;
	padding-left: 20px;
}
.is-overlayOpen .modal .close:after {
	content: ' ';
	position: absolute;
	left: 2px;
	top: 12px;
	width: 2px;
	height: 15px;
	background-color: #fff;
	
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.is-overlayOpen .modal .close:before {
	content: ' ';
	position: absolute;
	left: 2px;
	top: 12px;
	width: 2px;
	height: 15px;
	background-color: #fff;
	
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.is-overlayOpen .modal .image {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	display: block;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}
.is-overlayOpen .modal .image.small {
	display: none;
}
.is-overlayOpen .modal .image.large {
	display: block;
}

.is-overlayOpen .modal .text {
	position: absolute;
	left: 50%;
	top: 0;
	width: 50%;
	height: 100%;
	overflow-y: scroll;
	padding: 30px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.is-overlayOpen .modal .name {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	margin: 0 0 10px;
	word-wrap: break-word;
	display: block;
}
/*
.is-overlayOpen .modal .name:after {
	content: ' ';
	display: block;
	width: 36px;
	height: 4px;
	background-color: #55a696;
	margin-top: 10px;
}
*/
.is-overlayOpen .modal a {
	color: #55a696;
}
.is-overlayOpen .modal a:hover {
	color: #e02783;
}



/* Homepage modal */

.hp-modal {
	background: rgba(0,0,0,.75);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
}

.promo {
	width: 700px;
	height: 400px;
	margin: 0 auto 0;
	position: relative;
	top: 20%;
}

.hp-modal .close {
	right: -36px;
	top: -36px;
	position: absolute;
	text-indent: -999em;
	cursor: pointer;
}



/* 2016 updates */
.maker-category-filters,
.maker-category-filters * {
	box-sizing: border-box;
}
.maker-category {
	float: left;
	padding: 0 10px;
	position: relative;
	margin-bottom: 20px;
}
.maker-category:before {
	content: '';
	position: absolute;
	left: 10px;
	top: 0;
	width: calc(100% - 20px);
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
	opacity: 0;
	z-index: 1;
	transition: opacity .2s ease-in-out;
}
.maker-category:hover:before,
.maker-category:focus:before {
	opacity: .8;
}


.maker-category p {
	position: absolute;
	left: 20px;
	bottom: 10px;
	max-width: calc(100% - 30px);
	margin: 0;
	background-color: rgba(0, 0, 0, .8);
	color: white;
	border-radius: 10px;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	width: auto;
	z-index: 2;
	font-weight: bold;
}
.maker-category img {
	display: block;
	width: 100%;
}

.return-to-categories {
    opacity: 0;
    margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	font-weight: bold;
	font-size: 18px;
}

#content.westendcollective .artists {
	display: none;
}
#content.westendcollective .category-title {
    text-align: center;
    margin-top: 40px;
}
#public #content.westendcollective .artists article {
    position: relative;
	min-height: 0;
}

#public .westendcollective .banner nav a {
	background-color: #323232;
}
#public .westendcollective .banner nav .active a {
	background-color: #6ec599;
}

#public .westendcollective .content-intro {
	padding-left: 15px;
	padding-right: 15px;
}

.modal .maker .icn {
    float: left;
    margin: 0 10px 0 0;
    background-color: #6ec599;
}

.modal .maker .icn span {
    display: none;
}

@media only screen and (min-width: 769px) {
	.maker-category,
	.call-to-actions.col-3 .call-to-action {
		width: 33.3333%;
	}
	.maker-category:nth-child(3n+1),
	.call-to-actions.col-3 .call-to-action:nth-child(3n+1) {
		clear: both;
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.maker-category,
	.call-to-actions.col-3 .call-to-action {
		width: 50%;
	}
	.maker-category:nth-child(2n+1),
	.call-to-actions.col-3 .call-to-action:nth-child(2n+1) {
		clear: both;
	}
}

/* 2 col */
.call-to-actions.col-2 .call-to-action {
	width: 50%;
}
.call-to-actions.col-2 .call-to-action:nth-child(2n+1) {
	clear: both;
}

@media only screen and (max-width: 480px) {
	.maker-category,
	.call-to-actions.col-3 .call-to-action,
	.call-to-actions.col-2 .call-to-action {
		width: 100%;
	}
}


@media only screen and (max-width: 960px) {

	
	#public .banner.minimal,
	#public .banner nav,
	#public .banner nav ul,
	#public #social-title {
		height: auto;
	}
	
	#public .banner nav {
		position: static;
	}
	#public .banner nav li {
		width: 100%;
		float: none;
		display: block;
		margin-bottom: 0;
	}
	#social-title .social {
		float: none;
		margin: 0 auto;
		display: block;
		width: 230px;
	}
}

/* 2016 update */
.hamburger.menu-link {
	display: none;
	position: absolute;
	height: 20px;
	right: 20px;
	top: 40px;
	z-index: 1000;
}
.hamburger.menu-link.active {
    background-position: -190px -320px;
}
@media only screen and (max-width: 960px) {
	.hamburger.menu-link {
		display: block;
	}
}

/* Modal slider */
.modal .image.large .prev,
.modal .image.large .next {
	position: absolute;
	top: 50%;
	z-index: 800;
	background-color: white;
	margin-top: -14px;
}
.modal .image.large .prev {
	left: 0;
}
.modal .image.large .next {
	right: 0;
}
.modal .image.large span {
	display: none;
}

.modal .image.large .image-slide {
	height: 100%;
	background-size: cover!important;
	width: 100%;
	background-position: center center!important;
}

/* Westend collective */
#public .westendcollective .public-logo {
	width: 100%;
}
#public .westendcollective #content .artists {
	max-width: none;
}
#public .westendcollective #content .artists article {
	max-width: none;
	padding: 0 10px;
	margin: 0;
	box-sizing: border-box;
	display: block;
}

#public .westendcollective ul.filter li a.disabled {
    color: #ccc;
    cursor: default;
}


@media only screen and (min-width: 769px) {	
	#public .westendcollective #content .artists article {
		width: 33.3333%;
		float: left;
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
	#public .westendcollective #content .artists article {
		width: 50%;
		float: left;
	}
}
@media only screen and (max-width: 480px) {
	#public .westendcollective #content .artists article {
		width: 100%;
	}
}


#public .westendcollective #content .artists article .image {	
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
	min-height: 0;
	max-height: none;
}
#public .westendcollective #content .artists article .image:before {
	content: '';
	padding-top: 66.665%;
	display: block;
	width: 100%; 
}

#public .westendcollective  .artist-filters, #public .maker-filters {
	max-width: none;
	text-align: center;
}
#public .westendcollective  ul.filter li,
#public .westendcollective  ul.filter li a {
	float: none;
	font-size: 18px;
}