
#public .map {
	width: 100%;
	height: 550px;
	display: block;
	background-color: #333;
	position: relative;
	text-align: center;
}

#public .map-wrapper .map-btn {
	text-transform: uppercase;
	color: #fff;
	background-color: #4a4d4c;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	padding: 11px 23px 21px 18px;
	top: 50px;
	position: absolute;
	z-index: 2000;
}

#public .map-wrapper .map-btn:hover {
	background-color: #656766;
}


#public .map .pin {
	position: absolute;
	left: -42px;
	bottom: 0;
}

#public .map .pin .wrapper {
	padding: 3px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 0 5px 1px rgba(34,35,35,0.97);
	position: relative;
	z-index: 2;
}

#public .map .pin img {
	display: block;
	border-radius: 3px;
}

#public .map .pin .wrapper:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}

#public .map .pin .large {
	display: none;
}
#public .map .pin.active .small {
	display: none;
}
#public .map .pin.active .large {
	display: block;
}

#public .map .pin.active {
	width: 300px;
	padding: 4px;
	left: -154px;
}

#public .map .pin.active {
	width: 300px;
	padding: 4px;
}

#public .map .pin.active .image {
	width: 100%;
	height: 194px;
	display: block;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	position: relative;
}

#public .map .pin.active .image img {
	border-radius: 3px 3px 0 0;
	width: 100%;
}

#public .map .pin.active .image a.arrow {
	position: absolute;
	top: 90px;
	z-index: 200;
	background-color: rgba(255,255,255,0.8);
	display: block;
	width: 32px;
	height: 27px;
}

#public .map .pin.active .image a.arrow:hover {
	background-color: rgba(255,255,255,1.0);
}


#public .map .pin.active .text {
	padding: 20px 12px;
	text-align: left;
}

#public .map .pin.active .text p {
	font-size: 13px;
	line-height: 18px;
	margin: 0;
}

#public .map .pin.active .text p.artist {
	text-transform: uppercase;
	margin: 0;
}

#public .map .pin.active .text p.artist em {
	text-transform: none;
}

#public .map .pin.active .text p.title {
	margin: 10px 0 5px;
}

#public .map .pin.active .text p.description {
	max-height: 120px;
	padding-bottom: 10px;
	overflow-y: scroll;
	padding-right: 15px;
}
#public .map .pin.active .text p.description::-webkit-scrollbar {
    -webkit-appearance: none;
}
#public .map .pin.active .text p.description::-webkit-scrollbar:vertical {
    width: 11px;
}
#public .map .pin.active .text p.description::-webkit-scrollbar:horizontal {
    height: 11px;
}
#public .map .pin.active .text p.description::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
#public .map .pin.active .text p.description::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

#public .map .pin.active a.close {
	position: absolute;
	top: -13px;
	right: -13px;
	width: 26px;
	height: 26px;
	display: block;
	z-index: 999;
	text-indent: -9999px;
}

#public .map-nav {
	width: 100%;
	display: block;
	position: relative;
}

#public .map-nav .title {
	background-color: #282828;
	text-align: center;
	text-transform: uppercase;
	color: #b0b0b0;
	font-size: 13px;
	padding: 14px 0;

}

#public .map-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#public .map-nav li {
	float: left;
	display: block;
	width: 33.3%;
	text-align: center;
	margin: 0;
}

#public .map-nav li a {
	text-transform: uppercase;
	padding: 23px 0;
	display: block;
	font-weight: bold;
}

/* blobs */

#public .map .pin span {
	border-radius: 50%;
	height: 7px;
	width: 14px;
	position: absolute;
	bottom: -9px;
	left: 35px;
}

	#public .map .pin.active span {
		left: 147px;
		bottom: -5px;
	}


/* colours */

/* purple - william street */

#public .map .pin.william span {
	background-color: #943d9c;
}

#public .map .pin.active.william .image {
	border-color: #943d9c;
}

#public .map .pin.active.william .text a {
	color: #943d9c;
}

#public .map-nav li a.william {
	background-color: #d1d1d1;
	color: #707070;
}

#public .map-nav li a.william:hover {
	background-color: #e2e2e2;
}

#public .map-nav li a.william.active {
	background: #943d9c url(../../images/public-active-arrow.png) center top no-repeat;
	color: #fff;
}

#public .map .pin.active.william a.close {
	background-position: -384px -320px;
}

/* public - green */

#public .map .pin.public span {
	background-color: #55a696;
}

#public .map .pin.active.public .image {
	border-color: #55a696;
}

#public .map .pin.active.public .text a {
	color: #55a696;
}

#public .map-nav li a.public {
	background-color: #d1d1d1;
	color: #707070;
}

#public .map-nav li a.public:hover {
	background-color: #e2e2e2;
}

#public .map-nav li a.public.active {
	background: #55a696 url(../../images/public-active-arrow.png) center top no-repeat;
	color: #fff;
}

#public .map .pin.active.public a.close {
	background-position: -320px -320px;
}

/* local - grey */

#public .map .pin.local span {
	background-color: #6bc5e6;
}

#public .map .pin.active.local .image {
	border-color: #6bc5e6;
}

#public .map .pin.active.local .text a {
	color: #6bc5e6;
}

#public .map-nav li a.local {
	background-color: #d1d1d1;
	color: #707070;
}

#public .map-nav li a.local:hover {
	background-color: #e2e2e2;
}

#public .map-nav li a.local.active {
	background: #6bc5e6 url(../../images/public-active-arrow.png) center top no-repeat;
	color: #fff;
}

#public .map .pin.active.local a.close {
	background-position: -256px -320px;
}
