/*----------------------------
         Add CSS file
----------------------------*/
@import "../bootstrap/css/bootstrap.min.css";
@import 'font-awesome/css/font-awesome.css';
@import 'flaticon/font/flaticon.css';

/*----------------------------
Add font
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
 
/*----------------------------
   element      
----------------------------*/
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html { text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;}
.nopadding-left{padding-left:0;}
.nopadding-right{padding-right:0;}
.nopadding{padding-left:0;padding-right:0;}
.mb10{padding-left:10px;padding-right:10px;}
.tabbody{margin-right: -10px; margin-left: -10px;}
*{margin:0; padding:0}
a{ text-decoration:none;}
a:hover{ text-decoration:none !important;}
header, nav, section, article, aside, footer { display:block;}
html {font-size: 100%;}
body { background:#f6fafd;font-size: 12px;font-family: 'Source Sans Pro', sans-serif;line-height: 24px;color: #777;-webkit-font-smoothing: antialiased;font-weight: normal;}
h1, h2, h3, h4, h5, h6 {padding: 5px 0 15px 0;color: #333;font-weight: normal;-webkit-font-smoothing: antialiased;}
button,.btn{ cursor:pointer; font-size:12px;}
.modal-title{ line-height: 1; padding-bottom: 0;}
.box-header{ padding:10px 0 0 30px;}
.edit_profile_icon{ position:absolute; right:8px; top:10px; color:#44a0b3; font-size:18px;}
.practice_logo{ height:70px; box-shadow: 0px 0px 20px #ccc; padding:5px;}
.practice_info{ margin-top:30px;}

/***====================================================================
	login forms
====================================================================***/
/*.body-text {
position: relative;overflow: hidden;height: 100%;width: 100%;}.body-text-inner{position: absolute; left: 0; right: 0; top: 0; bottom: 0; } 
.body-text-inner h2 {font-size: 38em; color: #fff;} */

.logo {margin-bottom: 30px;text-align: left;}
.we-login-content-box {padding:20px 40px;position: relative; display: block;  box-shadow: 10px 22px 22px 22px #eee; background: #fff; }
/*.we-login-content-box:after{ position: absolute; content: ''; top: 0; right: 0; width: 0; border-top: 80px solid #f6fafd ;
    border-left: 80px solid #fff;}*/

.we-login-content-box:before{content: ""; position: absolute; left: 0; right: 0; bottom: 100%; border-bottom: 80px solid #fff; border-left: 80px solid transparent; border-right: 80px  solid transparent; }
.we-login-content-box:before{border-left: 80px  solid #fff; }



.we-login-content-section {padding:60px 50px}
.login-icon-section {margin-bottom: 20px;}
.main-inner{padding: 5em 0;}
.we-heading h2 {text-align: left;font-family: 'Roboto Condensed', sans-serif;font-weight: bold;font-size: 24px;color: #000;margin:  0;letter-spacing:  0.5px;} 
.we-heading p{text-align: left;line-height:28px;font-family: 'Roboto Condensed', sans-serif;color: #999999;font-size: 13px;letter-spacing: 0.5px;font-style:  italic;} 

.we-form-box input[type='text']{color: #000;display: block;padding: 15px 0px;width: 100%;transition: all 700ms ease 0s;background: #ffffff;border-bottom: 1px solid #ebebec !important;font-size: 14px;border: none;outline:  none;font-family: 'Source Sans Pro', sans-serif;}
.we-form-box input[type='text']:focus {color: #000;}

.we-form-box input[type='text']::-webkit-input-placeholder {color: #bababa; }
.we-form-box input[type='text']::-moz-placeholder {color: #bababa;}
.we-form-box input[type='text']:-ms-input-placeholder {color: #bababa; }
.we-form-box input[type='text']:-moz-placeholder {color: #bababa; }

.we-form-box label.checkbox-inline{text-align: center;line-height:28px;font-family: 'Roboto Condensed', sans-serif;color: #010101;font-size: 14px;} 

.Submit-form-button{background: #44a0b3;border: none;color: #fff;font-weight: bold;outline: none;text-align: center;font-family: 'Source Sans Pro', sans-serif;padding: 8px 45px;font-size: 22px;border-radius: 0;letter-spacing:  0.5px;width: 100%;} 
.Submit-form-button:hover {color: #fff;box-shadow: none;}
.we-form-box .form-group.submit {text-align: center; } 
.Clear-form-button{color: #000;font-weight: bold;margin-left: 10px;outline: none;text-align: center;font-family: 'Roboto Condensed', sans-serif;padding: 8px 45px;font-size: 14px;border-radius: 5px;letter-spacing:  0.5px;box-shadow: 0px 3px 24px rgba(28, 162, 186, 0.16);background: #ffffff;background: -moz-linear-gradient(top, #ffffff 0%, #eef6f2 100%);background: -webkit-linear-gradient(top, #ffffff 0%,#eef6f2 100%);background: linear-gradient(to bottom, #ffffff 0%,#eef6f2 100%);filter: weogid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eef6f2',GradientType=0 );border: 1px solid #f2f2f2;}
.Clear-form-button:hover {color: #000; box-shadow: none;}
.left-no-padding{ padding-left: 0; }
.right-no-padding{ padding-right: 0; }
.login-form-link1{ text-align: center; }
.login-form-link1 a{text-align: center;line-height:28px;font-family: 'Roboto Condensed', sans-serif;color: #999999;font-size: 14px;font-style:  italic;} 

.we-login-content-top {margin-bottom: 5em;}
.we-login-content-top h1{font-family: 'Source Sans Pro', sans-serif;font-size: 50px;margin-bottom: 20px;padding:  0;margin-top: 0; color:#000;}
.we-login-content-top h2{font-family: 'Source Sans Pro', sans-serif;font-size: 33px;margin-bottom: 20px;padding:  0;margin-top: 0; color:#44a0b3}
.we-login-content-top p{font-family: 'Source Sans Pro', sans-serif;font-size: 14px;margin-bottom: 20px;padding:  0;margin-top: 0; color:#000}


.we-login-content-footer {padding: 10px 0; margin-top:3em;border-top: 1px solid #bbbbbb;border-bottom: 1px solid #bbbbbb;}


.copyright{ text-align: left; }
.copyright p{text-align: left; margin-bottom:0;line-height:28px;font-family: 'Roboto Condensed', sans-serif;color: #010101;font-size: 14px;} 

.contact-info-list{margin: 0;padding: 0;list-style:  none;text-align:  right;}
.contact-info-list li{display: inline-block;  position: relative;}
.contact-info-list li a{font-family: 'Source Sans Pro', sans-serif;position: relative;font-size: 14px;color:#44a0b3;padding: 0 20px;}
.contact-info-list li a:after {content: ""; position: absolute; height: 100%; width: 1px; background: #44a0b3; left: 0; top: 0; } 
.contact-info-list li:first-child a:after{width: 0px;}

.we-login-web-link{text-align: center;}
.we-login-web-link a{font-family: 'Source Sans Pro', sans-serif;font-size: 14px;color:#000;  text-align: center;}




/***====================================================================
	Dashboard
====================================================================***/
#main-wrapper {width: 100%; } 
.container-fluid {padding: 15px 30px; }
.page-wrapper .container-fluid{ min-height:530px; color:#000; font-family:'Raleway', sans-serif;}
.invoice{ background:#ffffff;}

/*******************
 Topbar
*******************/
.topbar {background:#44a0b3;  }
.topbar .navbar-header {background: #ffffff;box-shadow: 4px -4px 10px rgba(0, 0, 0, 0.05);    border-bottom: 2px solid #44a0b3;}
.topbar {position: relative; z-index: 50; } 
.topbar .navbar-light .navbar-nav .nav-item > a.nav-link {color:#fff !important;}

.topbar .navbar-light .navbar-nav .nav-item p {color: #fff; padding-left: .75rem; padding-right: .75rem; font-size: 22px; line-height: 38px; margin-bottom: 0; }
.topbar .top-navbar {min-height: 50px; padding: 0px 15px 0 0; } 
.topbar .top-navbar .dropdown-toggle::after {display: none; } 
.topbar .top-navbar .navbar-header {line-height: 50px; text-align: center; } 
.topbar .top-navbar .navbar-header .navbar-brand{margin-right: 0px; padding-bottom: 0px; padding-top: 0px; margin-left:-35px; } 
.mini-sidebar .topbar .top-navbar .navbar-header .navbar-brand{ margin-left:0px; } 
.topbar .top-navbar .navbar-header .navbar-brand .light-logo {display: none; } 
.topbar .top-navbar .navbar-header .navbar-brand b {line-height: 50px; /*display: inline-block;*/display:none; } 
.mini-sidebar .topbar .top-navbar .navbar-header .navbar-brand b {line-height: 50px; display:block; } 



.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {padding-left: .75rem; padding-right: .75rem; font-size: 17px; } 
.topbar .top-navbar .navbar-nav > .nav-item.show {background: rgba(0, 0, 0, 0.15); } 
.topbar .top-navbar .app-search {position: relative; margin-top: 13px; margin-right: 10px; display: inline-block; } 
.topbar .top-navbar .app-search input {width: 200px; border-radius: 100px; font-size: 14px; -webkit-transition: 0.5s ease-in; -o-transition: 0.5s ease-in; transition: 0.5s ease-in; } 
.topbar .top-navbar .app-search input:focus {width: 220px; } 
.topbar .top-navbar .app-search .srh-btn {position: absolute; top: 8px; cursor: pointer; background: #ffffff; width: 15px; height: 15px; right: 10px; font-size: 14px; } 
.topbar .profile-pic {width: 30px; border-radius: 100%; } 
.topbar .dropdown-menu {box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05); border-color: rgba(120, 130, 140, 0.13); }
.topbar .dropdown-menu .dropdown-item {padding: 7px 1.5rem; } 
.topbar ul.dropdown-user {padding: 0px; width: 270px; } 
.topbar ul.dropdown-user li {list-style: none; padding: 0px; margin: 0px; } 
.topbar ul.dropdown-user li.divider {height: 1px; margin: 5px 0; overflow: hidden; background-color: rgba(120, 130, 140, 0.13); } 
.topbar .profilebox{ box-shadow: 0 4px 9px 0 rgba(46,61,73,.15); border: none; border-radius: 0; border-bottom: 3px solid #44a0b3 !important; padding: 2px; } 
.topbar ul.dropdown-user li .dw-user-box{ padding: 10px 15px; text-align: center; background-color:#44a0b3; } 
.topbar ul.dropdown-user li .dw-user-box .u-img{ 
	z-index: 5;
    height: 95px;
    width: 95px;
    display:inline-block;
} 
.topbar ul.dropdown-user li .dw-user-box .u-img img {width: 100%; border-radius: 50%;border: 3px solid; border-color: transparent; border-color: rgba(255,255,255,0.2);}
.topbar ul.dropdown-user li .dw-user-box .u-text {display: inline-block; padding-left: 10px; } 
.topbar ul.dropdown-user li .dw-user-box .u-text h4 {margin: 0px;font-weight: 600;font-size: 16px;padding-bottom: 0; color:#fff;} 
.topbar ul.dropdown-user li .dw-user-box .u-text p {margin-bottom: 2px;padding: 0;letter-spacing:  0.5px;font-size: 13px;} 
.topbar ul.dropdown-user li .dw-user-box .u-text .btn {color: #ffffff; padding: 5px 10px; display: inline-block; } 
.topbar ul.dropdown-user li .dw-user-box .u-text .btn:hover {background: #e6294b; } 
.topbar ul.dropdown-user li a {padding: 9px 15px; display: block; color: #54667a; font-size: 14px;} 
.topbar ul.dropdown-user li a:hover {background: #f2f7f8; color: #44a0b3; text-decoration: none; } 
.mini-sidebar .top-navbar .navbar-header {width: 60px; text-align: center; }
.logo-center .top-navbar .navbar-header {position: absolute; left: 0; right: 0; top: 0; margin: 0 auto; }
.Notif-value {position: absolute; top: 0px; right: -3px; font-size: 12px; padding: 0; width: 25px; height: 25px; background: #01c7f8; color: #fff; text-align: center; border-radius: 50%; }

.topbar .top-navbar .mailbox {width: 300px;right: 0;left: auto;box-shadow: 0 4px 9px 0 rgba(46,61,73,.15);border: none;border-radius: 0;border-bottom: 3px solid #44a0b3;padding: 10px;margin: 0;}

.topbar .top-navbar .mailbox ul {padding: 0px; } 
.topbar .top-navbar .mailbox ul li {list-style: none; } 
.mailbox ul li .drop-title {font-weight: 600;padding: 11px 0 15px;border-bottom: 1px solid #f7f8fa;font-size: 16px;} 
.mailbox ul li .nav-link {border-top: 1px solid rgba(120, 130, 140, 0.13); padding-top: 15px; } 
.mailbox .message-center {height: 200px; overflow: auto; position: relative; } 
.mailbox .message-center a {border-bottom: 1px solid #f7f8fa;display: block;text-decoration: none;padding: 10px 10px;} 
.btn-circle {border-radius: 100%; width: 40px; height: 40px; padding: 10px; } 
.mailbox .message-center a:hover {background:#f7f8fa; }
.mailbox ul li .nav-link{color: #44a0b3 !important; font-size: 14px; font-weight: 500; letter-spacing: 0.5px; }

.mailbox .message-center a div {white-space: normal; }
.mailbox .message-center a .user-img {width: 40px; position: relative; display: inline-block; margin: 0 10px 15px 0; } 
.mailbox .message-center a .user-img img {width: 100%; } 
.mailbox .message-center a .user-img .profile-status {border: 2px solid #ffffff; border-radius: 50%; display: inline-block; height: 10px; left: 30px; position: absolute; top: 1px; width: 10px; } 
.mailbox .message-center a .user-img .online {background: #55ce63; } 
.mailbox .message-center a .user-img .busy {background: #f62d51; } 
.mailbox .message-center a .user-img .away {background: #ffbc34; } 
.mailbox .message-center a .user-img .offline {background: #ffbc34; } 
.mailbox .message-center a .mail-contnet {display: inline-block; width: 75%; vertical-align: middle; } 
.mailbox .message-center a .mail-contnet h5 {margin: 0;line-height: 18px;font-size: 14px;font-weight: 700;padding-bottom:  0;letter-spacing: 0.5px;} 
.mailbox .message-center a .mail-contnet .mail-desc{font-size: 12px; display: block; margin: 1px 0; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; color: #666; white-space: nowrap;letter-spacing: 0.5px; }
.mailbox .message-center a .mail-contnet .time {font-size: 12px;display: block;color: #151515;letter-spacing: 0.5px;font-weight: 800;}


.nav-home i {background: #fff; color: #44a0b3; width: 50px; padding: 5px 7px; border-radius: 50px; font-size: 16px; }
.nav-bell i {background: #fff; color: #44a0b3; width: 50px; padding: 5px 7px; border-radius: 50px; font-size: 16px; }

.profile_area{ padding:10px;}

/*******************
Notify
*******************/
.notify {position: relative; top: 0px; right: -7px; } 
.notify .heartbit {position: absolute; top: -14px; right: 1px; height: 15px; width: 15px; z-index: 10; border: 1px solid #00c292; border-radius: 70px; /*-moz-animation: heartbit 1s ease-out; -moz-animation-iteration-count: infinite; -o-animation: heartbit 1s ease-out; -o-animation-iteration-count: infinite; -webkit-animation: heartbit 1s ease-out; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;*/ } .notify .point {width: 6px; height: 6px; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; background-color: #00c292; position: absolute; right: 6px; top: -10px; }
@-moz-keyframes heartbit {
0% {
-moz-transform: scale(0);
opacity: 0.0; }
25% {
-moz-transform: scale(0.1);
opacity: 0.1; }
50% {
-moz-transform: scale(0.5);
opacity: 0.3; }
75% {
-moz-transform: scale(0.8);
opacity: 0.5; }
100% {
-moz-transform: scale(1);
opacity: 0.0; } }

@-webkit-keyframes heartbit {
0% {
-webkit-transform: scale(0);
opacity: 0.0; }
25% {
-webkit-transform: scale(0.1);
opacity: 0.1; }
50% {
-webkit-transform: scale(0.5);
opacity: 0.3; }
75% {
-webkit-transform: scale(0.8);
opacity: 0.5; }
100% {
-webkit-transform: scale(1);
opacity: 0.0; } }


/******************* 
	 sidebar 
******************/

.left-sidebar {position: absolute; width: 220px; height: 100%; top: 0px; z-index: 20; padding-top: 50px; background: #fff;  box-shadow: 0 4px 9px 0 rgba(46,61,73,.15);} 
.fix-sidebar .left-sidebar {position: fixed; }

/*******************
use profile section
******************/
.user-profile {text-align: center; position: relative; } 
.user-profile .profile-img {width: 70px; margin: 0 auto; border-radius: 100%; } 
.user-profile .profile-img::before { position: absolute; content: ''; width: 70px; height: 70px; top: 0; margin: 0 auto; border-radius: 50%; z-index: 0; border: solid 2px #f2f2f2; }
.profile-img a{ color: #44a0b3; font-size: 16px;}

@-webkit-keyframes blow {
0% {
-webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
opacity: 1;
-webkit-transform: scale3d(1, 1, 0.5);
transform: scale3d(1, 1, 0.5); }
50% {
-webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
opacity: 1;
-webkit-transform: scale3d(1, 1, 0.5);
transform: scale3d(1, 1, 0.5); }
100% {
-webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
opacity: 0;
-webkit-transform: scale3d(1, 1, 0.5);
transform: scale3d(1, 1, 0.5); } }

@keyframes blow {
0% {
-webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
opacity: 1;
-webkit-transform: scale3d(1, 1, 0.5);
transform: scale3d(1, 1, 0.5); }
50% {
-webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
opacity: 1;
-webkit-transform: scale3d(1, 1, 0.5);
transform: scale3d(1, 1, 0.5); }
100% {
-webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
opacity: 0;
-webkit-transform: scale3d(1, 1, 0.5);
transform: scale3d(1, 1, 0.5); } }

.profile_bg{ background-color: #fbfbfb;
    padding-top: 30px;
    box-shadow: 0px 0px 20px #ccc;
    display: inline-block;
    width: 100%;}
.user-profile .profile-img img {width: 100%; border-radius: 100%; } 
.user-profile .profile-text {padding: 5px 0 10px;position: relative;font-size:  16px;font-weight:600;color: #4f4f4f; letter-spacing:  0.5px; margin-top:10px; line-height:16px;} 
.user-profile .profile-text a {color: #54667a; } 
.user-profile .dropdown-menu {left: 0px; right: 0px; width: 180px; margin: 0 auto; }

/******************* 
sidebar navigation
******************/ 
.scroll-sidebar {padding-bottom: 60px; padding-top: 0px; } 
.collapse.in {display: block; } 
.sidebar-nav {background: #fff; } 
.sidebar-nav ul {margin: 0px; padding: 0px; } 
.sidebar-nav ul li {list-style: none; border-bottom:solid 1px #eeecec;} 
.sidebar-nav ul li ul.collapse li{list-style: none; border-bottom:none;}
.sidebar-nav ul li ul li.active a{ color:#44a0b3;}
.sidebar-nav ul li a {color: #54667a; padding:10px 35px 10px 15px; display: block; font-size: 13px; } 
.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {color: #009efb; } 
.sidebar-nav ul li a.active {font-weight: 400; color: #263238; } 
.sidebar-nav ul li ul {padding-left: 30px; } 
.sidebar-nav ul li ul li a {padding:5px 10px 5px 20px;font-size: 14px; } 
.sidebar-nav ul li ul ul {padding-left: 20px; } 
.sidebar-nav ul li.nav-small-cap {font-size: 12px; padding: 14px 14px 14px 20px; color: #90a4ae; font-weight: 500; } 
.sidebar-nav ul li.nav-devider {height: 1px; background: rgba(120, 130, 140, 0.13); display: block; margin: 20px 0; } 
.sidebar-nav > ul > li.active > a {border-left: 3px solid #009efb; color: #009efb; } 
.sidebar-nav > ul > li.active > a i {color: #009efb; } 
.sidebar-nav > ul > li > a {border-left: 3px solid #fff; } 
.sidebar-nav > ul > li > a.active, 
.sidebar-nav > ul > li > a:hover {border-left: 3px solid #009efb; } 
.sidebar-nav > ul > li > a.active i, 
.sidebar-nav > ul > li > a:hover i {color: #009efb; } 
.sidebar-nav > ul > li > a i {width: 30px;font-size: 18px;display: inline-block;vertical-align: middle;color: #a6b7bf;} 
.sidebar-nav > ul > li > a .label {float: right; margin-top: 6px; }
 .sidebar-nav > ul > li > a.active {font-weight: 400; background: #242933; color: #009efb; } 
.sidebar-nav .has-arrow {position: relative; } 
.sidebar-nav .has-arrow::after {position: absolute; content: ''; width: .4em; height: .4em; border-width: 1px 0 0 1px; border-style: solid; border-color: #54667a; right: 1em; -webkit-transform: rotate(-45deg) translate(0, -50%); -ms-transform: rotate(-45deg) translate(0, -50%); -o-transform: rotate(-45deg) translate(0, -50%); transform: rotate(-45deg) translate(0, -50%); -webkit-transform-origin: top; -ms-transform-origin: top; -o-transform-origin: top; transform-origin: top; top: 50%; -webkit-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out; } 
.sidebar-nav .active > .has-arrow::after, 
.sidebar-nav li > .has-arrow.active::after, .sidebar-nav .has-arrow[aria-expanded="true"]::after {-webkit-transform: rotate(-135deg) translate(0, -50%); -ms-transform: rotate(-135deg) translate(0, -50%); -o-transform: rotate(-135deg) translate(0, -50%); transform: rotate(-135deg) translate(0, -50%); }
.sidebar-nav {background: #fff; } 
.sidebar-nav ul li a {color: #4f4f4f; } 
.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {color: #44a0b3; } 
.sidebar-nav ul li a.active {color: #44a0b3; } 
.sidebar-nav ul li.nav-small-cap {color: #90a4ae; } 
.sidebar-nav > ul > li.active > a {border-left: 3px solid #44a0b3;color: #44a0b3;background: #F2F2F2;} 
.sidebar-nav > ul > li.active > a i {color: #44a0b3; } 
.sidebar-nav > ul > li > a span{font-weight: bold;}
.sidebar-nav > ul > li > a {border-left: 3px solid #fff; } 
.sidebar-nav > ul > li > a.active, 
.sidebar-nav > ul > li > a:hover {border-left: 3px solid #44a0b3;color: #44a0b3;background: #F2F2F2; } 
.sidebar-nav > ul > li > a:focus {border-left: 3px solid #44a0b3;color: #44a0b3;background:none; } 
.sidebar-nav > ul > li > a.active i, 
.sidebar-nav > ul > li > a:hover i {color: #44a0b3; } 
.sidebar-nav > ul > li > a i {color: #a6b7bf; } 
.sidebar-nav > ul > li > a.active {font-weight: 400; background: #ffffff; color: #009efb; }

.left-sidebar .badge{ background:#44a0b3; padding:3px 8px; font-size:14px; margin-top:3px;}


/******************* 
page-wrapper
******************/ 
.page-wrapper {background:#f7f8fa; /*padding-bottom: 60px;*/ } 

/*******************
 Breadcrumb and page title
*******************/

.we-page-title{ /*box-shadow: 0 4px 9px 0 rgba(46,61,73,.15); padding:15px 20px; background: #fff;*/ position: relative;margin-bottom: 30px; }
.we-page-heading {font-size: 22px; font-weight: bold; margin: 0; padding: 0; letter-spacing: 0.5px; }

.we-page-title .breadcrumb { padding: 0px; margin: 0px 0 0 0; background: transparent; float:left; }
.we-page-title  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {content: "\f105"; font-family:FontAwesome;color: #000;font-size: 14px; }
.we-page-title .breadcrumb li a{ text-align: left; margin-bottom:0;line-height:28px;color:#44a0b3;font-size: 13px;} 
.breadcrumb .breadcrumb-item.active {color: #000;font-size: 13px;line-height:28px; }
.we-page-title .breadcrumb li a .fa{ margin-right: 5px;}
/*******************
 report Section
*******************/
.report-section{ position: relative;}
.report-section .row{margin-right: -10px; margin-left: -10px;}
.report-section .col-md-6.col-lg-3.col-xlg-3{    padding-right: 10px;   padding-left: 10px;}

.report-box-card-box{box-shadow: 0 4px 9px 0 rgba(46,61,73,.15);background: #fff; position: relative;    margin-bottom: 20px;}
.report-box-card-box .card-header{ padding:8px 20px; }
.report-box-card-box .card-body{ padding:8px 20px; }
.report-box-card-box h2 {margin: 0px; font-weight: bold; font-size: 16px; position: relative; border-bottom: 1px solid #eee; margin-bottom: 18px;}
.report-box-card-box h2:after {position: absolute; content: ''; background: #44a0b3; height: 1px; width: 80px; left: 0; bottom: -1px; } 
.card-list-nav ul{ margin: 0; padding: 0; list-style: none; }
.card-list-nav ul li{ display: inline-block; position: relative; }
.calendar-box i {color: #000; font-size: 20px;}
.calendar-box p{margin: 0px; font-weight: 600; font-size: 11px; color: #000; line-height: normal;}
.calendar-box {position: relative; z-index: 9; }
.radio-box input[type=radio]+label {width: 60px;text-align: center;border-radius: 6px;padding: 10px; margin-bottom: 0;height: 60px;background-color: #f7f8fa;display: inline-block;position: relative;}
.radio-box input[type="radio"], 
.radio-box input[type="radio"] {
position: absolute;opacity: 0;z-index: 1;}
.radio-box input[type=radio]+label {cursor: pointer;font-size: 14px;}
.radio-box input[type=radio]:checked+label:before {display: block;}
.radio-box input[type=radio]+label:after {content: ' ';width: 60px;position: absolute;top: 0;left: 0;height: 60px;}
.radio-box input[type=radio]+label:before {content: ' ';border-radius: 5px;width: 60px;position: absolute;top: 0;left: 0;z-index: 9;height: 60px;display: none;border: none;display: none;background: #44a0b3;}
.radio-box span{color:#000} 
.radio-box input[type=radio]:checked+label .calendar-box i{color: #fff;}
.radio-box input[type=radio]:checked+label .calendar-box p{color: #fff;} 

.d-flex {display: flex !important; } 
.card-box{box-shadow: 0 4px 9px 0 rgba(46,61,73,.15); padding:2.6em 1em; background: #fff; position: relative;    margin-bottom: 20px;}
.cart-Transactions{ background:#01c7f8; align-items: center !important;}
.cart-sales{ background:#ffc107; align-items: center !important;}
.cart-Purchase{ background:#00c292; align-items: center !important;}
.cart-Transactions:before {content: ""; position: absolute; top: 10px; right: 10px; border-width: 0 16px 16px 0; border-style: solid; border-color: #01c7f8 #fff; }
.cart-sales:before {content: ""; position: absolute; top: 10px; right: 10px; border-width: 0 16px 16px 0; border-style: solid; border-color: #ffc107 #fff; }
.cart-Purchase:before {content: ""; position: absolute; top: 10px; right: 10px; border-width: 0 16px 16px 0; border-style: solid; border-color: #00c292 #fff; }
.card-box-media{ padding-right: 10px;}
.card-box-media i{color: #fff; font-size: 50px;    vertical-align: middle;}
.card-box-content{position: relative; overflow: hidden;     border-left: 1px solid #fff;    padding-left: 20px;} 
.card-box-content h2 {font-weight: 700; font-size: 30px; color: #fff; padding: 0; margin-top: 0; }
.card-box-content p {font-weight: bold; font-size: 14px; color: #000; margin-bottom: 0; }


/*******************
Chart Section
******************/ 
.chart-section{ position: relative;}
.chart-section .row{margin-right: -10px; margin-left: -10px;}
.chart-section .col-md-6.col-lg-4.col-xlg-3{    padding-right: 10px;   padding-left: 10px;}


.chart-card-box{box-shadow: 0 4px 9px 0 rgba(46,61,73,.15); padding: 15px 20px; background: #fff; position: relative;    margin-bottom: 20px;}
.chart-card-box h2 {margin: 0px; font-weight: bold; font-size: 16px; position: relative; border-bottom: 1px solid #eee; margin-bottom: 18px;}
.chart-card-box h2:after {position: absolute; content: '';  height: 1px; width: 80px; left: 0; bottom: -1px; } 

.chart-cart-transactions h2:after { background: #01c7f8;  width: 80px; left: 0; bottom: -1px; } 
.chart-cart-sales h2:after {background: #ffc107;  width: 50px; left: 0; bottom: -1px; } 
.chart-cart-purchase h2:after {background: #00c292;  width: 80px; left: 0; bottom: -1px; } 


/*******************
Transactions Section
******************/ 
.card {box-shadow: 0 4px 9px 0 rgba(46,61,73,.15); background: #fff; border: none; border-radius: 0; }
.card {margin-bottom: 20px; }

.card-header {padding:1.25rem; margin-bottom: 0; background-color: #fff; border-bottom: none; } 
.card-header h4{margin: 0px; font-weight: bold; font-size: 16px; position: relative; border-bottom: 1px solid #eee; margin-bottom: 0;}
.card-header h4:after {position: absolute;background: #44a0b3; content: '';  height: 1px; width: 80px; left: 0; bottom: -1px; } 

.service_box{margin-top: 35px;margin-bottom: 35px;position: relative;    z-index: 1;}


.bg-1{ background: #f7f8fa; border-bottom: 2px solid #f44336; }
.bg-2{ background: #f7f8fa; border-bottom: 2px solid #e91e63; }
.bg-3{ background: #f7f8fa; border-bottom: 2px solid #9c27b0; }
.bg-4{ background: #f7f8fa; border-bottom: 2px solid #673ab7; }
.bg-5{ background: #f7f8fa; border-bottom: 2px solid #3f51b5; }
.bg-6{ background: #f7f8fa; border-bottom: 2px solid #2196f3; }
.bg-7{ background: #f7f8fa; border-bottom: 2px solid #03a9f4; }
.bg-8{ background: #f7f8fa; border-bottom: 2px solid #00bcd4; }
.bg-9{ background: #f7f8fa; border-bottom: 2px solid #009688; }
.bg-10{ background: #f7f8fa; border-bottom: 2px solid #4caf50; }
.bg-11{ background: #f7f8fa; border-bottom: 2px solid #8bc34a; }
.bg-12{ background: #f7f8fa; border-bottom: 2px solid #ffc107; }
.bg-13{ background: #f7f8fa; border-bottom: 2px solid #ff9800; }
.bg-14{ background: #f7f8fa; border-bottom: 2px solid #ff5722; }

.bg-1 > .icon i{ background:#f44336; }
.bg-2 > .icon i{ background:#e91e63; }
.bg-3 > .icon i{ background:#9c27b0; }
.bg-4 > .icon i{ background:#673ab7; }
.bg-5 > .icon i{ background:#3f51b5; }
.bg-6 > .icon i{ background:#2196f3; }
.bg-7 > .icon i{ background:#03a9f4; }
.bg-8 > .icon i{ background:#00bcd4; }
.bg-9 > .icon i{ background:#009688; }
.bg-10 > .icon i{ background:#4caf50; }
.bg-11 > .icon i{ background:#8bc34a; }
.bg-12 > .icon i{ background:#ffc107; }
.bg-13 > .icon i{ background:#ff9800; }
.bg-14 > .icon i{ background:#ff5722; }


.service_box .service_box_contant{ padding:40px 15px 15px; }
.service_box > .icon {height: 60px; position: absolute; top: -36px; width: 60px;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease; -o-transition: all 0.4s ease;-ms-transition: all 0.4s ease; transition: all 0.4s ease;}
.service_box > .icon i { box-shadow: 0 4px 9px 0 rgba(46,61,73,.15); color: #fff; display: block;  font-size: 32px; height: 60px;  left: 0px;    line-height: 60px;    position: absolute; text-align: center; top: 0px;  width: 60px;  z-index: 1;}
.service_box > .icon:after {background: #fff; border: 1px solid #fff; content: ""; display: block;  height: 60px; left: 0px; position: absolute;  top: 0px; width: 60px;}
.service_box > .icon::after{border-radius: 5px; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; -ms-transition: all 0.4s ease; transition: all 0.4s ease; } 
.service_box > .icon {height: 60px; position: absolute; top: -36px; width: 60px; } 
.service_box > .icon{left: 50%; transform: translateX(-50%); } 
.service_box:hover > .icon {transform: translateX(-50%) rotate(45deg); }
.service_box .service_box_contant h3 a{margin: 0px; color:#010101; font-weight: bold; font-size: 16px; position: relative; margin-bottom: 0; } 



/*******************
footer
******************/ 

.footer {/*bottom: 0;*/ color: #54667a; left: 0px; padding: 10px 15px; position: absolute; right: 0;  background: #ffffff; }

.footer .copyright{ text-align: left; }
.footer .copyright p{text-align: left;font-family: 'Source Sans Pro', sans-serif; margin-bottom:0;line-height:28px;color: #010101;font-size: 14px;} 

.footer .contact-info-list{margin: 0;padding: 0;list-style:  none;text-align:  right;}
.footer .contact-info-list li{display: inline-block;  position: relative;}
.footer .contact-info-list li a{font-family: 'Source Sans Pro', sans-serif;position: relative;font-size: 14px;color:#000000;padding: 0 20px;}
.footer .contact-info-list li a:after {content: ""; position: absolute; height: 100%; width: 1px; background: #000000; left: 0; top: 0; } 
.footer .contact-info-list li:first-child a:after{width: 0px;}


/* Custom CSS by Arun Verma */
.pratice_image_box{ width:160px; height:80px; border:solid 1px #d7d7d7;}
.pratice_image_box img{ padding:5px; width:auto; margin-bottom:10px; max-height:80px;}
.choose_file{ width:160px; float:left; margin-top:10px;}
.profile_image_box{ width:160px; height:160px; border:solid 1px #d7d7d7;}
.profile_image_box img{ padding:5px; margin-bottom:10px; max-height:160px;}
.invoice h4{ font-size:20px;}
.invoice table td{ padding:2px .75rem;}
.invoice .form-control,.modal .form-control{ font-size:12px;}
.modal .form-group{ margin-bottom: 10px;}
.btn{ cursor:pointer;}
.custom-file-input{ cursor:pointer;}
.custom-file-control{line-height: 2; background:#E9ECEF;}
.custom-file-control:hover, .custom-file-input:hover, .choose_file:hover{ background:#E9ECEF; box-shadow:0 0 0 3px rgba(233,236,239,.5); border-radius: .25rem;}
.custom-form-heading{ font-size:16px; font-weight:600;}
.rep_select2 .select2{ width:100% !important;}
/*.rep_select2 .select2-search{ width:100%;}
.rep_select2 .select2-search__field{ width:100% !important;}*/
.table thead th{ padding:3px;}
.dataTable th::before{ bottom: 5px !important;}
.dataTable th::after{ bottom: 5px !important;}
.table td{ vertical-align:middle;}
.table td .dropdown-toggle{ margin:5px 0;}
.table .dropdown-item{ font-size:12px; padding: 5px 10px;}
.table td .dropdown-divider{ margin:1px;}
.table td .btn, .table td .btn:hover{ font-size:12px; color:#ffffff;}

#files-toolbar { margin-top:10px;}

.table .fa{ margin-right:3px; }
.label{ color:#fff; padding: .3em .6em .3em; font-size: 85%; font-weight: 700;line-height: 1; text-align: center; border-radius: .25em;}
.label a{ color:#fff;}
.label-success{ background-color: #00a65a; }
.label-warning{ background-color: #f39c12 ; }
.label-danger{ background-color: #dd4b39 ; }
.label-info{ background-color: #00c0ef ; }
#folder_form .form-check-inline{ margin-top:7px;}
.upload-folder{ background: url("../images/upload-folder.png") no-repeat; width:20px; height:20px; background-size:20px; float:left;}
#folder_table .folder{ color:#000; font-weight:600;}
.download-folder{ background: url("../images/download-folder.png") no-repeat; width:20px; height:20px; background-size:20px; float:left;}

/*#files-toolbar .btn-sm{ font-size:13px;}
#files-toolbar .pull-right{ text-align:right;}
*/