html,body {
	height: 100%;
	margin: 0;
	background-color: #fbfbfb;
}

body.my-login-page {
	text-align: center;
	margin: 60px 0 0 0;
	font-size: 14px;
}

.my-login-page .brand {
	overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto -50px auto;
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, .07);
    box-shadow: 0 4px 40px rgba(0, 0, 0, .07);
    padding: 10px;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.my-login-page .brand img {
	width: 90%;
}
.login-box-wrapper {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    height: 100%;
    width: 360px;
    margin: 0 auto;
}
.login-box{
	width: 100%;
    position: absolute;
    left: 0
}
.login-box-inner{
    background-color: #fff;
    /*-webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
    box-shadow: 0 7px 25px rgba(0, 0, 0, .08);*/
    padding: 30px 10px 10px 10px;
    text-align: left;
    border-radius: 3px;
}
.my-login-page .card.fat::after {
   /* content: ' ';
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    -webkit-transform: translate(0, -92.6%) scale(.88);
    -ms-transform: translate(0, -92.6%) scale(.88);
    transform: translate(0, -92.6%) scale(.88);
    border-radius: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;*/
    z-index: -1;
}

.my-login-page .register-wrapper{ width:70%;}
.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.08);
	-webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
}

.my-login-page .card.fat {
	padding: 10px;
	position:relative;
}

.my-login-page .card .card-title {
	color: rgba(68, 160, 179, .7);;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.my-login-page .form-control {
	/*border-width: 2.3px;*/
	background-color: rgba(68, 160, 179, .06);
    color: rgba(68, 160, 179, .8);
    border: solid 1px rgba(68, 160, 179, .3);
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    outline: 0;
	font-size:14px;
}
.my-login-page .form-control:focus{  border-color: rgba(68, 160, 179, .9);}
.my-login-page .form-group{ margin-bottom:20px;}
.my-login-page .form-group label {
	width: 100%;
	font-weight:400;
	color: rgba(68, 160, 179, .8);
	margin-bottom:2px;
}

.my-login-page .btn.btn-block{
	padding: 10px 10px;
	background-color: #44a0b3;
    -webkit-box-shadow: 0 2px 7px rgba(68, 160, 179, .5);
    box-shadow: 0 2px 7px rgba(68, 160, 179, .5);
	border-radius: 3px;
	border: none;
    color: #fff;
	cursor:pointer;
}
.btn.btn-sm{ padding: 2px 7px; line-height: 1.5; border-radius: .2rem;}
.btn.btn-primary{
	background-color: #44a0b3;
    -webkit-box-shadow: 0 2px 7px rgba(68, 160, 179, .5);
    box-shadow: 0 2px 7px rgba(68, 160, 179, .5);
	border: none;
    color: #fff;
	cursor:pointer;
}
.register-btn{ width:50%;}
.my-login-page a{
    color: #44a0b3;
    text-decoration: none;
    border-bottom: 1px dashed rgba(68, 160, 179, .5);
    margin-top: -3px;
    padding-bottom: 2px;
	font-weight:400;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
	color: rgba(68, 160, 179, .8);
}

.my-login-page .no-margin {
	margin: 0;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}
form .error{ color:#ff0000 !important; font-size:13px;}
form .error p{ margin-bottom:0px;}
.my-login-page .form-control:disabled, .my-login-page.form-control[readonly]{ background-color: #e9ecef; opacity: 1;}