/*----------------------------
         Add CSS file
----------------------------*/
@import "../bootstrap/css/bootstrap.min.css";
@import 'font-awesome/css/font-awesome.css';
@import '../plugins/owlcarousel/css/owl.carousel.css';
@import 'datepicker.css';
@import 'flaticon/font/flaticon.css';



/*----------------------------
Add font
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@font-face{ font-family: TrioGrotesk; src: url(fonts/Trio_Grotesk_Medium.otf);}

/*----------------------------
   element      
----------------------------*/
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html { text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;}
.nopadding-left{padding-left:0;}
.nopadding-right{padding-right:0;}
.nopadding{padding-left:0;padding-right:0;}
.mb10{padding-left:10px;padding-right:10px;}
.tabbody{margin-right: -10px; margin-left: -10px;}
*{margin:0; padding:0}
a{ text-decoration:none; color:#9e5bbd;}
a:hover{ text-decoration:none !important;}
header, nav, section, article, aside, footer { display:block;}
html {font-size: 100%;}
body {font-size: 12px;font-family: 'Open Sans', sans-serif;line-height: 26px;color: #484848;-webkit-font-smoothing: antialiased;font-weight: normal;}
h1, h2, h3, h4, h5, h6 {padding: 5px 0 15px 0;color: #333;font-weight: normal;-webkit-font-smoothing: antialiased;}
:-ms-input-placeholder{color: #000;}
/*----------------------------
         HEADER TOP
------------------------*/

::-webkit-scrollbar { width:8px; height: 8px;}
::-webkit-scrollbar-button {  background-color: #fff; }
::-webkit-scrollbar-track {  background-color: #fff;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 30px; background-color: #a044f1; border-radius: 0px;}
::-webkit-scrollbar-corner {   background-color:#fff;}
::-webkit-resizer {/* background-color: #999;*/}




/* Atribute Navigation =================================*/ 
/*----------------------------
         HEADER MAIN NAVBAR
----------------------------*/
.header {position: relative;clear: both;display: inline-block;width: 100%;z-index: 99;/*background: #29054a;*/ border-bottom:solid 1px #eaebec;}
header.fixed{position:fixed; background: #fff;box-shadow: 0 0 30px rgba(217, 224, 249, 0.31);}
.header .container{max-width: 95%}
.logo {display: inline-block; width: 200px; } 
.logo img{width: 100%}
.fixed  .login-btn {color:#fff  !important;}


/*** 
====================================================================
  navigation
====================================================================
***/
.main-menu .navbar{ padding: 0px 1rem;}
.main-menu .navbar-nav {position: relative; margin: 0px; }
.main-menu .navbar-nav > li{position:relative;padding: 15px 10px;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;} 
.main-menu .navbar-nav > li > a{position:relative;display:block;color: #9e5bbd;text-align:center;line-height:25px;letter-spacing:0px;opacity:1;font-weight:normal;font-size:10px;text-transform:uppercase;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease; font-family:TrioGrotesk;} 
.main-menu .navbar-nav > li.dropdown > a{padding-right: 15px; } 
.main-menu .navbar-nav > li > ul{position:absolute; left:0px; top:120%; width:240px; padding:0px; z-index:100; display:none; background:#ffffff; border-top:2px solid #fcc005; -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); }
.main-menu .navbar-nav > li > ul > li{position:relative; width:100%; border-bottom:1px solid rgba(0,0,0,0.10); } 
.main-menu .navbar-nav > li > ul > li:last-child{border-bottom:none; } 
.main-menu .navbar-nav > li > ul > li > a{position:relative; display:block; padding:10px 15px; line-height:24px; font-weight:400; font-size:12px; text-transform:capitalize; color:#292929; -moz-transition:all 300ms ease; -webkit-transition:all 300ms ease; -ms-transition:all 300ms ease; -o-transition:all 300ms ease; transition:all 300ms ease; } 
.main-menu .navbar-nav > li > ul > li:hover > a{color:#ffffff; background:#fcc005; } 
.main-menu .navbar-nav > li > ul > li.dropdown > a:after{font-family: 'Fontawesome'; content: "\f105"; position:absolute; right:10px; top:12px; width:10px; height:20px; display:block; color:#292929; font-weight: 900; line-height:20px; font-size:16px; text-align:center; z-index:5; } 
.main-menu .navbar-nav > li > ul > li.dropdown:hover > a:after{color:#ffffff; } 
.main-menu .navbar-nav > li > ul > li > ul{position:absolute; left:100%; top:20px; width:240px; padding:0px; z-index:100; display:none; background:#ffffff; border-top:2px solid #fcc005; -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); } 
.main-menu .navbar-nav > li > ul > li > ul > li{position:relative; width:100%; border-bottom:1px solid rgba(0,0,0,0.10); } 
.main-menu .navbar-nav > li > ul > li > ul > li:last-child{border-bottom:none; } 
.main-menu .navbar-nav > li > ul > li > ul > li > a{position:relative; display:block; padding:10px 15px; line-height:24px; font-weight:400; font-size:14px; text-transform:capitalize; color:#292929; -moz-transition:all 300ms ease; -webkit-transition:all 300ms ease; -ms-transition:all 300ms ease; -o-transition:all 300ms ease; transition:all 300ms ease; } 
.main-menu .navbar-nav > li > ul > li > ul > li:hover > a{color:#ffffff; background:#fcc005; } 
.main-menu .navbar-nav > li > ul > li > ul > li.dropdown > a:after{font-family: 'FontAwesome'; content: "\f105"; position:absolute; right:10px; top:11px; width:10px; height:20px; display:block; color:#292929; line-height:20px; font-size:16px; font-weight:normal; text-align:center; z-index:5; } 
.main-menu .navbar-nav > li > ul > li > ul > li.dropdown:hover > a:after{color:#ffffff; } 
.main-menu .navbar-nav > li.dropdown:hover > ul{visibility:visible; opacity:1; top:100%; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; -o-transition: all 300ms ease; transition: all 300ms ease; } 
.main-menu .navbar-nav > li.dropdown:hover > ul{-webkit-transition: all 300ms ease;-moz-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;transition: all 300ms ease;} 
.main-menu .navbar-nav > li > ul{position:absolute; left:0px; top:100%; width:220px; padding:0px 0px; z-index:100; background:#2b2b2b; border-top:2px solid #5cb1c9; -webkit-transform:scaleY(0); -ms-transform:scaleY(0); -moz-transform:scaleY(0); transform:scaleY(0); -webkit-transform-origin:top; -ms-transform-origin:top; -moz-transform-origin:top; transform-origin:top; -webkit-transition:all 300ms ease; -ms-transition:all 300ms ease; -moz-transition:all 300ms ease; transition:all 300ms ease; -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); } 
.main-menu .navbar-nav > li > ul.from-right{left:auto; right:0px; } 
.main-menu .navbar-nav > li > ul > li{position:relative; width:100%; border-bottom:1px solid rgba(255,255,255,0.10); } 
.main-menu .navbar-nav > li > ul > li:last-child{border-bottom:none; }
.main-menu .navbar-nav > li > ul > li > a{position:relative; display:block; padding:10px 20px; line-height:24px; font-weight:400; font-size:12px; color:#ffffff; text-align:left; text-transform:capitalize; transition:all 500ms ease; -moz-transition:all 500ms ease; -webkit-transition:all 500ms ease; -ms-transition:all 500ms ease; -o-transition:all 500ms ease; } 
.main-menu .navbar-nav > li > ul > li:hover > a{color:#ffffff; background:#5cb1c9; } 
.main-menu .navbar-nav > li > ul > li > ul{position:absolute; left:100%; top:-2px; width:220px; padding:0px; z-index:100; display:none; background:#2b2b2b; border-top:2px solid #fcc005; -webkit-transform:scaleY(0); -ms-transform:scaleY(0); -moz-transform:scaleY(0); transform:scaleY(0); -webkit-transform-origin:top; -ms-transform-origin:top; -moz-transform-origin:top; transform-origin:top; -webkit-transition:all 300ms ease; -ms-transition:all 300ms ease; -moz-transition:all 300ms ease; transition:all 300ms ease; -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05); } 
.main-menu .navbar-nav > li > ul > li > ul > li{position:relative; width:100%; border-bottom:1px solid rgba(255,255,255,0.10); } 
.main-menu .navbar-nav > li > ul > li > ul > li:last-child{border-bottom:none; } 
.main-menu .navbar-nav > li > ul > li  > ul > li > a{position:relative; display:block; padding:10px 20px; line-height:24px; font-weight:400; font-size:14px; color:#ffffff; text-align:left; text-transform:capitalize; transition:all 500ms ease; -moz-transition:all 500ms ease; -webkit-transition:all 500ms ease; -ms-transition:all 500ms ease; -o-transition:all 500ms ease; } 
.main-menu .navbar-nav > li > ul > li  > ul > li > a:hover{color:#ffffff; background:#5cb1c9; } 
.main-menu .navbar-nav > li.dropdown:hover > ul{-webkit-transform:scaleY(1);-ms-transform:scaleY(1);-moz-transform:scaleY(1);transform:scaleY(1);top:100%;display:  block;} 
.main-menu .navbar-nav li > ul > li.dropdown:hover > ul{-webkit-transform:scaleY(1); -ms-transform:scaleY(1); -moz-transform:scaleY(1); transform:scaleY(1); visibility:visible; opacity:1; transition:all 500ms ease; -moz-transition:all 500ms ease; -webkit-transition:all 500ms ease; -ms-transition:all 500ms ease; -o-transition:all 500ms ease; } 
.fixed .main-menu .navbar-nav > li > a{color: #000;}
.login-btn{
	margin-bottom: 0; padding:2px 30px;  background-color: #c3e66c; font-size: 10px; color: #fff !important; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; 
	/*box-shadow: 0 4px 15px 0 rgba(255, 152, 0, 0.38); border-radius: 50px; background: rgb(255,211,19); background: -moz-linear-gradient(left, rgba(255,211,19,1) 0%, rgba(255,152,0,1) 100%); background: -webkit-linear-gradient(left, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%); background: linear-gradient(to right, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd313', endColorstr='#ff9800',GradientType=1 );*/
}
.login-btn a{ color:#ffffff;}

.profile_menu .dropdown-item{ font-size:14px; padding:padding: .25rem 1rem;}
#profile_photo, .profile_no_avatar {
    width: 26px;
    height: 26px;
    margin-left: 5px;
    border: 2px solid #c3e66c;
    border-radius: 50%;
}
.header_bg{
	margin: 0px; padding: 90px 0px 78px; 
	background-color: transparent; background-position: 50% -12px;
}
#cs-content .x-section.bg-image.parallax{ background-attachment: fixed;}
#cs-content .x-section.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
}
.page_heading{ color: hsl(0, 0%, 100%);font-size: 30px;line-height: 42px;letter-spacing: -0.03em; font-family:TrioGrotesk;}
.breadcrumbs span, .breadcrumbs span a{ color:#ffffff; font-size:12px;}

/***====================================================================
	login forms
====================================================================***/
.user-infor-section {padding: 40px 0 0 0;    background:url(../images/slider.jpg); position: relative; overflow: hidden;} 
.user-infor-section:before{background: url(../images/pattern.png) repeat;position: absolute;content: '';top: 0;right:  0;left: 0;bottom:  0;}
.we-login-content-box {padding:2em 2em 0em 2em;position: relative; display: block;  box-shadow:0 10px 40px rgba(15,60,216,.2); background: #fff; }
.we-login-content-top h1{font-family: 'Open Sans', sans-serif;font-weight: bold;font-size:32px;color: #fff;margin-top: 0;text-align: left;} 
.we-login-content-top p {text-align: left; line-height: 28px; color: #fff; font-size: 14px; letter-spacing: 0.5px; } 
.text-content p{ color:#4b4b4b; font-size:14px;}
.text-content h2{
	font-family: 'Open Sans',sans-serif;
    font-size: 25px;
    font-weight: 800;
    padding: 10px 0px;
}
.our_story{ margin-top:65px;}
.testimonial-section{ padding:30px 0 50px 0; background:url(../images/testimonial_bg-min.jpg); background-position: 50% 13px; background-size: cover;}
.testimonial-section .heading-aera h1{ margin-bottom:0px;text-transform:uppercase; letter-spacing:2px;}
.testimonial-section .item .testimonal-item-element {
    position: relative;
    background: #fff;
    border-radius: 10px;
    margin-top: 35px;
    padding: 50px 35px 20px;
}
.testimonial-section .item .avatar{
	position: absolute;
    top: -35px;
    left: 35px;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.testimonial-section .item .entry-content{
	font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: #252525;
    margin-bottom: 10px;
}
.testimonial-section .item .title{
    margin: 0;
    font-size: 14px;
    color: #9e5bbd;
	padding-bottom:5px;
	font-weight:600;
}
.testimonial-section .item .sub-title{
	font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
    color: #8799a3;
}

.social-login-box {margin:20px 0; }
.facebook-btn{ font-size: 11px;margin-bottom:10px;font-weight: bold;text-align: center;color: #385c8e;background-color: #fff;cursor: pointer;width: 49%;padding:8px 5px;display:  inline-block;vertical-align:  middle;box-shadow: 0px 0px 6px #e4e4e4;text-transform:  uppercase;border-radius:  3px;border: 1px solid #385c8e;}
.google-btn {font-size: 11px;margin-bottom:10px;font-weight: bold;text-align: center;color: #f14336;background-color: #fff;cursor: pointer;width: 48%;padding: 8px 5px;display:  inline-block;vertical-align:  middle;box-shadow: 0px 0px 6px #e4e4e4;text-transform: uppercase;border-radius: 3px;border: 1px solid #f14336; margin-left:5px;}
.facebook-btn span,
.google-btn span {padding-right: 5px; vertical-align: middle; margin-left: -5px; } 
.facebook-btn:hover{color: #385c8e;}
.google-btn:hover{color: #f14336;}

.or{margin: auto;padding-top: 0px;padding-bottom: 40px;width: 100%;height: 12px;color: #4c52606b;font-size: 12px;font-weight: 500;line-height: 13px;} 
.panel__divider{width: 100%; position: relative; margin: auto; overflow: hidden; vertical-align: middle; text-transform: uppercase; font-size: 12px; font-weight: 700;    text-align: center; } 
.panel__divider:after, 
.panel__divider:before{display: inline-block;position: relative;background-color: #4c52601c;width: 100px;height: 1px;vertical-align: middle;content: '';} 
.panel__divider:after{right: 15px; margin-left: -50%; } 
.panel__divider:before{left: 15px; margin-right: -50%; }


.we-login-content-section {padding: 20px 30px;display: flex;align-items: center;height: 100%;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}

.main-inner{padding: 5em 0;}
.we-heading h2 {text-align: left;font-weight: bold;font-size: 24px;color: #fff;margin:  0;letter-spacing:  0.5px;} 
.we-heading p{text-align: left;line-height:28px;color: #484848;font-size: 13px;letter-spacing: 0.5px;font-style:  italic;} 

.we-form-box .form-group{ position: relative; margin-bottom: 25px;}

.we-form-box input.form-control:focus ~ label,
.we-form-box input.form-control:not(:focus):valid ~ label{ top: -35px;opacity: 1; color: #000;}
.we-form-box label{color:#e6e6e6;font-size: 13px;position: absolute;pointer-events: none;left: 0;top: 0;-webkit-transition: .2s ease all;-moz-transition: .2s ease all;transition: .2s ease all;padding: 10px;text-transform:  uppercase;font-weight: 600;}

.we-form-box  input.form-control{color: #000;display: block;padding: 10px;width: 100%;transition: all 700ms ease 0s;background: #ffffff;border: 1px solid #ebebec;font-size: 14px;outline:  none;}
.we-form-box  input.form-control:focus {color: #000;border: 1px solid #a044f1;box-shadow: 0px 0px 6px #e4e4e4;}
.pricing_area input.pricing_area-input{padding: 10px 10px 10px 45px;}
.we-form-box {padding: 10px 0;}


.we-form-box label.checkbox-inline{text-align: center;line-height:28px;color: #010101;font-size: 14px;} 

.Submit-form-button{
border: solid 2px #c3e66c;
    color: #c3e66c;
    padding: 7px 40px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    background: transparent;
    font-family: TrioGrotesk;text-align: center; cursor: pointer;} 
.Submit-form-button:hover {color: #fff;background: #c3e66c;}
.login-form-link1{text-align: center; font-size:14px; padding-top:15px;}
.login-form-link1 a{color: #000; text-align: center; margin-left:10px; padding:5px 10px; text-transform:normal;}
._161wlni {position: relative;z-index: 1;bottom: 0px;left: 0px;width: 100%;height: 200px;background-repeat: no-repeat;background-image: -webkit-linear-gradient(-180deg, rgba(247,247,247,0.00) 0%, rgba(247,247,247,0.67) 60%, rgba(255, 255, 255, 0.88) 80%, rgb(255, 255, 255) 100%);background-image: -moz-linear-gradient(-180deg, rgba(247,247,247,0.00) 0%, rgba(247,247,247,0.67) 60%, rgba(255, 255, 255, 0.88) 80%, rgb(255, 255, 255) 100%);background-image: linear-gradient(-180deg, rgba(247,247,247,0.00) 0%, rgba(247,247,247,0.67) 60%, rgba(255, 255, 255, 0.88) 80%, rgb(255, 255, 255) 100%);} .av-space-box-section {background: #fff;}
.av-space-box-section {background: #fff; position:relative;    padding: 20px 0; }
.space-box-info{ background: #fff;padding: 20px;position: relative;width: 100%;border-radius: 8px;-webkit-box-shadow: 0 15px 50px rgba(15,60,216,.2);box-shadow: 0 15px 50px rgba(15,60,216,.2);border: 1px solid #dfc2f9; min-height:240px;}
.space-box-info h2 {text-align: left;font-weight: 700;font-size: 18px;color: #232323;margin:  0;letter-spacing:  0.5px;} 
.space-box-info p{text-align: left;line-height:28px;color: #999999;font-size: 13px;letter-spacing: 0.5px;font-style:  italic;} 


 .Marketplace-step-box {padding: 10px; background: #00000078; border: 1px solid #2d2722; border-radius: 12px; }
 .Marketplace-step-box h4 {text-align: left;font-weight: 700;font-size: 16px;color: #fff;margin:  0;letter-spacing:  0.5px;} 
.Marketplace-step-box p{text-align: left;line-height:28px;color: #fff;font-size: 13px;letter-spacing: 0.5px;font-style:  italic;} 
.Marketplace-section  .col-md-4.col-lg-4.col-sm-4{padding-right: 10px; padding-left: 10px;}

ul.Marketplace-page-list{list-style-type: none;margin:35px 0 20px 0;padding: 0;display:  inline-block;}
ul.Marketplace-page-list li {font-family: 'Open Sans',sans-serif;color: #fff;font-size: 14px;font-weight: 300;letter-spacing: 1px;line-height: 30px;border: none;box-shadow:  none;padding: 0;background:  none;margin: 0;width: 100%;display:  inline-block;}
ul.Marketplace-page-list li span{margin-right: 10px;}

/***
====================================================================
	slider
====================================================================
***/

.main-slider-content .container{max-width: 95%}

.av-slider-info-box{position: relative; overflow: hidden;} 
.main-slider-bg{ background: url(../images/slider.jpg); }
.main-slider-section{height: 580px; min-height:580px; overflow: hidden;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; width: 100%; } 
.main-slider-img-fluid{left: 0; position: absolute; width: 100%; display: block; height: auto; top: 0; right: 0; bottom: 0; } 
.main-slider-content{padding: 20px;  -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;text-align: center;width: 100%;background-position: center;background-size: cover;display: flex;position: relative;z-index: 9;height: 100%;align-items:  center;}
.main-slider-section:before {position: absolute; left: 0; top: 0; height: 100%; width: 100%; background-image: url(../images/pattern.png); background-repeat: repeat; content: ""; z-index: 1; }
 .main-slider-content-inner{height:100%;width:100%;margin: 0px auto 0}
.slider-content-aera h1 {font-size: 30px; line-height: 50px; font-weight: 700; color: #fff; font-family: 'Open Sans', sans-serif; }
.slider-content-aera p{margin: 0 auto 30px;color: #e1e5ec;font-size: 18px;line-height: 32px;font-weight: 300;font-family: 'Open Sans', sans-serif;}
.slider-content-aera {height:100%; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.button-book-main{ border: solid 2px #c3e66c;
    color: #c3e66c;
    padding: 7px 20px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    background: transparent;
    font-family: TrioGrotesk; }
.button-book-main:hover{ background:#c3e66c; color:#ffffff;}
.button-Video-main {background: rgb(103,185,204);background: -moz-linear-gradient(left, rgba(103,185,204,1) 0%, rgba(0,114,176,1) 100%);background: -webkit-linear-gradient(left, rgba(103,185,204,1) 0%,rgba(0,114,176,1) 100%);background: linear-gradient(to right, rgba(103,185,204,1) 0%,rgba(0,114,176,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b9cc', endColorstr='#0072b0',GradientType=1 );box-shadow: 0 4px 15px 0 rgba(7, 119, 178, 0.56);margin-bottom: 0;padding: 15px 40px;border-radius: 50px;font-size: 14px;color: #ffffff !important;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;} 

/***
====================================================================
	Search
====================================================================
***/
.av-search-content-box .we-heading h2 {text-align: left;font-weight: bold;font-size: 30px;color: #fff;margin:0 0 .5rem 0;letter-spacing:  0.5px;} 
.av-search-content-box .we-heading p{text-align: left;line-height:28px;color: #999999;font-size: 13px;letter-spacing: 0.5px;font-style:  italic;} 

.search-section {position: absolute; z-index: 9; top: 10%; left: 0; right: 0; bottom: 10%; } 
.av-search-content-box {padding: 20px; display: block; width:100%; position: relative; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; background: rgba(0, 0, 0, 0.36); -webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.5); -moz-box-shadow: 0 0 0 2px rgba(0,0,0,0.5); box-shadow: 0 0 0 2px rgba(0,0,0,0.5); } 
.av-search-form-box .form-group{position: relative; text-align: left; margin-bottom: 30px;}

.av-search-form-box input.form-control:focus ~ label,
.av-search-form-box input.form-control:not(:focus):valid ~ label{ top: -35px;opacity: 1;color: #fff;}
.av-search-form-box label{color: #666;font-size: 14px;position: absolute;pointer-events: none;left: 0;top: 0;-webkit-transition: .2s ease all;-moz-transition: .2s ease all;transition: .2s ease all;padding: 8px;font-weight: 500;}

.av-search-form-box  input.form-control{color: #000;display: block;padding: 10px;width: 100%;transition: all 700ms ease 0s;background: #ffffff;border: 1px solid #ebebec;font-size: 14px;outline:  none;}
.av-search-form-box input.form-control:focus {color: #000;border: 1px solid #a044f1;box-shadow: 0px 0px 6px #e4e4e4;}

.datepicker-box:after{color: #b5b5b5; font-family: FontAwesome; position: absolute; pointer-events: none; right: 12px; transform: translateY(-50%); top: 50%; font-size: 15px; font: normal normal normal 14px/1 FontAwesome; content: "\f073"; }
/***
====================================================================
	footer
====================================================================
***/
.how-it-work{padding: 20px 0; background:url(../images/how-bg.png);}
.how-it-work .heading-aera{margin-bottom: 40px;}
.how-it-work .heading-aera h1 {font-family: 'Open Sans',sans-serif;font-size: 25px;font-weight: 800;padding: 10px 0px;position: relative;z-index: 1;color: #000;margin-top: 0;text-align:  center;}
.how-it-work .heading-aera p {font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: center;line-height: 30px;     /* fallback */      /* fallback */ /* number of lines to show */}


.how-it-work-box {width: 100%; display: inline-block; background-color: #fff; padding: 30px; position: relative; margin-bottom: 30px;-webkit-box-shadow: 0 0px 24px rgba(15,60,216,.2);
    box-shadow:0 0px 24px rgba(15,60,216,.2); } 
.how-it-work-box-inner {padding:15px; text-align: center; position: relative;border: 1px solid #eee;     min-height: 320px;}
.how-it-work-box-icon {margin-bottom: 25px; display: inline-block; position: relative; z-index: 9; }
.how-it-work-box-inner h4 {font-size: 18px; padding-bottom: 0px; position: relative; margin-top: 0; margin-bottom: 25px; font-family: 'Open Sans',sans-serif; font-weight: 800; color: #000; padding-top: 0; }

.how-it-work-box-inner p {font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}


/***
====================================================================
	hot deals
	====================================================================
***/
.av-hotdeals-section{padding: 20px 0; background:#fcfcfc;}
.av-hotdeals-section .heading-aera{margin-bottom: 40px;}
.av-hotdeals-section .heading-aera h1 {font-family: 'Open Sans',sans-serif;font-size: 25px;font-weight: 800;padding: 10px 0px;position: relative;z-index: 1;color: #000;margin-top: 0;text-align:  center;}
.av-hotdeals-section .heading-aera p {font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: center;line-height: 30px;     /* fallback */      /* fallback */ /* number of lines to show */}
.pin .wrapper{ background: none; }

.hotdeals-wrap{background-color: #fff; border-radius: 5px; -webkit-box-shadow: 0 0px 24px rgba(15,60,216,.2); box-shadow: 0 0px 24px rgba(15,60,216,.2); position: relative; margin-bottom: 30px; } 

.hotdeals-wrap-media img {max-width: 100%; height: auto; transition: all .4s linear 0s; -webkit-transition: all .4s linear 0s; }
.hotdeals-wrap-media {position: relative;overflow: hidden;background: #670cb7; height: 250px; border-radius: 5px 5px 0 0;}
.hotdeals-wrap-media:before {border-bottom: 1px solid #ffffff;border-top: 1px solid #ffffff;-webkit-transform: scale(0, 1);-ms-transform: scale(0, 1);-o-transform: scale(0, 1);transform: scale(0, 1);}
.hotdeals-wrap-media:after, 
.hotdeals-wrap-media:before {bottom: 15px;content: "";left: 15px;position: absolute;right: 15px;top: 15px;-webkit-transition: all .6s ease-in-out;-moz-transition: all .6s ease-in-out;-ms-transition: all .6s ease-in-out;-o-transition: all .6s ease-in-out;transition: all .6s ease-in-out;z-index: -10;}
.hotdeals-wrap-media:after {border-left: 1px solid #ffffff;border-right: 1px solid #ffffff;-webkit-transform: scale(1, 0);-ms-transform: scale(1, 0);-o-transform: scale(1, 0);transform: scale(1, 0);}
.hotdeals-wrap-media img {-webkit-transition: all .6s ease-in-out;-moz-transition: all .6s ease-in-out;-ms-transition: all .6s ease-in-out;-o-transition: all .6s ease-in-out;transition: all .6s ease-in-out;max-width: 450px;}
.hotdeals-wrap:hover .hotdeals-wrap-media::before {opacity: 1;-webkit-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);z-index: 9;}
.hotdeals-wrap:hover .hotdeals-wrap-media::after {opacity: 1;-webkit-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);z-index: 9;}
.hotdeals-wrap:hover .hotdeals-wrap-media img {-webkit-transform: scale(1.05);-ms-transform: scale(1.05);-o-transform: scale(1.05);transform: scale(1.05);opacity: 0.8;}
.hook-reviews {bottom: 10px;text-align: center;left: 0;position: absolute;transition: all 300ms ease 0s;width: 100%;z-index: 2;}
.single-item:hover .hook-reviews {opacity: 0;}
.hook-reviews i {color: #ffaa0f;}
.hook-reviews i.black {color: #262626;}
.rating-box{ display:none;}
.hotdeals-wrap-content {bottom:20px; left: 0; position: absolute; right: 0; text-align: center; }

.hotdeals-wrap-content-body{position: relative; padding: 10px; }
.hotdeals-wrap-content-body h2 {text-align: center; color: #d1d5e6; font-style: italic; font-size: 14px; letter-spacing: 0.5px;margin:0; padding: 0 0 10px 0 }
.hotdeals-wrap-content-body h1 {text-align: center; color: #000; font-weight: bold; font-size: 16px; letter-spacing: 0.5px; margin:0; }

.hotdeals-wrap-content-info {border-bottom: 1px solid #eee; padding: 15px 0; }
.hotdeals-info-list{ list-style:none; margin:0; padding:0; text-align:left;}
.hotdeals-info-list li{ display:inline-block; position:relative; padding:0 3px;    vertical-align: text-top;}
.hotdeals-box-widget{display: inline-block;position:relative;}
.hotdeals-box-widget-icon{left: 0;position: absolute;top: 0px;}
.hotdeals-box-widget-content {padding-left: 10px;margin-left: 35px;border-left:1px solid #000;}
.hotdeals-box-widget-icon{text-align: center;}
.hotdeals-box-widget-icon i{ font-size:25px; text-align:center; color:#000;}
.hotdeals-box-widget-title{margin: 0;padding-bottom:0px;padding-top: 0;font-size:  13px;font-weight:  500;letter-spacing:  0.5px;color:  #000;}
.hotdeals-box-widget-sub-title{margin-bottom:0;line-height: normal;font-size: 14px;text-align: left;color: #000;font-weight:  bold;}

.hotdeals-wrap-content-footer {padding: 10px 0; } 
.price>div {color: #000; display: inline-block; line-height: 1.5; vertical-align: middle; }
.price ins {font-size: 30px; font-weight: 600; text-decoration: none; } 
.price>div span {display: block; font-size: 10px; line-height: 0; font-weight: 600; margin-left: 5px; }

.btn-view{font-weight: 600;overflow: hidden;padding: 10px 35px;position: relative;border-radius: 4px;display: inline-block;font-size: 14px;text-transform: uppercase;background: rgb(159,67,239);background: -moz-linear-gradient(left, rgba(159,67,239,1) 0%, rgba(98,7,178,1) 100%);background: -webkit-linear-gradient(left, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);background: linear-gradient(to right, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f43ef', endColorstr='#6207b2',GradientType=1 );color: #fff;outline: none;text-align: center;box-shadow: 0 4px 15px 0 rgba(152, 60, 232, 0.42);}
.btn-view:hover{color: #fff;}

/***
====================================================================
	Popular Activities
====================================================================
***/



.av-activities-section {background-color: #f7f7f7; padding: 50px 0;}
.av-activities-section .section-title .big-title {margin-bottom: 30px; }

.av-activities-section .section-title .custom-btn {-webkit-box-shadow: 0 5px 60px 5px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 60px 5px rgba(0, 0, 0, 0.2); }

.about-section .activities-item-wrapper{padding-left: 50px; }
.av-activities-section  .activities-item-wrapper ul {width: 100%; display: table; border-top: 1px solid #f0f0f0; border-left: 1px solid #f0f0f0; }
.av-activities-section  .activities-item-wrapper ul li {height: 213px; width: 33.333%; background-color: #ffffff; border-right: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; }
.av-activities-section  .activities-item-wrapper ul li .activities-item {width: 100%; height: 100%; display: block; padding:60px 30px; text-align: center; position: relative; }
.av-activities-section  .activities-item-wrapper ul li .activities-item:before {top: 0;left: 0;right: 0;bottom: 0;opacity: 0;content: '';z-index: -1;position: absolute;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;background: rgb(119,36,193);background: -moz-linear-gradient(top, rgba(119,36,193,1) 0%, rgba(158,67,239,1) 100%);background: -webkit-linear-gradient(top, rgba(119,36,193,1) 0%,rgba(158,67,239,1) 100%);background: linear-gradient(to bottom, rgba(119,36,193,1) 0%,rgba(158,67,239,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7724c1', endColorstr='#9e43ef',GradientType=0 );}
.av-activities-section  .activities-item-wrapper ul li .activities-item .activities-item-icon{display: table; margin: 0 auto 30px; }
.av-activities-section  .activities-item-wrapper ul li .activities-item .activities-item-icon i {font-size:70px;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;-webkit-background-clip: text !important;-webkit-text-fill-color: transparent !important;background: rgb(159,67,239);background: -moz-linear-gradient(left, rgba(159,67,239,1) 0%, rgba(98,7,178,1) 100%);background: -webkit-linear-gradient(left, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);background: linear-gradient(to right, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f43ef', endColorstr='#6207b2',GradientType=1 );}
.av-activities-section  .activities-item-wrapper ul li .activities-item .title {width: 100%; display: block; font-weight: 700; color: #333333; font-size: 18px; font-family: "Roboto", sans-serif; text-transform: capitalize; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.av-activities-section .activities-item-wrapper ul li .activities-item .sub-title {color: #878787; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.av-activities-section .activities-item-wrapper ul li:hover .activities-item {z-index: 1; -webkit-transform: scale(1.03); -ms-transform: scale(1.03); transform: scale(1.03); } 
.av-activities-section .activities-item-wrapper ul li:hover .activities-item:before {opacity: 1; } 
.av-activities-section .activities-item-wrapper ul li:hover .activities-item .activities-item-icon i {background: transparent; -webkit-background-clip: text !important; -webkit-text-fill-color: #ffffff !important; } 
.av-activities-section .activities-item-wrapper ul li:hover .activities-item .activities-item-content h1 {color: #ffffff; } 
.activities-item-content h1{font-size: 18px; padding-bottom: 0px; position: relative; margin-top: 0; margin-bottom: 25px; font-family: 'Open Sans',sans-serif; font-weight: 800; color: #000; padding-top: 0; }




.ul-li ul, .ul-li-block ul {margin: 0px; padding: 0px; } 
.ul-li ul li {margin: 0; padding: 0; float: left; list-style: none; display: inline-block; } 
.ul-li-block ul li {margin: 0; padding: 0; display: block; list-style: none; }

.activities-section-title h3 {font-size: 16px;padding-bottom: 0px;position: relative;margin-top: 0;margin-bottom: 25px;font-family: 'Open Sans',sans-serif;font-weight: 600;color: #939292;padding-top: 0;text-transform:  uppercase;letter-spacing: 1px;}
.activities-section-title h2 {font-size: 30px;padding-bottom: 0px;position: relative;margin-top: 0;margin-bottom: 25px;font-family: 'Open Sans',sans-serif;font-weight: 600;color: #000;padding-top: 0;}

.activities-section-title p{font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}

.custom-btn {font-weight: 600;overflow: hidden;padding: 10px 35px;position: relative;border-radius: 50px;display: inline-block;font-size: 14px;text-transform: uppercase;background: rgb(159,67,239);background: -moz-linear-gradient(left, rgba(159,67,239,1) 0%, rgba(98,7,178,1) 100%);background: -webkit-linear-gradient(left, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);background: linear-gradient(to right, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f43ef', endColorstr='#6207b2',GradientType=1 );color: #fff;outline: none;text-align: center;box-shadow: 0 4px 15px 0 rgba(152, 60, 232, 0.42);}
/***
====================================================================
	About
====================================================================
***/

.av-about-section{padding: 30px 0;}

.av-about-content{box-shadow: 0 0 30px #eee; border-bottom: 3px solid #9e68f0; }
.about-content-box {background: #fff; padding: 30px;}
.about-content-box h1 {font-size: 18px;position: relative;margin: 0;font-family: 'Open Sans',sans-serif;font-weight: bold;color: #000;}
.about-content-box p{font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}

.bg-about {background: url(../images/list-space-bg.jpg);}
.bg-about h1 {color: #fff;}
.bg-about p{color: #fff;}
.padd-10{padding-left: 10px;padding-right: 10px;}
.padd-5{padding-left: 5px;padding-right: 5px;}

/***
====================================================================
	Sponsors
====================================================================
***/
.av-sponsors-section{padding: 30px 0; background:#fff;}
.av-sponsors-section .heading-aera{margin-bottom: 40px;}
.av-sponsors-section .heading-aera h1, .testimonial-section .heading-aera h1{font-family: 'Open Sans',sans-serif;font-size: 25px;font-weight: 800;padding: 10px 0px;position: relative;z-index: 1;color: #000;margin-top: 0;text-align:  center;}
.av-sponsors-section .heading-aera p, .testimonial-section .heading-aera p {font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: center;line-height: 30px;     /* fallback */      /* fallback */ /* number of lines to show */}

.sponsor-logo-content{ background:#f7f7f7; padding:10px;  text-align: center; }
.sponsor-logo-content img{text-align: center;width: auto !important;margin:  0 auto;}

#sponsors-owl-carousel .owl-nav {text-align: center;position: absolute;left: 0;right: 0;top: 0;bottom: 0;}
#sponsors-owl-carousel .owl-nav div,
#sponsors-owl-carousel .owl-nav button {position: absolute;}
#sponsors-owl-carousel .owl-nav .owl-prev{left: 0;top: 30%;}
#sponsors-owl-carousel .owl-nav .owl-next {right: 0px;top: 30%;}


#sponsors-owl-carousel .owl-dots {position: absolute;top: 100%;right: 0;left:  0;}

#sponsors-owl-carousel .owl-nav [class*=owl-] {color: #670cb7;font-size: 35px;display: inline-block;cursor: pointer;text-transform:uppercase;font-weight:600;background:  #fff;width:  50px;height: 50px;line-height: 50px;}

#sponsors-owl-carousel .owl-dots, 
#sponsors-owl-carousel .owl-nav {text-align: center;-webkit-tap-highlight-color: transparent;}
#sponsors-owl-carousel .owl-dots .owl-dot {display: inline-block;zoom: 1;}
#sponsors-owl-carousel .owl-dots .owl-dot span {width: 30px;height: 5px;margin: 5px 7px;background:#f7f7f7;display: block;-webkit-backface-visibility: visible;transition: opacity .2s ease;border-radius:0px;}
#sponsors-owl-carousel .owl-dots .owl-dot.active span, 
#sponsors-owl-carousel .owl-dots .owl-dot:hover span {background: #670cb7;}






/***
====================================================================
	footer
====================================================================
***/

.special-offer-section {
padding: 30px 0px;
color: #ffffff;
background-size: cover;
background-repeat: no-repeat;
background-position: center center; }
.special-offer-section .special-offer-content h2 {color: #ffffff;font-size: 30px;padding-bottom: 0px;position: relative;margin-top: 0;margin-bottom: 25px;font-family: 'Open Sans',sans-serif;font-weight: 600;padding-top: 0;}
.special-offer-section .special-offer-content p {
    font-family: 'Open Sans',sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 27px;
}
.special-offer-section .special-offer-content h2 strong {
font-size: 54px;
font-weight: 900;
color: #ffbe30; }
.special-offer-section .special-offer-content h2 span {
font-weight: 900; }
.special-offer-section .event-makeing-btn {padding: 60px 0px;text-align: right;display:  flex;align-items:  center;}

.special-offer-section .event-makeing-btn a{ border: solid 2px #c3e66c; margin:0 2px;padding: 7px 15px;text-align: center; border-radius: 4px;color: #c3e66c;font-size: 10px; font-family: TrioGrotesk;text-transform: uppercase;display:  inline-block;}

.special-offer-section .event-makeing-btn a:hover {
color: #ffffff;
background-color: #c3e66c; }




/***
====================================================================
	footer
====================================================================
***/
.footer { padding:2em 0 1em 0; background-color: #272727; }
.footer .container {
    max-width: 95%;
}
.footer-title{position: relative; margin-bottom:30px;}
.footer-title h2{font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 18px;color: #fff;line-height: 24px;margin-top: 0;border-bottom: 1px solid #313131;text-align:  center;text-transform:  uppercase;} 
.footer-title h2:after {position: absolute;content: '';width: 87px; margin:0 auto;right: 0;height: 1px;left: 0px;bottom: 0px;background-color:#fff;}
.footer-links{ margin:0; padding:0;}
.footer-links ul{ margin:0; padding:0; list-style:none;}
.footer-links li {display: inline-block;width: 100%;text-align:  left;border-bottom: 1px solid #313131;padding: 5px;}
.footer-links li a {color: #fff;padding: 0 15px;font-family: 'Lato', sans-serif; text-align: left;text-decoration: none;font-size: 14px; letter-spacing:1px;}
.footer-links li a i{padding-right:10px;}
.footer-links li:last-child{ border-bottom: none; }

.footer-widget-content{ text-align: center; }
.footer-widget-content p{font-family: 'Open Sans', sans-serif;font-weight: normal;font-size: 14px;color:#fff;line-height: 24px;} 
.footer-logo{ margin:0; padding:0; list-style:none;}
.footer-logo li {display: inline-block;}


 .fwidget-list li {display: block; margin-bottom: 10px; } 
 .fwidget-list li.f-address {margin-bottom: 22px;display: block;font-size: 14px;letter-spacing: 0;font-weight: 400;color: #fff;font-family: 'Open Sans',sans-serif;}
 .fwidget-list li.f-address span {display: block; margin-top: 8px; }
.fwidget-list li i{padding-right:10px;}
.fwidget-list li a {display: block;font-size: 14px;letter-spacing: 0;font-weight: 400;color: #fff;font-family: 'Open Sans',sans-serif;}
.fwidget-list li a:hover {color:#67b9cc; }



.f-social {text-align: left;}
.f-social ul li {    margin: 0 5px 0 0; display: inline-block; } 
.f-social ul li a {display: block; height: 35px; width: 35px; color: #dadada;  border: 1px solid #dadada; border-radius: 50%; text-align: center; line-height: 35px; font-size: 15px; }
.f-social ul li a:hover {color: #fff;border: 1px solid #67b9cc;background: #67b9cc;}

.footer-bottom {background:#1c1c1c; padding: 10px;}
.footer-bottom p{color: #fff;font-size: 14px; letter-spacing:1px;     margin: 0;  text-align: center; }
.copyright a{color:#fff;font-size: 14px; letter-spacing:1px;}







/***
====================================================================
	step
====================================================================
***/

.step-infor-section {padding: 40px 0;    background: #f7f9f8; } 
.step-infor-box-content{padding:0px;position: relative;display: block;background: #fff;margin-bottom: 0px;}
.step-infor-list-box {background: #ffffff; padding: 20px; margin-bottom: 10px; } 
.step-infor-list-box .step-infor-box-content{margin-bottom: 0px;    padding: 0px;}
.step-infor-box-content h2 {color: #000;font-family: 'Open Sans',sans-serif;font-size: 16px;font-weight: 700;text-align: left;} 
.step-infor-box-content p {font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}

.desc_wrap {    color: #000; margin: 0; padding: 0; list-style-type: square; list-style-position: inside; } 
.desc_wrap li {margin: 5px auto; }
.desc_wrap li span.desc_title_helper{font-family: 'Open Sans',sans-serif;color: #000;font-size: 13px;font-weight: 700;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}
.desc_wrap li span.desc_title_helper_examples{font-family: 'Open Sans',sans-serif;color: #6a6a6a;font-size: 13px;font-weight: 400;letter-spacing: 1px;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}
.step-infor-form-box{padding: 30px 0 0 0;}

.step-infor-form-box {width: 50%;}

.desc_wrap-example{padding: 0px 0;      display: flex;vertical-align: middle;}
.desc_wrap-example span{padding: 5px;font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}
.desc_wrap-example span a{color: #ff9b01 !important; cursor: pointer;}

.we-form-box .form-control:focus ~ label,
.we-form-box .form-control:not(:focus):valid ~ label{ top: -35px;opacity: 1; color: #000;}
.we-form-box label{color: #e6e6e6;font-size: 13px;position: absolute;pointer-events: none;left: 0;top: 0;-webkit-transition: .2s ease all;-moz-transition: .2s ease all;transition: .2s ease all;padding: 10px;text-transform:  uppercase;font-weight: 600;}

.we-form-box  .form-control{color: #000;display: block;padding: 10px;width: 100%;transition: all 700ms ease 0s;background: #ffffff;border: 1px solid #ebebec;font-size: 14px;outline:  none;}
.we-form-box  .form-control:focus {color: #000;border: 1px solid #a044f1;box-shadow: 0px 0px 6px #e4e4e4;}

.sqft_area {position: relative; width: 200px;  } 
.sqft_input{color: #000;width: 100%; display: inline-block; padding: 10px; transition: all 700ms ease 0s; background: #ffffff; border: 1px solid #ebebec; font-size: 14px; outline: none; }
.sqft_icon {display: inline-block; position: absolute; background-color: #a044f1; border-radius: 0px 5px 5px 0; color: #fafafa; font-size: 14px; padding: 8px; right: 0; top: 0; }

.custom-control-label{font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;letter-spacing: 1px;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}


.file-uploader {display: block; width: 100%; padding: 16px; background: #fafbfd; border-radius: 6px; line-height: normal; margin: 0 auto; text-align: left; }
.file-uploader-input {padding: 56px 0; background: #fff; border: 2px dashed #c2cdda; text-align: center; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; overflow: hidden; }
 .file-uploader-input-button {padding: 12px 18px; background: #673AB7; background: -moz-linear-gradient(-45deg,#a044f1 0,#673AB7 100%); background: -webkit-linear-gradient(-45deg,#a044f1 0,#673AB7 100%); background:linear-gradient(135deg,#a044f1 0,#673AB7 100%); background-size: 140% auto; background-position: center; color: #fff;display: inline-block; margin: 0; padding: 14px 20px; border: none; border-radius: 6px; outline: 0; font-weight: 700; cursor: pointer; vertical-align: middle; text-decoration: none; }
.file-uploader-input img {display: block; max-width: 64px; margin: 0 auto; margin-bottom: 30px; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.file-uploader-input-inner {text-align: center; margin: 0 auto; }
.file-uploader-input h3 {background: none; border: none; font-size: 18px; font-weight: bold; color: #555a6b; white-space: normal; }

.step-btn-box{text-align: right;}
.back-btn{
	border: solid 2px #9e5bbd;
    color: #9e5bbd;
    display: inline-block;
    padding: 6px 20px;
    margin: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    font-family: TrioGrotesk;
} 
.next-btn{ border: solid 2px #c3e66c;
    color: #c3e66c;
    padding: 6px 20px;
    margin: 0 10px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    font-family: TrioGrotesk; }
.next-btn:hover{ color: #fff; background:#c3e66c;}
.back-btn:hover{color: #fff; background:#9e5bbd;}



.currency-change-list {padding: 10px 0 0 0; text-align: left; margin:0 auto 30px; } 
.currency-change-list ul {margin: 0; padding: 0; list-style: none; }
.currency-change-list ul li {display: inline-block; } 
.checkbox-box input[type=checkbox]+label {cursor: pointer; font-size: 14px; } 
.checkbox-box input[type=checkbox]+label {background-color: #fff; padding:10px; display: inline-block; position: relative; color: #000; width:50px;border-radius: 5px; height: 50px; border:1px solid #eee;text-align: center; font-weight: bold; }
.checkbox-box input[type="checkbox"], 
.checkbox-box input[type="checkbox"] {position: absolute; opacity: 0; z-index: 1; }

.checkbox-box input[type=checkbox]+label:after {content: ' '; width: 50px; position: absolute; top: 0; left: 0; height: 50px; }
.checkbox-box input[type=checkbox]+label:before {content: ' '; border-radius: 5px; width: 50px; position: absolute; top: 0; left: 0; z-index: 999; height: 50px; display: none; border:1px solid #9d43ed; display: none; }
.checkbox-box input[type=checkbox]:checked+label{color:#9d43ed;} 
.checkbox-box input[type=checkbox]:checked+label:before {display: block; color:#9d43ed; }

.btn-Availability{border:none; outline:none;box-shadow:0 4px 15px 0 rgba(119, 61, 199, 0.26); margin-bottom: 0; padding: 10px 50px; border-radius: 50px; background-color: #ffd313; font-size: 14px; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: bold;background: #673AB7; background: -moz-linear-gradient(-45deg,#a044f1 0,#673AB7 100%);    background: -webkit-linear-gradient(-45deg,#a044f1 0,#673AB7 100%); background: linear-gradient(135deg,#a044f1 0,#673AB7 100%); } 

.listing-change-list-box{position: relative;z-index: 9;margin-bottom: 20px;background: #fff;padding: 20px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;border-radius: 2px;border: 1px solid #eee;} 
.listing-change-list-box:hover{-webkit-box-shadow: 0 0px 30px rgba(15, 60, 216, 0.08);box-shadow:0 0px 30px rgba(15, 60, 216, 0.08);} 

.listing-change-list-box h2 {color: #a044f1;font-family: 'Open Sans',sans-serif;font-size: 18px;font-weight: 700;text-align: left;} 
.listing-change-list {padding: 10px 0 0 0; text-align: left; margin: 0 auto; } 
.listing-change-list-box ul{margin: 0; padding: 0; list-style: none; }
.listing-change-list-box ul li {display: inline-block;width: 100%;} 
.listing-change-list-box p {font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 600;letter-spacing: 1px;text-align: justify;     /* fallback */      /* fallback */ /* number of lines to show */background: #f7f9f8;padding: 10px;margin-bottom: 3px;}

.pricing_area {position: relative; width: 200px;  }
.pricing_area-input{color: #000;width: 100%;padding-left: 45px; display: inline-block; padding: 10px; transition: all 700ms ease 0s; background: #ffffff; border: 1px solid #ebebec; font-size: 14px; outline: none; }
.pricing_area-icon {display: inline-block;position: absolute;background-color: #a044f1;border-radius: 5px 0px 0px 5px;color: #fafafa;font-size: 14px;padding: 8px 15px;left: 0;top: 0;}
.pricing_area label{ padding-left: 45px;}


.amens-checkboxe-list{list-style: none;padding: 0; margin: 0;}
.amens-checkboxe-list li{display: inline-block; width: 33%;}
.checkbox-box-amenities{display:inline-block; width:100%;position: relative;padding-left: 35px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;text-align: justify;margin-bottom: 10px;} .checkbox-box-amenities input {position: absolute; opacity: 0; cursor: pointer; }
.checkbox-box-amenities input {position: absolute; left: 0;opacity: 0; cursor: pointer; width: 100%; height: 100% }
.checkbox-box-amenities label{position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #eee; } 
.checkbox-box-amenities:hover input ~ label {background-color: #ccc; }
.checkbox-box-amenities input:checked ~ label {background-color: #a44bf2; }
.checkbox-box-amenities label:after {content: ""; position: absolute; display: none; }
.checkbox-box-amenities input:checked ~ label:after {display: block; } 
.checkbox-box-amenities label:after {left: 10px; top:7px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.btn-button{ outline:none; border:none;box-shadow:0 4px 15px 0 rgba(119, 61, 199, 0.26); margin-bottom: 0; padding: 10px 50px; border-radius: 50px; background-color: #ffd313; font-size: 14px; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: bold;background: #673AB7; background: -moz-linear-gradient(-45deg,#a044f1 0,#673AB7 100%);    background: -webkit-linear-gradient(-45deg,#a044f1 0,#673AB7 100%); background: linear-gradient(135deg,#a044f1 0,#673AB7 100%); } 
.btn-button:hover
{color: #fff}



.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}
.custom-radio .custom-control-label::before {
    border-radius: 50%;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E);
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff;
}.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #007bff;
}.custom-radio .custom-control-label::before {
    border-radius: 50%;
}
.btn-button{ outline:none; border:none;box-shadow:0 4px 15px 0 rgba(119, 61, 199, 0.26); margin-bottom: 0; padding: 10px 50px; border-radius: 50px; background-color: #ffd313; font-size: 14px; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: bold;background: #673AB7; background: -moz-linear-gradient(-45deg,#a044f1 0,#673AB7 100%);    background: -webkit-linear-gradient(-45deg,#a044f1 0,#673AB7 100%); background: linear-gradient(135deg,#a044f1 0,#673AB7 100%); } 
.btn-button:hover
{color: #fff}

.has-success .form-control {
    border-color: #28a745;
    -webkit-box-shadow: inset 0 1px 1px rgba(40,167,69,.075);
    box-shadow: inset 0 1px 1px rgba(40,167,69,.075);
}
.has-error .form-control {
    border-color: #dc3545 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}
.error{ color: #dc3545; font-size: 90%;}
.error.help-block{ color: #dc3545; font-size: 90%;}
.error p{ color: #b70606;}

.slide-content{position: relative; height:668px; overflow: hidden;}

.slide-content {background: #f5f5f5; border-bottom: 1px solid #eee;}
.header-overlay {display: block; position: absolute; left: 0px; width: 100vw; height: 60px; background-color: #fff; z-index: 9; border-bottom: solid 1px #eaebec; -webkit-transition: opacity 300ms linear; -moz-transition: opacity 300ms linear; -ms-transition: opacity 300ms linear; -o-transition: opacity 300ms linear; transition: opacity 300ms linear; }
.header-overlay .listing-label {position: absolute; left: 60px; top: 14px; color: #1a1a1a; font-size: 18px; font-weight: bold; } 
.u-mob-sidebar {position: absolute; left: 0; right: 0; top: 50px; bottom: 0; overflow-x: hidden; } 
.tp-left-box {position: absolute; left: 0; top: 0; bottom: 0; right: 0; margin-right: 40%; z-index: 1; } 
.tp-q-box {position: absolute; left: 0; right: 0; top: 0px; height: 100%; background-color: #fff; } 
.tp-right-box {position: absolute; right: 0; top: 0; bottom: 0; width: 40%; border-left: 1px solid #ddd; background: #fff; } 
.tu-q-body {position: absolute; top:0px; left: 0; right: 0; bottom: 45px; overflow-y: auto; } 
.tu-q-body-inner {padding:40px 60px; }
.tu-qp-action-controls {position: absolute; left: 0; bottom: 0; right: 0; height: 60px; background-color: #fff; padding: 8px 8px 0; box-shadow: 0 -1px 0 #e1e8ed; transition: all .3s cubic-bezier(0.165,.84,.44,1); } .tu-question-List {position: absolute; left: 0; right: 0; top: 0px; bottom:0; margin: 0; padding: 8px; overflow: auto; }

.listing-help {display: block; position: relative; padding: 15px 30px; } 
.listing-help .listing-help-image img { /*display: block;*/ position: relative;margin: 0px auto 22px;width: 70%;}

.listing-help .listing-help-text {font-size: 16px; line-height: 1.4em; }
.listing-help .listing-help-text  p {font-family: 'Open Sans',sans-serif;color: #000;font-size: 14px;font-weight: 400;text-align: justify;line-height: 27px;     /* fallback */      /* fallback */ /* number of lines to show */}


select.ar-select {padding: 10px 10px; font-size: 14px; font-weight: 600; height: 50px; width: 50%; border: 1px solid #d6d1e0; }

.ar-field-list {display: block; position: relative; }
.av-field-list{list-style: none;}
.av-field-list li {display: inline-block;     margin-bottom: 2px;width: 48%; border: 1px solid #eee; box-shadow: 0 0px 30px rgba(177, 194, 255, 0.2); background: #fff; }
.ar-field-list label {display: block; position: relative; cursor: pointer; min-height: 60px; padding: 0px; margin: 0px; }
.av-field-list label input[type="radio"] {position: absolute; opacity: 0; } 
.av-field-list label[type="radio"] {box-sizing: border-box; font-size: 1em; width: 1em; height: 1em; line-height: 1.2em; border-radius: 50%; padding: 0px; margin: 0px; margin-left: -1.3em; background-color: #6d6e71; border: solid 0.5em #fff; vertical-align: middle; cursor: pointer; -webkit-box-shadow: 0px 0px 0px 1px #d2d2d2; -moz-box-shadow: 0px 0px 0px 1px #d2d2d2; box-shadow: 0px 0px 0px 1px #d2d2d2; -webkit-transition: border 150ms linear; -moz-transition: border 150ms linear; -ms-transition: border 150ms linear; -o-transition: border 150ms linear; transition: border 150ms linear; } 
.av-field-list label .ar-field-list-option {display: block; position: relative; left: 0px; top: 0px; width: 100%; height: 100%; padding: 20px 16px; font-size: 16px; line-height: 1.2em; z-index: 1; } 
.ar-field-list-option:hover {background-color: #dde3f9; } 
.av-field-list label input[type="radio"]:checked+.ar-field-list-option {background-color:#dde3f9; }

.av-field-list label input[type="radio"]:hover+ .ar-field-list-option:after {content: "\f00c"; display: block; position: absolute; right: 20px; top: 22px; font-family: 'FontAwesome'; font-size: 16px; color: #6d6e71; }
.av-field-list label input[type="radio"]:checked+.ar-field-list-option:after {content: "\f00c"; display: block; position: absolute; right: 20px; top: 22px; font-family: 'FontAwesome'; font-size: 16px; color: #6d6e71; }

.error.help-block {color: #dc3545; font-size: 90%; position: absolute; left: 0; top: 100%; }

.select2-container--default .select2-selection--single {background-color: #fff !important; border: 1px solid #eaebec !important; border-radius: 4px !important; height: auto !important; padding: 8px 10px; font-size: 14px; color: #000; }
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 40px !important;}


.next-btn:not(:disabled):not(.disabled).active, 
.next-btn:not(:disabled):not(.disabled):active {
    background-image: none;
    background: #c3e66c;
}


.step-success-box {
    width: 50%;
    background-color: #fff;
    padding: 30px;
    position: relative;
    -webkit-box-shadow: 0 0px 24px rgba(76, 175, 80, 0.15);
    box-shadow: 0 0px 24px rgba(76, 175, 80, 0.15);
    margin:  0 auto;
}

.step-success-box-inner {
    padding: 15px;
    text-align: center;
    position: relative;
    border: 1px solid #4CAF50;
    min-height: 320px;
    text-align: center;
    display:  flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.step-success-box-inner  h2 {font-size: 40px;padding-bottom: 0px;position: relative;margin-top: 0;margin-bottom: 25px;font-family: 'Open Sans',sans-serif;font-weight: 700;color: #4CAF50;padding-top: 0;}
.step-success-box-inner  p {font-family: 'Open Sans',sans-serif;color: #000;font-size: 20px;font-weight: 400;letter-spacing: 1px;text-align: center;line-height: 30px;     /* fallback */      /* fallback */ /* number of lines to show */}



/***
====================================================================
	User Profile
	====================================================================
***/

.user-dashboard-section{background:#f4f8f9; padding: 30px 0;}
.user-info-box{padding: 20px;display:  inline-block;background:#fff; width: 100%;}
.user-profile {text-align: center;position: relative;}
.user-profile .profile-img {width: 100px; margin: 0 auto; border-radius: 100%; height: 100px; overflow:  hidden; position:  relative; border: 2px solid #f4f8f9; } 
.user-profile .profile-img img {width: 100%; border-radius: 100%; } 
.user-profile .profile-text {padding: 20px 0 10px;position: relative;font-size:  16px;font-weight:  bold;color: #000;letter-spacing:  0.5px;}
.user-profile .profile-text a {color: #54667a; } 
.user-info-list{position: relative;border-bottom: 1px solid #f4f8f9;display: flex;width: 100%;padding: 16px 0;}
.user-info-list-icon {vertical-align: middle;padding-right: 20px;}
.user-info-list-icon i{ color:#00008b; font-size:24px}
.user-info-list-content {position: relative;vertical-align: top;}
.user-info-list-content p{font-family: 'Open Sans', sans-serif;text-align: left;text-decoration: none;font-size: 14px;color:#444242;line-height: 26px;margin: 0;letter-spacing: 0.5px;}
.user-info-content-box {margin-top:30px; }
.user-info-content-box h2 {font-size: 18px;position: relative;margin: 0;font-family: 'Open Sans',sans-serif;font-weight: bold;color: #000;}


.user-tabs-box .nav-tabs {background: #e2e9ea; }
.user-tabs-box .nav-tabs .nav-link{ border-radius:0;font-family: 'Open Sans', sans-serif;text-align: left;text-decoration: none;font-size: 14px;color:#444242;line-height: 26px;margin: 0;letter-spacing: 0.5px;}
.user-tabs-box .nav-tabs .nav-item.show .nav-link, 
.user-tabs-box .nav-tabs .nav-link.active {color: #a044f1;background-color: transparent;border-color: transparent;border-bottom: 2px solid #9f44f0;font-weight:  bold;}

.user-tabs-box .tab-content .tab-content-body{padding: 20px 0;}
.tab-content-list { position: relative; padding: 10px; background: #f4f8f9; width: 100%; } 
.tab-content-information h2{font-size: 18px;position: relative;margin: 0;font-family: 'Open Sans',sans-serif;font-weight: bold;color: #000;}
.tab-content-information p{font-family: 'Open Sans', sans-serif;text-align: left;text-decoration: none;font-size: 14px;color:#444242;line-height: 26px;margin: 0;letter-spacing: 0.5px;}

.tab-content-information h2 a{font-size: 18px;position: relative;margin: 0;font-family: 'Open Sans',sans-serif;font-weight: bold;color: #000;}

.tab-content-list-inner{position: relative; padding: 30px; background-color: #ffffff; } 
.tab-content-list-inner:hover {-webkit-box-shadow: 0 13px 6px -6px #ededed; -moz-box-shadow: 0 13px 6px -6px #ededed; box-shadow: 0 13px 6px -6px #ededed; }
.tab-content-information-price .btn {line-height: 1;font-weight: 600;overflow: hidden;padding: 10px 25px;position: relative;border-radius: 4px;display: inline-block;font-size: 14px;text-transform: uppercase;background: rgb(159,67,239);background: -moz-linear-gradient(left, rgba(159,67,239,1) 0%, rgba(98,7,178,1) 100%);background: -webkit-linear-gradient(left, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);background: linear-gradient(to right, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f43ef', endColorstr='#6207b2',GradientType=1 );color: #fff;outline: none;text-align: center;box-shadow: 0 4px 15px 0 rgba(152, 60, 232, 0.42);}
.tab-content-information-price .btn:not(:disabled):not(.disabled).active, 
.tab-content-information-price .btn:not(:disabled):not(.disabled):active{background: #660bb6;}


.tab-content-media img {width: 100%; opacity: 1; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; transition: all .3s ease-in-out; } 
.tab-content-media img:hover {opacity: 0.7; filter: alpha(opacity=70); } 
.tab-content-media{background-color: #f3f6f9; border: 1px solid #e9ecef; display: inline-block; max-width: 100%; height: auto; padding: 4px; line-height: 1.42857143; border-radius: 4px; } 
.upload-btn-wrapper {position: relative; overflow: hidden; display: inline-block; padding: 10px 20px; margin-bottom: 30px;  } 
.upload-btn-wrapper .btn{ 
    font-family: TrioGrotesk;
    margin-bottom: 0;
    padding: 8px 20px;
    background-color: #c3e66c;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
   background: #c3e66c;
    background: -moz-linear-gradient(left, rgba(255,211,19,1) 0%, rgba(255,152,0,1) 100%);
    background: -webkit-linear-gradient(left, #c3e66c 0%,#c3e66c 100%);
    background: linear-gradient(to right, #c3e66c 0%,#c3e66c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd313', endColorstr='#ff9800',GradientType=1 );
	} 
.upload-btn-wrapper input[type=file] {font-size: 100px; position: absolute; left: 0; top: 0; opacity: 0; }

.tab-content-information-price h4{font-size: 18px;position: relative;margin: 0;font-family: 'Open Sans',sans-serif;font-weight: bold;color: #000;}
.tab-content-list-inner .Status-box span {padding-right: 10px; color: #000;font-size: 12px; }
.tab-content-list-inner .Status-box span a{padding-right: 10px; color: #000;font-size: 12px; }
.Status-box {margin-top: 10px; }

.btn-box {margin-top: 20px; text-align: center;}
.btn-box ul{list-style: none; margin:0; padding: 0;}
.btn-box ul li{ display: inline-block;}
.btn-box .btn {line-height: 1;font-weight: 600;overflow: hidden;padding: 10px;position: relative;border-radius: 4px;display: inline-block;font-size: 14px;text-transform: uppercase;background: #fff;color: #660bb6;outline: none;text-align: center;box-shadow: 0 4px 15px 0 rgba(152, 60, 232, 0.42);border: 1px solid #660bb6;}
.user-profile-media {width: 100px; height: 100px; margin: 0 auto; overflow: hidden; background: #fff; position: relative; border-radius: 1px;padding: 5px; border: 1px solid #f4f8f9; } 
.profile-form-content h2{font-size: 18px;position: relative;margin: 0;font-family: 'Open Sans',sans-serif;font-weight: bold;color: #000;}

.profile-form-content label{font-size: 14px;position: relative;margin: 0;font-family: 'Open Sans',sans-serif;font-weight: bold;color: #000;}

.checkout-payment_methods{list-style: none;}
.checkout-payment_methods li{ padding: 20px; border:2px solid #eee; margin-bottom: 10px; }
.checkout-payment_methods li .payment_box_method_bacs p{text-align: left;}
.checkout-payment_methods li label.payment_method{font-weight: bold;font-family: 'Open Sans', sans-serif;font-size: 14px;color: #626c84;letter-spacing: 0.5px;font-style: italic;}
.Shop_CheckOut_area {border: 1px solid #eee; margin-bottom: 20px; padding: 20px; }
.dh-form-box{ position:relative;} 
.form-control-icon{position: absolute;top: 10px;right: 0;z-index: 2;width: 34px;height: 34px;text-align: center;pointer-events: none;bottom: 0;font-size: 18px !important;}
.bag-payment-options {padding: 30px 0;}
.bag-payment-options-title{display: block;text-align: justify;font-family: 'Roboto', sans-serif;color:#000;font-size: 14px;margin: 0;padding: 0;font-weight: 600; margin-bottom:20px;}
.bag-payment-options p{display: block;text-align: justify;font-family: 'Roboto', sans-serif;color:#000;font-size: 12px;font-weight: 400;margin-top: 10px;}
 a.about_paypal {position: relative; font-family: 'Open Sans', sans-serif; font-size: 14px; margin-top: 0; color: #626c84; letter-spacing: 0.5px; font-style: italic; }

.bag-payment-options p{display: block;text-align: justify;font-family: 'Roboto', sans-serif;color:#000;font-size: 12px;font-weight: 400;margin-top: 10px;}
.payment_box_method_bacs label{font-size: 13px;position: relative;margin: 0;font-family: 'Open Sans',sans-serif;font-weight: bold;color: #000;}
.payment_box_method_bacs p{font-size: 13px;position: relative;font-family: 'Open Sans',sans-serif;color: #333;line-height: 24px;}
.payment_box_method_bacs .dh-form-box ::-webkit-input-placeholder{font-size: 12px;}
.payment_box_method_bacs.dh-form-box  ::-moz-placeholder{font-size: 12px;}
.payment_box_method_bacs.dh-form-box  :-ms-input-placeholder {font-size: 12px;}
.payment_box_method_bacs.dh-form-box  :-moz-placeholder{font-size: 12px;}
.payment_box_method_bacs .button {line-height: 1;font-weight: 600;overflow: hidden;padding: 10px;position: relative;border-radius: 4px;display: inline-block;font-size: 14px;text-transform: uppercase;background: #fff;color: #660bb6;outline: none;text-align: center;box-shadow: 0 4px 15px 0 rgba(152, 60, 232, 0.42);border: 1px solid #660bb6;}
.checkout-payment_methods h2{font-size: 18px;position: relative;margin: 0;font-family: 'Open Sans',sans-serif;font-weight: bold;color: #000;}


.save-button{background: rgb(159,67,239);background: -moz-linear-gradient(left, rgba(159,67,239,1) 0%, rgba(98,7,178,1) 100%);background: -webkit-linear-gradient(left, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);background: linear-gradient(to right, rgba(159,67,239,1) 0%,rgba(98,7,178,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f43ef', endColorstr='#6207b2',GradientType=1 );border: none;color: #fff;font-weight: bold;outline: none;text-align: center;padding: 10px 45px;font-size: 16px;border-radius: 6px;box-shadow: 0 4px 15px 0 rgba(152, 60, 232, 0.42);} 
.save-button:hover {color: #fff;box-shadow: none;}


/***
====================================================================
	list filter Search
	====================================================================
***/

.list-venue-content{position: relative; height:668px; overflow: hidden;}

.list-venue-content{background: #f5f5f5; border-bottom: 1px solid #eee;}
.list-venue-header-overlay {display: block; position: relative; left: 0px; width:100%; height: auto; background-color: #fff; z-index: 9; border-bottom: solid 1px #eaebec; -webkit-transition: opacity 300ms linear; -moz-transition: opacity 300ms linear; -ms-transition: opacity 300ms linear; -o-transition: opacity 300ms linear; transition: opacity 300ms linear; }
.list-venue-header-overlay  .listing-label {position: absolute; left: 60px; top: 14px; color: #1a1a1a; font-size: 18px; font-weight: bold; } 
.list-venue-sidebar{position: absolute; left: 0; right: 0; top: 0px; bottom: 0; overflow-x: hidden; } 
.list-venue-left-box {position: absolute; left: 0; top: 0; bottom: 0; right: 0; margin-right: 40%; z-index: 1; } 
.list-venue-box{position: absolute; left: 0; right: 0; top: 0px; height: 100%; background-color: #fff; } 
.list-venue-right-box {position: absolute; right: 0; top: 0; bottom: 0; width: 40%; border-left: 1px solid #ddd; background: #fff; } 
.list-venue-body{position: absolute; top:18%; left: 0; right: 0; bottom: 45px; overflow-y: auto; } 
.list-venue-q-body-inner {padding:40px 60px; }
.list-venue-qp-action-controls{position: absolute; left: 0; bottom: 0; right: 0; height: 60px; background-color: #fff; padding: 8px 8px 0; box-shadow: 0 -1px 0 #e1e8ed; transition: all .3s cubic-bezier(0.165,.84,.44,1); } .tu-question-List {position: absolute; left: 0; right: 0; top: 0px; bottom:0; margin: 0; padding: 8px; overflow: auto; }
.list-venue-right-body{position: absolute; top:0px; left: 0; right: 0; bottom: 45px; overflow-y: auto;}
.list-venue-right-box-body #map{display: block; position: fixed; right: 0px; top: 0px; width:100%; height: calc(100vh - 0px);}

.search-filters-group {border-right: 1px solid #eee;}
.search-filters-box {padding: 0px 30px; }
.search-filters-box .form-group{ margin-bottom: 0; }

.search-filters-box .search-filters-group .form-control{border:none; padding: 15px 15px;}
.search-filters-box .search-filters-group .form-control:focus{ box-shadow: none; }

.search-filters {display: block;position: relative;width: 100%;background-color: #f7f7f7;z-index: 4;padding: 10px 30px;} 
.search-filters .search-filters-main {display: block; position: relative; margin-top: 50px; width: 100%; z-index: 1; padding: 10px 36px 19px; background-color: #ffffff; border-bottom: solid 1px #d6d6d6; }

.filter-buttons-list{ margin:0; padding: 0; list-style: none; }
.filter-buttons-list li{display: inline-block; background: #fff; }

.filter-tab{padding: 10px; border:1px solid #eee;}
.filter-buttons-list li .filter-wrp-dropdown .triangle {width: 24px; height: 14px; display: block; top: -15px; position: absolute; }
.filter-buttons-list li .filter-wrp-dropdown .triangle:before {border: 0 solid transparent; border-right-width: 12px; border-left-width: 12px; border-bottom: 14px solid #d6d6d6; display: block; content: ''; width: 0px; margin: 0px auto; position: relative; }
.filter-buttons-list li .filter-wrp-dropdown .triangle:after {border: 0 solid transparent; border-right-width: 12px; border-left-width: 12px; border-bottom: 14px solid #ffffff; display: block; content: ''; width: 0px; margin: 0px auto; top: -13px; position: relative; } .filter-buttons-list li .filter-wrp-dropdown{display: none;}
.wrp-dropdown-width{width: 400px !important;}
.wrp-dropdown-full-width{width: 100% !important; left: 0 !important;}
.filter-wrp-dropdown-full-inner{overflow: auto; height: calc(100vh - 220px);}

.filter-buttons-list li.filteractive .filter-wrp-dropdown{display: block;width: 600px;border: solid 1px #d6d6d6;height: auto;overflow: visible;opacity: 1;top: 100%;left: 20px;z-index: 10;position: absolute;box-shadow: 0px 0px 15px rgba(0,0,0,0.2);-webkit-transition: opacity 300ms 150ms linear;-moz-transition: opacity 300ms 150ms linear;-ms-transition: opacity 300ms 150ms linear;-o-transition: opacity 300ms 150ms linear;transition: opacity 300ms 150ms linear;background: #fff;padding: 20px;}
.filter-buttons-list li a{display: block;text-align: justify;font-family: 'Roboto', sans-serif;color:#000;font-size: 12px;font-weight: 600;}

.filter-wrp-dropdown-inner{margin-bottom: 30px;}
.filter-wrp-dropdown-inner h2{font-size: 18px;position: relative;margin: 0;font-family: 'Open Sans',sans-serif;font-weight: bold;color: #000;}
.filter-field-list {display: block; position: relative; }
.filter-field-list{list-style: none;}
.filter-field-list li {display: inline-block;     margin-bottom: 2px;width:32%; border: 1px solid #eee; box-shadow: 0 0px 30px rgba(177, 194, 255, 0.2); background: #fff; }
.filter-field-list label {display: block; position: relative; cursor: pointer; padding: 0px; margin: 0px; }
.filter-field-list label input[type="checkbox"] {position: absolute; opacity: 0; } 
.filter-field-list label[type="checkbox"] {box-sizing: border-box; font-size: 1em; width: 1em; height: 1em; line-height: 1.2em; border-radius: 50%; padding: 0px; margin: 0px; margin-left: -1.3em; background-color: #6d6e71; border: solid 0.5em #fff; vertical-align: middle; cursor: pointer; -webkit-box-shadow: 0px 0px 0px 1px #d2d2d2; -moz-box-shadow: 0px 0px 0px 1px #d2d2d2; box-shadow: 0px 0px 0px 1px #d2d2d2; -webkit-transition: border 150ms linear; -moz-transition: border 150ms linear; -ms-transition: border 150ms linear; -o-transition: border 150ms linear; transition: border 150ms linear; } 
.filter-field-list label .ar-field-list-option {display: block;position: relative;left: 0px;top: 0px;width: 100%;height: 100%;padding: 15px 15px;font-size: 13px;line-height: 1.2em;z-index: 1;} 
.filter-field-list-option:hover {background-color: #f7f7f7; } 
.filter-field-list label input[type="checkbox"]:checked+.ar-field-list-option {background-color:#f7f7f7; }

.filter-field-list label input[type="checkbox"]:hover+ .ar-field-list-option:after {content: "\f00c"; display: block; position: absolute; right: 5px; top: 15px; font-family: 'FontAwesome'; font-size: 16px; color: #6d6e71; }
.filter-field-list label input[type="checkbox"]:checked+.ar-field-list-option:after {content: "\f00c"; display: block; position: absolute; right: 5px; top: 15px; font-family: 'FontAwesome'; font-size: 16px; color: #6d6e71; }

.fiiter-footer-action-controls{position: relative;width: 100%;bottom: 0px;padding: 10px 0;background-color: #fff;border-top: 1px solid #eee;}
button.reset-btn {outline:none;background: #fff; font-size: 14px; text-align: left; border: 1px solid #d5d7e9; padding: 7px 15px; border-radius: 2px; box-shadow: 0 0 20px #ebedf6; font-weight: bold; }
button.Apply-btn {outline:none;background: rgb(255,211,19);background: -moz-linear-gradient(left, rgba(255,211,19,1) 0%, rgba(255,152,0,1) 100%);background: -webkit-linear-gradient(left, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%);background: linear-gradient(to right, rgba(255,211,19,1) 0%,rgba(255,152,0,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd313', endColorstr='#ff9800',GradientType=1 );font-size: 14px;text-align: left;border: none;padding: 7px 15px;border-radius: 2px;font-weight: bold;box-shadow: 0 4px 15px 0 rgba(255, 152, 0, 0.38);color: #fff;}


.plus-minus-input {-webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.plus-minus-input .input-group-field {text-align: center;margin-left: 0.5rem;margin-right: 0.5rem;padding: 8px;border: 1px solid #29054a;font-size:  14px;color: #29054a;}
.plus-minus-input .input-group-field::-webkit-inner-spin-button, .plus-minus-input .input-group-field ::-webkit-outer-spin-button {-webkit-appearance: none; appearance: none; }
.plus-minus-input .input-group-button .circle {border-radius: 3px; padding: 10px 18px; background: #29054a; color: #fff; border: none; outline: none; }


/*price-range */
#ranged-value{ padding:0px 0;width: 100%;}
.fsslider{position:relative;min-width:300px;height:24px;display:inline-block;width:100%;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#000;text-align:center;line-height:24px;font-size:11px;font-family:"Lucida Grande","Trebuchet MS",sans-serif}
.fsslider>*{position:absolute;top:50%;cursor:pointer}
.fsslider>.fsfull-value,.fsslider>.fssel-value{margin-top:-1px;height:2px;left:0;right:0}
.fsslider>.fsfull-value{width:100%;background:#d8d8d8}
.fsslider>.fscaret,.fsslider>.fssel-left,.fsslider>.fssel-right{background:#fff;box-shadow:1px 1px 3px rgba(0,0,0,.2);-moz-box-shadow:1px 1px 3px rgba(0,0,0,.2);-webkit-box-shadow:1px 1px 3px rgba(0,0,0,.2);height:100%;min-width:30px;top:0;padding-left:5px;padding-right:5px}
.fsslider>.fssel-value{background:#fe5400;height:4px;margin-top:-2px;right:50%}
.fsslider.fsdisabled{color:#c8c8c8}.fsslider.fsdisabled>.fssel-value{background:#c8c8c8}

.filter-wrp-dropdown-full-item{padding: 20px 0; border-bottom: 1px solid #eee;}
.filter-wrp-dropdown-full-item h2{font-size: 18px;position: relative;margin: 0;font-family: 'Open Sans',sans-serif;font-weight: bold;color: #000;}

.list-venue-body-inner{padding:50px 30px;}

/***
====================================================================
	Venues details
====================================================================
***/
.event-details-section{ padding:30px 0; background:#f9fafc; }
.event-details-section .container{max-width: 95%;}
.event-media-content{height: 380px; overflow: hidden; position:relative;}

#owl-event-media .owl-nav {text-align: center;position: absolute;left: 0;right: 0;top: 0;bottom: 0;}
#owl-event-media .owl-nav div,
#owl-event-media .owl-nav button {position: absolute;} 
#owl-event-media .owl-nav .owl-prev{left: 0;top: 40%;}
#owl-event-media .owl-nav .owl-next {right: 0px;top: 40%;}
#owl-event-media .owl-dots {position: absolute;top: 100%;right: 0;left:  0;}
#owl-event-media .owl-nav [class*=owl-] {color: #670cb7;font-size: 35px;display: inline-block;cursor: pointer;text-transform:uppercase;font-weight:600;background:  #fff;width:  50px;height: 50px;line-height: 50px;}


.event-content-section{padding: 20px 0; clear: both; width: 100%; }
.event-content-tab-box{ width: 100%; }

.link-tabs a {padding: 15px 35px; text-align: center; color: #000; font-size: 16px; display: inline-block; background: #fff; border: 1px solid #eee; font-weight: bold; }
#signupForm .error.help-block{
	right: 0!important;
	left: unset;
}
.av-captcha{ padding:0 10%; margin-bottom:10px;}
.already_account:before{content: "";
    position: absolute;
    top: -1px;
    height: 1px;
    left: 25%;
    right: 25%;
    border-top: 1px solid #dce0e0;
    border-color: #dce0e0;
    border-color: rgba(220,224,224,0.5)
}
.terms-of-service a{ color:#9e5bbd;}
.page_content{ padding: 30px 0;}