select.ar-select {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    width: 50%;
    border: 1px solid #d6d1e0;
}
.ar-field{
	margin-bottom:12px;
}
.label {
    display: block;
    border-radius: 0px;
    font-size: 16px;
    color: #000;
    font-weight: normal;
    padding: 0px;
    text-align: left;
    margin: 14px 0px 8px;
}
