    /*
    Flaticon icon font: Flaticon
    Creation date: 05/04/2018 15:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-list:before { content: "\f100"; }
.flaticon-menu:before { content: "\f101"; }
.flaticon-message:before { content: "\f102"; }
.flaticon-paypal-logo:before { content: "\f103"; }
.flaticon-visa-pay-logo:before { content: "\f104"; }
.flaticon-arrow-pointing-to-right:before { content: "\f105"; }
.flaticon-instagram:before { content: "\f106"; }
.flaticon-twitter:before { content: "\f107"; }
.flaticon-facebook-logo:before { content: "\f108"; }
.flaticon-play-button-2:before { content: "\f109"; }
.flaticon-play-button-1:before { content: "\f10a"; }
.flaticon-envelope:before { content: "\f10b"; }
.flaticon-cell-phone:before { content: "\f10c"; }
.flaticon-placeholder:before { content: "\f10d"; }
.flaticon-right-arrow:before { content: "\f10e"; }
.flaticon-play-button:before { content: "\f10f"; }
.flaticon-favorite:before { content: "\f110"; }
.flaticon-like:before { content: "\f111"; }
.flaticon-magnifying-glass:before { content: "\f112"; }
.flaticon-search:before { content: "\f113"; }
.flaticon-shopping-bag:before { content: "\f114"; }
.flaticon-mouse:before { content: "\f115"; }
    
    $font-Flaticon-list: "\f100";
    $font-Flaticon-menu: "\f101";
    $font-Flaticon-message: "\f102";
    $font-Flaticon-paypal-logo: "\f103";
    $font-Flaticon-visa-pay-logo: "\f104";
    $font-Flaticon-arrow-pointing-to-right: "\f105";
    $font-Flaticon-instagram: "\f106";
    $font-Flaticon-twitter: "\f107";
    $font-Flaticon-facebook-logo: "\f108";
    $font-Flaticon-play-button-2: "\f109";
    $font-Flaticon-play-button-1: "\f10a";
    $font-Flaticon-envelope: "\f10b";
    $font-Flaticon-cell-phone: "\f10c";
    $font-Flaticon-placeholder: "\f10d";
    $font-Flaticon-right-arrow: "\f10e";
    $font-Flaticon-play-button: "\f10f";
    $font-Flaticon-favorite: "\f110";
    $font-Flaticon-like: "\f111";
    $font-Flaticon-magnifying-glass: "\f112";
    $font-Flaticon-search: "\f113";
    $font-Flaticon-shopping-bag: "\f114";
    $font-Flaticon-mouse: "\f115";