	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/04/2018 15:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-list:before { content: "\f100"; }
.flaticon-menu:before { content: "\f101"; }
.flaticon-message:before { content: "\f102"; }
.flaticon-paypal-logo:before { content: "\f103"; }
.flaticon-visa-pay-logo:before { content: "\f104"; }
.flaticon-arrow-pointing-to-right:before { content: "\f105"; }
.flaticon-instagram:before { content: "\f106"; }
.flaticon-twitter:before { content: "\f107"; }
.flaticon-facebook-logo:before { content: "\f108"; }
.flaticon-play-button-2:before { content: "\f109"; }
.flaticon-play-button-1:before { content: "\f10a"; }
.flaticon-envelope:before { content: "\f10b"; }
.flaticon-cell-phone:before { content: "\f10c"; }
.flaticon-placeholder:before { content: "\f10d"; }
.flaticon-right-arrow:before { content: "\f10e"; }
.flaticon-play-button:before { content: "\f10f"; }
.flaticon-favorite:before { content: "\f110"; }
.flaticon-like:before { content: "\f111"; }
.flaticon-magnifying-glass:before { content: "\f112"; }
.flaticon-search:before { content: "\f113"; }
.flaticon-shopping-bag:before { content: "\f114"; }
.flaticon-mouse:before { content: "\f115"; }